<div class="navbar-header">
    <!--
    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle"  ng-show="user">
        <i class="fa fa-bars"></i>
    </button>
    -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <!--<span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>-->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ng-hide="user" href="#"><img src="imgs/logo-mini.png"/></a>
    <a class="navbar-brand" ng-show="user" href="#">{{structure.label}}</a>
</div>
<!-- /.navbar-header -->
<div class="navbar-collapse collapse"  id="bs-navbar-collapse-1">
    <form class="navbar-form navbar-left" ng-show="user"><input type="text" class="form-control col-lg-20 floating-label" placeholder="Search"></form>
    <ul class="nav navbar-nav navbar-right" ng-show="user">
        <li><a href="#/private/profil">{{user.firstname}} {{user.name}} 
                <simple-avatar width="'30px'" person="user" link="'#/private/profil'"></simple-avatar>
            </a>
        </li>

        <li class="divider" ng-show="user.isAdmin"></li>
        <li ng-show="user.isAdmin"><a href="#/admin"><span class="fa fa-cogs"></span>
            {{'navbar.administration' | translate}}</a></li>
        <li><a ng-click="logoff()"><span class="fa fa-power-off"></span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="user">
        <!--  <li><a ng-href="#/pricing"><span class="fa fa-users"></span> {{'navbar.signup' | translate}}</a></li> -->
        <li><a ng-click="openLoginModal()"><span class="fa fa-sign-in"></span> {{'navbar.connect' | translate}}</a></li>
    </ul>
</div>
<!-- /.navbar-collapse -->


<nav class="white" role="navigation">
    <!-- Not connected -->
    <div class="nav-wrapper container" ng-hide="user">
        <a href="#" class="brand-logo"><img src="img/logo-mini.png"/></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">{{'navbar.connect' | translate}}</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">{{'navbar.connect' | translate}}</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
    
    <!-- Connected -->
    <div class="nav-wrapper container" ng-show="user">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="mdi-action-search"></i></label>
                <i class="mdi-navigation-close"></i>
            </div>
        </form>
        
        <a href="#" class="brand-logo">{{structure.label}}</a>
        
        <ul class="right hide-on-med-and-down">
            <li><a href="#/private/profil">{{user.firstname}} {{user.name}}</li>
            <li><a ng-click="logoff()"><span class="fa fa-power-off"></span></a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a ng-click="logoff()"><span class="fa fa-power-off"></span></a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
</nav>