<div class="container">

<!-- space between header menu and body-->
<div class="row s12"></div>

<!-- body start-->
<div class="row">
    <div class="col s12 m6 l8">
        <!-- Event -->
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href='#' class="left waves-effect waves-light white-text"><i class="fa fa-calendar left"></i>{{'headerMenu.calendar' | translate }}</a>
                
                <a href='#' class="right"><i class="mdi-navigation-chevron-right right"></i>Suivant</a>
                <a href="#" class="right"><i class="mdi-navigation-chevron-left left"></i>Précédent</a>
            </div>
        </div>
        
        <!-- Collecte-->
        <div>
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light red lighten-2">
                    <h5 class="card-title">Stats rencontre CRMHB Rennes - USDK Dunkerque</h5>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">15/04/2015 <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#!">Détail</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light red lighten-2">
                    <h5 class="card-title">Stats rencontre Chambéry HB - CRMHB Rennes</h5>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">08/04/2015 <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#!">Détail</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- player list-->
    <div class="col s12 m6 l4">
        <ul class="collection">
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li><li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
            </li>
        </ul>
    
    </div>
</div>
<!-- body end-->
</div>