<div class="container">

<!-- space between header menu and body-->
<div class="row s12"></div>

<!-- body start-->
<div class="row">
    <div class="col s12 m6 l8">
        <!-- Event -->
        <div>
            <div class="card small teal lighten-2">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="img/office.jpg">
                    <h5 class="card-title">CRMHB Rennes - USDK Dunkerque</h5>
                </div>
                <div class="card-content">
                    <span class="card-title blue-grey-text text-darken-1">Mercredi 15 avril 2015, à 20h30, Salle arena Brest</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                <div class="card-action blue-grey lighten-1">
                    <a href='#' class="left waves-effect waves-light white-text"><i class="fa fa-calendar left"></i>{{'headerMenu.calendar' | translate }}</a>

                    <a href='#' class="right white-text"><i class="mdi-navigation-chevron-right right"></i>Suivant</a>
                    <a href="#" class="right white-text"><i class="mdi-navigation-chevron-left left"></i>Précédent</a>
                </div>
            </div>
        </div>
        
        <!-- Collecte-->
        <div>
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light red lighten-2">
                    <h5 class="card-title">Stats rencontre CRMHB Rennes - USDK Dunkerque</h5>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">15/04/2015 <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#!">Détail</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        
        <div>
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light red lighten-2">
                    <h5 class="card-title">Stats rencontre Chambéry HB - CRMHB Rennes</h5>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">08/04/2015 <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="#!">Détail</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- player list-->
    <div class="col s12 m6 l4">
        <ul class="collection">
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
            <li class="collection-item avatar">
              <img src="img/user.png" alt="" class="circle responsive-img">
              <span class="title blue-grey-text text-lighten-1">Title</span>
              <p>First Line <br>
                 Second Line
              </p>
              <a href="#!" class="secondary-content btn-floating waves-effect waves-light blue lighten-1"><i class="fa fa-bar-chart"></i></a>
            </li>
        </ul>
    
    </div>
</div>
<!-- body end-->
</div>