<div>
    <div ng-if="!options.hideToolbar" class="center-align row">
        <span ng-if="!options.widgetButtons">
            <a class='dropdown-button btn colorAccent' href='javascript:void(0);' data-activates='widgetDropdown' dropdown
               data-beloworigin="true"
               data-constrainWidth="false"
               data-hover="true">
                <i class="material-icons">add</i>
            </a>
            <ul id='widgetDropdown' class='dropdown-content'>
                <li ng-repeat="widget in widgetDefs">
                    <a href="#" ng-click="addWidgetInternal($event, widget);" class="dropdown-toggle"><span
                            class="label red-text text-lighten-1" translate="{{widget.title}}"></span></a>
                </li>
            </ul>
        </span>
        
        <button class="waves-effect waves-light btn colorAccent" ng-click="resetWidgetsToDefault()" title="{{dashboard.actionTitle.defaultScreen}}" ><i
                class="material-icons">settings_backup_restore</i></button>

        <button ng-if="options.storage && options.explicitSave" ng-click="options.saveDashboard()"
                class="waves-effect waves-light btn colorAccent" ng-disabled="!options.unsavedChangeCount">{{
            !options.unsavedChangeCount? 'all saved' : '<i class="material-icons">save</i> (' +
            options.unsavedChangeCount + ')' }}
        </button>

        <button ng-click="clear();" type="button" class="waves-effect waves-light btn colorAccent"><i
                class="material-icons">delete</i></button>
    </div>

    <div ui-sortable="sortableOptions" ng-model="widgets" class="dashboard-widget-area row">
        <div ng-repeat="widget in widgets" ng-style="widget.containerStyle" class="widget-container" widget>
            
            <div class="widget" ng-class="widget.classContent">
                <div ng-class="widget.classHeader">
                    <i class="{{widget.icon}}"></i>
                    {{widget.title  | translate}}
                    
                    <span ng-click="removeWidget(widget);" ng-if="!options.hideWidgetClose"><i class="material-icons right">close</i></span>
                    <span ng-click="widget.contentStyle.display = widget.contentStyle.display === 'none' ? 'block' : 'none'">
                        <i class="material-icons right">
                            {{ widget.contentStyle.display ===
                            'none'?'expand_more':''}}{{widget.contentStyle.display !==
                            'none'?'expand_less':''}}
                        </i>
                    </span>
                    <span ng-if="widget.activator"><i class="activator material-icons right">more_vert</i></span>
                </div>
                <div class="widget-content container" ng-style="widget.contentStyle" style="overflow-y: auto;"></div>
                
                <div class="card-reveal">
                    <span class="card-title">
                        <small><i class="{{widget.icon}}"></i>
                        {{widget.title  | translate}}
                        <i class="material-icons right">close</i></small></span>
                    <table>
                        <thead>
                        <tr>
                            <th data-field="indicators"></th>
                            <th ng-repeat="p in series track by $index" data-field="{{p}}" class="center-align" ng-bind="p"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="l in labels track by $index">
                            <td><b ng-bind="l"></b></td>
                            <td ng-repeat="d in data track by $index" data-field="{{d[$parent.$index]}}" class="center-align">
                                {{d[$parent.$index]}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="widget-ew-resizer" ng-mousedown="grabResizer($event)"></div>
                <div ng-if="widget.enableVerticalResize" class="widget-s-resizer" ng-mousedown="grabSouthResizer($event)"></div>
            </div>
        </div>
    </div>
</div>
