<div>
    <div ng-if="!options.hideToolbar" class="center-align">
        <span ng-if="!options.widgetButtons">
            <a class='dropdown-button btn colorAccent' href='javascript:void(0);' data-activates='widgetDropdown' dropdown
               data-beloworigin="true"
               data-constrainWidth="false"
               data-hover="true">
                <i class="material-icons">add</i>
            </a>
            <ul id='widgetDropdown' class='dropdown-content'>
                <li ng-repeat="widget in widgetDefs">
                    <a href="#" ng-click="addWidgetInternal($event, widget);" class="dropdown-toggle"><span
                            class="label red-text text-lighten-1" translate="{{widget.title}}"></span></a>
                </li>
            </ul>
        </span>
        
        <button class="waves-effect waves-light btn colorAccent" ng-click="resetWidgetsToDefault()"><i
                class="material-icons">refresh</i></button>

        <button ng-if="options.storage && options.explicitSave" ng-click="options.saveDashboard()"
                class="waves-effect waves-light btn colorAccent" ng-disabled="!options.unsavedChangeCount">{{
            !options.unsavedChangeCount? 'all saved' : '<i class="material-icons">save</i> (' +
            options.unsavedChangeCount + ')' }}
        </button>

        <button ng-click="clear();" type="button" class="waves-effect waves-light btn colorAccent"><i
                class="material-icons">delete</i></button>
    </div>

    <div ui-sortable="sortableOptions" ng-model="widgets" class="dashboard-widget-area">
        <div ng-repeat="widget in widgets" ng-style="widget.containerStyle" class="widget-container" widget>
            <div class="widget" ng-class="widget.classContent">
                <div ng-class="widget.classHeader">
                    <i class="{{widget.icon}}"></i>
                    <span class="widget-title" ng-dblclick="editTitle(widget)" ng-hide="widget.editingTitle"
                          translate="{{widget.title}}"></span>
                    <form action="" class="widget-title" ng-show="widget.editingTitle"
                          ng-submit="saveTitleEdit(widget)">
                        <div class="input-field col s12">
                            <input type="text" ng-model="widget.title" ng-class="widget.class"/>
                        </div>
                    </form>
                    <span ng-if="!options.hideWidgetName">{{widget.name}}</span>
                    <span ng-click="removeWidget(widget);" ng-if="!options.hideWidgetClose"><i
                            class="material-icons right">close</i></span>
                        <span ng-click="widget.contentStyle.display = widget.contentStyle.display === 'none' ? 'block' : 'none'">
                            <i class="material-icons right">{{ widget.contentStyle.display ===
                                'none'?'arrow_drop_up':''}}{{widget.contentStyle.display !==
                                'none'?'arrow_drop_down':''}}</i>
                        </span>
                </div>
                <div class="widget-content container" ng-style="widget.contentStyle" style="overflow-y: auto;"></div>
                <div class="widget-ew-resizer" ng-mousedown="grabResizer($event)"></div>
                <div ng-if="widget.enableVerticalResize" class="widget-s-resizer"
                     ng-mousedown="grabSouthResizer($event)"></div>
            </div>
        </div>
    </div>
</div>
