<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <div class="row white">
        <div class="col s12">

            <!-- Header-->
            <div class="row dark-primary-color valign-wrapper">
                <div class="col s10">
                    <h5>&nbsp;</h5>
                    <div ng-if="loading">
                        <div class="preloader-wrapper small active ">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s2">
                    <button class="btn accent-color right" ng-click="doTheBack()" translate="commons.buttons.back"></button>
                </div>
            </div>
            
            <filter-calendar periodicity="periodicity" periodicity-active="periodicityActive" meta="meta"></filter-calendar>

            <div class="row primary-text-color">
                <table>
                    <thead>
                    <tr>
                        <th data-field="indicators"></th>
                        <th ng-repeat="p in series track by $index" class="center-align">
                            {{p}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><b>Buts</b></td>
                        <td ng-repeat="p in events track by $index" class="center-align"><h3> {{stats.goals[p._id] || 0}}</h3>
                            <p ng-if="(stats.originShoot[p._id]||0)>0">{{ (stats.goals[p._id] || 0) *100 /
                                stats.originShoot[p._id] | number : 2}} %</p>
                            <p ng-if="(stats.originShoot[p._id]||0)==0">na</p>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Sanctions</b></td>
                        <td ng-repeat="p in events track by $index" data-field="{{p._id}}" class="center-align">
                            <h3 class="accent-text-color">{{stats.sanctions[p._id] || 0}}</h3></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.positive' | translate}}"
                                owners="eventsIds" series="series"
                                periodicity-active="periodicityActive" meta="meta"
                                indicators="['penaltyObtained', 'exclTmpObtained', 'shift', 'duelWon', 'passDec']"></qaobee-radar-chart>
                    </div>
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.negative' | translate}}"
                                owners="eventsIds" series="series"
                                periodicity-active="periodicityActive" meta="meta"
                                indicators="['forceAtt', 'marcher', 'doubleDribble', 'looseball', 'foot', 'zone', 'stopGKAtt']"></qaobee-radar-chart>
                    </div>
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.positive' | translate}}"
                                owners="eventsIds" series="series"
                                periodicity-active="periodicityActive" meta="meta"
                                indicators="['neutralization', 'forceDef', 'contre', 'interceptionOk']"></qaobee-radar-chart>
                    </div>
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.negative' | translate}}"
                                owners="eventsIds" series="series"
                                periodicity-active="periodicityActive" meta="meta"
                                indicators="['penaltyConceded', 'interceptionKo', 'duelLoose', 'badPosition']"></qaobee-radar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
