<div class="container">
    <!-- body start-->
    <div class="row"></div>

    <!-- Entete -->
    <div ng-if="!addEventTitle">
        <title-page-bar icon="event" title="updateEvent.title"></title-page-bar>
    </div>

    <div ng-if="addEventTitle">
        <title-page-bar icon="event" title="addEvent.title"></title-page-bar>
    </div>

    <div class="row">
        <form class="col s12" ng-submit="checkAndformatEvent()" name="eventForm" novalidate>
            <!-- Planning-->
            <div style="padding:10px;">
                <div class="row">
                    <div class="col m6 s12">
                        <h6 class="accent-text-color" translate="eventLabels.SectionPlaning"></h6>
                        <div class="col s4">
                            <label>{{'eventLabels.StartDate' | translate }} <span
                                    class="accent-text-color">*</span></label>
                        </div>
                        <div class="col s8">
                            <input id="EventStartDate" name="EventStartDate" type="text"
                                   input-date
                                   format="{{'commons.format.date.label' | translate}}"
                                   months-full="{{ ('commons.format.date.listMonth' | translate).split(',')}}"
                                   months-short="{{ ('commons.format.date.listMonthShort' | translate).split(',')}}"
                                   weekdays-full="{{ ('commons.format.date.listWeekdaysFull' | translate).split(',') }}"
                                   weekdays-short="{{ ('commons.format.date.listWeekdaysShort' | translate).split(',') }}"
                                   weekdays-letter="{{ ('commons.format.date.listWeekdaysLetter' | translate).split(',') }}"
                                   min="{{ minDate }}"
                                   today="('commons.format.date.today' | translate)"
                                   first-day="1"
                                   clear="('commons.format.date.clear' | translate)"
                                   close="('commons.format.date.close' | translate)"
                                   select-years="3"
                                   ng-model="startDate" required
                                   class="datepicker"
                                   ng-class="{ 'has-error' : eventForm.EventStartDate.$invalid && !eventForm.EventStartDate.$pristine }"/>
                        </div>
                        <div class="small accent-text-color col s12"
                             ng-if="eventForm.EventStartDate.$invalid && !eventForm.EventStartDate.$pristine"
                             translate="eventErrors.StartDate"></div>

                        <div class="col s4">{{monthsFull}}
                            <label>{{'eventLabels.StartHour' | translate }} <span
                                    class="accent-text-color">*</span></label>
                        </div>
                        <div class="col s8">
                            <input id="EventStartHours" input-clock data-twelvehour="false"
                                   data-donetext="{{'commons.buttons.validate' | translate}}" type="text"
                                   data-autoclose
                                   ng-model="startHours" required
                                   ng-class="{ 'has-error' : eventForm.EventStartHours.$invalid && !eventForm.EventStartHours.$pristine }"/>
                        </div>

                        <div class="small accent-text-color col s12"
                             ng-if="eventForm.EventStartHours.$invalid && !eventForm.EventStartHours.$pristine"
                             translate="eventErrors.StartHour"></div>
                    </div>
                    <!-- EventType -->
                    <div class="col m6 s12">
                        <h6 class="accent-text-color" translate="eventLabels.SectionIdentity"></h6>
                        <div class="col s3">
                            <label>{{'eventLabels.Label' | translate }} <span
                                    class="accent-text-color">*</span></label>
                        </div>
                        <div class="col s9">
                            <input name="eventLabel" type="text" ng-model="event.label" required
                                   ng-class="{ 'has-error' : eventForm.eventLabel.$invalid && !eventForm.eventLabel.$pristine }">
                            <span class="small accent-text-color"
                                  ng-if="eventForm.eventLabel.$invalid && !eventForm.eventLabel.$pristine"
                                  translate="eventErrors.Label"></span>
                        </div>
                        <div class="col s3">
                            <label>{{'eventLabels.Type' | translate }} <span
                                    class="accent-text-color">*</span></label>
                        </div>
                        <div class="col s9">
                            <select material-select watch name="eventType" ng-model="event.link.type"
                                    required id="EventType" ng-change="changeEventType()"
                                    ng-class="{ 'has-error' : eventForm.eventType.$invalid && !eventForm.eventType.$pristine }">
                                <option value="" selected translate="eventLabels.selectType" disabled></option>
                                <option ng-repeat="p in listEventType track by $index" value="{{p.code}}">{{p.label}}
                                </option>
                            </select>
                            <span class="small accent-text-color"
                                  ng-if="eventForm.eventType.$invalid && !eventForm.eventType.$pristine"
                                  translate="eventErrors.Type"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Participants -->
            <div class="light-primary-color" ng-if="chooseAdversary" style="padding:10px;">
                <div class="row">
                    <div class="col s10 m5">
                        <h6 class="accent-text-color">{{'eventLabels.SectionActorsHome' | translate }} <span
                                class="accent-text-color">*</span></h6>
                        <select ng-model="data.teamId" material-select name="SectionActorsHome"
                                ng-change="changeTeamHome()"
                                ng-required="chooseAdversary" watch
                                ng-class="{ 'has-error' : eventForm.SectionActorsHome.$invalid && !eventForm.SectionActorsHome.$pristine }">
                            <option value="" disabled selected translate="eventLabels.Team"></option>
                            <option ng-repeat="p in listTeamHome track by $index" value="{{p._id}}">{{p.label}}</option>
                        </select>
                        <span class="small accent-text-color col s12"
                              ng-if="eventForm.SectionActorsHome.$invalid && !eventForm.SectionActorsHome.$pristine"
                              translate="eventErrors.teamHome"></span>
                    </div>
                    <div class="col s2 m1">
                        &nbsp;
                    </div>

                    <div class="col s10 m5" ng-if="chooseHome">
                        <h6 class="accent-text-color">{{'eventLabels.SectionActorsAdversary' | translate }} <span
                                class="accent-text-color">*</span></h6>
                        <input type="text" list="adversaries" name="SectionActorsAdversary"
                               ng-model="data.adversaryLabel"
                               placeholder="{{'eventLabels.Adversary' | translate }}" ng-required="chooseHome"
                               ng-class="{ 'has-error' : eventForm.SectionActorsAdversary.$invalid && !eventForm.SectionActorsAdversary.$pristine }"/>
                        <span class="small accent-text-color col s12"
                              ng-if="eventForm.SectionActorsAdversary.$invalid && !eventForm.SectionActorsAdversary.$pristine"
                              translate="eventErrors.adversary"></span>
                        <datalist id="adversaries">
                            <option ng-repeat="p in listTeamAdversary track by $index" value="{{p.label}}"></option>
                        </datalist>
                    </div>
                </div>
            </div>

            <!-- Localisation-->
            <div style="padding:10px;">
                <div class="row">
                    <h6 class="accent-text-color col s12" translate="eventLabels.SectionPlace"></h6>
                    <div class="col m2 s4">
                        <i class="material-icons prefix">home</i>
                        <label for="formatedAddress" translate="eventLabels.Address"></label>
                    </div>
                    <div class="col m4 s8">
                        <input type="text" id="formatedAddress" ng-autocomplete ng-model="event.address.formatedAddress"
                               details="detailsAdr" options="optionsAdr" placeholder=""/>
                    </div>

                    <div class="col m6 s12 center-align">
                        <input name="location" class="with-gap" checked="checked" type="radio" id="home"
                               value="home" ng-model="location"/>
                        <label for="home" translate="eventLabels.Home"></label>

                        <input name="location" class="with-gap" type="radio" id="outside"
                               value="outside" ng-model="location"/>
                        <label for="outside" translate="eventLabels.Visitor"></label>
                    </div>
                </div>

                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" translate="commons.buttons.validate"
                                ng-disabled="eventForm.$invalid"
                                ng-class="{'btn waves-effect waves-white disabled': eventForm.$invalid, 
                                           'btn waves-effect waves-white accent-color': !eventForm.$invalid}">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- body end-->
</div>
