<div class="container">
<!-- body start-->
    <div class="row"><div class="col s12"></div></div>   

    <!-- action bar -->
    <div class="row">
        <div ng-hide="addEventTitle">
            <div class="col s1">    
                <i class="material-icons red-text text-lighten-1 center medium">mode_edit</i>
            </div>
            <div class="col s11">
                <h5 class="light-green-text text-lighten-1">{{'updateEvent.title' | translate }}</h5>
            </div>
        </div>
        <div ng-show="addEventTitle">
            <div class="col s1 red-text text-lighten-1">    
                <i class="fa fa-plus-square-o fa-3x"></i>
            </div>
            <div class="col s11">
                <h5 class="light-green-text text-lighten-1">{{'addEvent.title' | translate }}</h5>
            </div>
        </div>
    </div>
    
    <div class="row">
        <form class="col s12" ng-submit="checkAndformatEvent()" name="eventForm">
            <!-- Planning-->
            <div class="card-panel"> 
                <div class="row">
                    <div class="col m6 s12">
                        <h6 class="red-text text-lighten-1 col s12">{{'eventLabels.SectionPlaning' | translate }}</h6>
                        <div class="input-field col s4">
                            <label>{{'eventLabels.StartDate' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col s8">
                           <input ng-model="startDate" id="EventStartDate" type="date" class="datepicker" required>
                        </div>

                        <div class="input-field col s4">
                            <label>{{'eventLabels.StartHour' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col s8">
                           <input ng-model="startHours" id="EventStartHours" type="time" required>
                        </div>
                    </div>
                    <!-- EventType -->
                    <div class="col m6 s12">
                        <h6 class="red-text text-lighten-1 col s12">{{'eventLabels.SectionIdentity' | translate }}</h6>
                        <div class="input-field col s12">
                            <input id="eventLabel" type="text" ng-model="event.label">
                            <label for="eventLabel">{{'eventLabels.Label' | translate }}</label>
                        </div>
                        <div class="input-field col s12">
                            <select class="browser-default blue-grey-text text-darken-1" ng-model="event.link.type" required id="EventType" ng-change="changeEventType()">
                                <option value="" disabled selected>{{'eventLabels.Type' | translate }}</option>
                                <option ng-repeat="p in listEventType" value="{{p.code}}">{{p.label}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Participants -->
            <div class="card-panel grey lighten-3" ng-show="chooseAdversary">                        
                <div class="row">
                    <h6 class="red-text text-lighten-1 col s12">{{'eventLabels.SectionActors' | translate }}</h6>
                    <div class="input-field col s10 m5">
                        <select class="browser-default blue-grey-text text-darken-1" ng-model="teamId" id="team">
                            <option value="" disabled selected>{{'eventLabels.Team' | translate }}</option>
                            <option ng-repeat="p in listTeamHome" value="{{p._id}}">{{p.label}}</option>
                        </select>
                    </div>
                    <div class="input-field col s2 m1">
                        <a href="#/private/addTeam/{{false}}" class="red-text text-lighten-1 left-align tooltipped" 
                           data-position="left" data-delay="20" data-tooltip="{{'mainEffective.buttons.addTeamHome' | translate }}">
                            <h5><i class="fa fa-plus-square-o"></i></h5>
                        </a>
                    </div>

                    <div class="input-field col s10 m5">
                        <select class="browser-default blue-grey-text text-darken-1" ng-model="adversaryId" id="adversary">
                            <option value="" disabled selected>{{'eventLabels.Adversary' | translate }}</option>
                            <option ng-repeat="p in listTeamAdversary" value="{{p._id}}">{{p.label}}</option>
                        </select>
                    </div>
                    <div class="input-field col s2 m1">
                        <a href="#/private/addTeam/{{true}}" class="red-text text-lighten-1 left-align tooltipped" 
                           data-position="left" data-delay="20" data-tooltip="{{'mainEffective.buttons.addTeamAdversary' | translate }}">
                            <h5><i class="fa fa-plus-square-o"></i></h5>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- Localisation-->
            <div class="card-panel"> 
                <div class="row">
                    <h6 class="red-text text-lighten-1 col s12">{{'eventLabels.SectionPlace' | translate }}</h6>
                    <div class="input-field col m2 s4">
                        <i class="material-icons prefix">home</i>
                        <label for="formatedAddress">{{'eventLabels.Address' | translate }}</label>
                    </div>
                    <div class="input-field col m4 s8">
                        <input type="text" id="formatedAddress" ng-autocomplete ng-model="event.address.formatedAddress" details="detailsAdr" options="optionsAdr" placeholder=""/>
                    </div>

                    <div class="input-field col m6 s12 center-align">
                        <input name="location" class="with-gap" checked="checked" type="radio" id="home" 
                               value="home" ng-model="location"/>
                        <label for="home">{{'eventLabels.Home' | translate }}</label>

                        <input name="location" class="with-gap" type="radio" id="outside" 
                               value="outside" ng-model="location"/>
                        <label for="outside">{{'eventLabels.Visitor' | translate }}</label>
                    </div>
                </div>

                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a class="btn red lighteen-1 white-text waves-effect waves-light center" ng-click="doTheBack()" translate="commons.buttons.cancel"></a>
                        <button class="btn green darken-1 waves-effect waves-light center" type="submit" name="action" translate="commons.buttons.validate">
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
<!-- body end-->
</div>