<div class="container primary-text-color" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row hide-on-med-and-down"></div>

    <!-- Entete -->
    <title-page-bar icon="verified_user" title="billingPage.title" display-back="{{false}}"></title-page-bar>

    <!-- Large view-->
    <div class="row hide-on-med-and-down">
        <div class="col s12">
            <div class="row">
                <div class="col m2 center-align" translate="billingPage.label.activity"></div>
                <div class="col m2 center-align" translate="billingPage.label.product"></div>
                <div class="col m1 center-align" translate="billingPage.label.price"></div>
                <div class="col m2 center-align" translate="billingPage.label.billingnumber"></div>
                <div class="col m2 center-align" translate="billingPage.label.billingdate"></div>
                <div class="col m2 center-align" translate="billingPage.label.cardNumber"></div>
            </div>
            <div ng-repeat="plan in user.account.listPlan track by $index" class="row light-primary-color">
                <div class="col m2 center-align">
                    <h6>{{plan.activity.label | translate}}</h6>
                </div>
                <div class="col m2 center-align accent-text-color">
                    <h6>{{plan.levelPlan}}</h6>
                </div>

                <div ng-if="plan.status === 'open' || plan.status === 'notpaid'" class="col m8 center-align">
                    <a href="#/private/billing/pay/{{$index}}" class="btn waves-effect waves-white secondary-color"
                       translate="billingPage.label.pay">
                    </a>
                </div>

                <div ng-if="plan.status !== 'open' && plan.status !== 'notpaid'">
                    <span ng-repeat="s in plan.shippingList | orderBy : '-paidDate'">
                        <div class="col m1 center-align"><span ng-bind="s.amountPaid"></span> €</div>
                        <div class="col m2 center-align"><small>{{s.paymentId}}</small></div>
                        <div class="col m2 center-align"><i class="material-icons left" ng-if="plan.status==='pending'">autorenew</i>
                            {{s.paidDate | date}}
                        </div>
                        <div ng-bind="'xxxx xxxx xxxx ' + s.cardInfo.last4" class="col m2 center-align"></div>
                        <button ng-click="getBill($parent.$index, s.id, s.paymentId)"
                                class="waves-effect waves-teal btn-flat col m1 center-align"><i class="material-icons">cloud_download</i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- medium and small view-->
    <div class="row hide-on-large-only">
        <div class="col s12">
            <div ng-repeat="plan in user.account.listPlan track by $index" class="light-primary-color row">
                <h6 class="col s6 center-align">{{plan.activity.label | translate}}</h6>
                <h6 class="col s6 center-align accent-text-color">{{plan.levelPlan}}</h6>
                <div ng-if="plan.status === 'open' || plan.status === 'notpaid'" class="col s12">
                    <a href="#/private/billing/pay/{{$index}}" class="btn waves-effect waves-white secondary-color"
                       translate="billingPage.label.pay">
                    </a>
                </div>
                <span ng-if="plan.status !== 'open' && plan.status !== 'notpaid'"
                      ng-repeat="s in plan.shippingList | orderBy : '-paidDate'">
                        <div class="col s2 center-align"><span ng-bind="s.amountPaid"></span> €</div>
                        <div class="col s4 center-align"><i class="material-icons left" ng-if="plan.status==='pending'">autorenew</i>
                            {{s.paidDate | date}}
                        </div>
                        <div ng-bind="'xxxx xxxx xxxx ' + s.cardInfo.last4" class="col s6 center-align"></div>
                        <div class="col s6 center-align"><small>{{s.paymentId}}</small></div>
                        <button ng-click="getBill($parent.$index, s.id, s.paymentId)"
                                class="waves-effect waves-teal btn-flat col s6"><i class="material-icons">cloud_download</i>
                        </button>
                </span>
            </div>
        </div>
    </div>