<div class="container primary-text-color" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row hide-on-med-and-down"></div>

    <!-- Entete -->
    <title-page-bar icon="verified_user" title="billingPage.title" display-back="{{true}}"></title-page-bar>

    <!-- Large view-->
    <div class="row hide-on-med-and-down">
        <div class="col s12">
            <div class="row">
                <div class="col m2 center-align" translate="billingPage.label.activity"></div>
                <div class="col m2 center-align" translate="billingPage.label.product"></div>
                <div class="col m1 center-align" translate="billingPage.label.price"></div>
                <div class="col m2 center-align" translate="billingPage.label.billingnumber"></div>
                <div class="col m2 center-align" translate="billingPage.label.billingdate"></div>
                <div class="col m2 center-align" translate="billingPage.label.pay.cardNumber"></div>
            </div>
            <div ng-repeat="plan in user.account.listPlan track by $index" class="row light-primary-color">
                <div class="col m2 center-align">
                    <h6>{{plan.activity.label | translate}}</h6>
                </div>
                <div class="col m2 center-align accent-text-color">
                    <h6>{{plan.levelPlan}} </h6>
                </div>

                <div ng-if="plan.status === 'open' || plan.status === 'canceled'" class="col m8 center-align">
                    <a href="#/private/billing/pay/{{$index}}" class="btn waves-effect waves-white secondary-color"
                       translate="billingPage.label.pay.title">
                    </a>
                </div>
                <div ng-if="plan.status !== 'open' && plan.status !== 'canceled'">
                    <div class="col m1 center-align"><span ng-bind="plan.amountPaid"></span> €</div>
                    <div class="col m2 center-align">
                        <small ng-bind="plan.paymentId"></small>
                    </div>
                    <div class="col m2 center-align" ng-if="plan.status!=='trialing' && plan.status!=='canceled'">
                        {{plan.paidDate | date}}
                    </div>
                    <div class="col m2 center-align" ng-if="plan.status==='canceled'"></div>
                    <div class="col m2 center-align" ng-if="plan.status==='trialing'"
                         translate="billingPage.label.trial"></div>
                    <div ng-bind="'xxxx xxxx xxxx ' + plan.cardInfo.last4" class="col m2 center-align"></div>
                    <span class="badge white-text"
                          ng-class="{'green': plan.status === 'trialing', 'red': plan.status === 'canceled'}">{{plan.status}}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- medium and small view-->
    <div class="row hide-on-large-only">
        <div class="col s12">
            <div ng-repeat="plan in user.account.listPlan track by $index" class="light-primary-color row">
                <h6 class="col s6 center-align">{{plan.activity.label | translate}}</h6>
                <h6 class="col s6 center-align accent-text-color">{{plan.levelPlan}}</h6>
                <div ng-if="plan.status === 'open' || plan.status === 'canceled'" class="col s12">
                    <a href="#/private/billing/pay/{{$index}}" class="btn waves-effect waves-white secondary-color"
                       translate="billingPage.label.pay">
                    </a>
                </div>
                <span ng-if="plan.status !== 'open' && plan.status !== 'canceled'">
                        <div class="col s2 center-align"><span ng-bind="plan.amountPaid"></span> €</div>
                        <div class="col s4 center-align" ng-if="plan.status!=='trialing' && plan.status!=='canceled'">{{plan.paidDate | date}}</div>
                        <div ng-bind="'xxxx xxxx xxxx ' + plan.cardInfo.last4" class="col s6 center-align"></div>
                    <div class="col s6 center-align" ng-if="plan.status==='canceled'"></div>
                    <div class="col s6 center-align" ng-if="plan.status==='trialing'"
                         translate="billingPage.label.trial"></div>
                        <div class="col s6 center-align"><small>{{plan.paymentId}}</small></div>

                    <span class="badge white-text"
                          ng-class="{'green': plan.status === 'trialing', 'red': plan.status === 'canceled'}">{{plan.status}}</span>
                </span>
            </div>
        </div>
    </div>
</div>
