<div class="container primary-text-color" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row hide-on-med-and-down"></div>

    <!-- Entete -->
    <title-page-bar icon="verified_user" title="billingPage.label.pay.title" display-back="{{true}}"></title-page-bar>
    <h4 class="center" ng-if="!paid">{{'billingPage.label.pay.content' | translate}} <b>{{plan.levelPlan}}</b></h4>
    <h2 ng-if="message">{{message}}</h2>

    <div class="row" ng-if="!paid">
        <div class="col s12 l6 offset-l3">
            <form stripe-form="handleStripe" name="stripeForm" class="card-form">
                <div class="credit-card" ng-class="stripeForm.number.$card.type">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix fa fa-fw fa-credit-card"></i>
                            <label for="cardn" translate="billingPage.label.pay.cardNumber"></label>
                            <input type="text" name="number" id="cardn" ng-model="number" payments-validate="card"
                                   payments-format="card" payments-type-model="type"
                                   ng-class="stripeForm.number.$card.type" required="true"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="prefix fa fa-fw fa-user"></i>
                            <label for="name" translate="billingPage.label.pay.name"></label>
                            <input type="text" id="name" ng-model="name" required="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="prefix fa fa-fw fa-calendar"></i>
                            <label for="exp" translate="billingPage.label.pay.expiry"></label>
                            <input type="text" id="exp" ng-model="expiry" payments-validate="expiry"
                                   payments-format="expiry" required="true"/>
                        </div>
                        <div class="input-field col s6">
                            <i class="prefix fa fa-fw fa-lock"></i>
                            <label for="cvc" translate="billingPage.label.pay.cvc">CVC</label>
                            <input type="text" id="cvc" ng-model="cvc" payments-validate="cvc" payments-format="cvc"
                                   payments-type-model="type" required="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="pull-right">
                            <b translate="billingPage.label.pay.interval"></b>
                            <div class="switch billing-switch">
                                <label>
                                    <span translate="billingPage.label.pay.monthly"></span>
                                    <input type="checkbox" ng-click="updateInterval()"
                                           ng-checked="yearly">
                                    <span class="lever"></span>
                                    <span translate="billingPage.label.pay.yearly"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="pull-right">
                            <input type="checkbox" id="cgv" required="true" ng-model="cgv"/>
                            <label for="cgv" translate="commons.legals.gcu"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <a class="btn waves-effect waves-white light-primary-color pull-left"
                           href="#/private/billing/" translate="commons.buttons.cancel">
                        </a>
                        <button ng-if='paid === false' type="submit"
                                class="btn waves-effect waves-white secondary-color pull-right"
                                ng-disabled="stripeForm.$invalid || !cgv">
                            <span class="progress" ng-if="inProgress">
                                <span class="indeterminate"></span>
                            </span>
                            {{'billingPage.label.pay.pay' | translate}} {{getAmountToPay(plan)}} €
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modalPaimentSuccess" class="modal">
    <div class="modal-content">
        <h5>
            <span class="fa fa-thumbs-o-up"></span>
            <span translate="billingPage.label.pay.success.title"></span>
        </h5>
        <p translate="billingPage.label.pay.success.content"></p>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-white btn dark-primary-color"
                translate="commons.buttons.close"></button>
    </div>
</div>