<div class="row">&nbsp;</div>

<div class="row">
    <div class="col s12 dark-text-color left"><h4><i class="fa fa-bullseye"></i> {{'stats.typoGoal' | translate }}</h4><hr></div>
    <div class="row">&nbsp;</div>
</div>

<div class=" primary-text-color">
    
    <div class="card-content white primary-text-color">
        <div class="row">
            <div class="col s12 align-center">
                <div class="heatmap-container" style="height:{{heightGoal}}px;" id="goal">
                    <span id="goalTooltip" class="tooltip-span">{{val.goal}}</span>
                    <img class="heatmap-image" src="assets/images/handball/hand_goal.png"
                         height="{{heightGoal}}px;" id="bgGoal"
                         sb-load="onImgLoad($event)"/>

                    <div class="heatmap" id="goalHeat"></div>
                    <img class="heatmap-image transparent" src="assets/images/handball/hand_goal.png"
                         usemap="#goalMap"
                         height="{{heightGoal}}px;"/>
                    <map id="goalMap" name="goalMap" class="heatmap-map">
                        <area shape="{{area.shape}}" coords="{{area.coords.join()}}"
                              style="z-index: 99"
                              ng-repeat="area in goalMap"
                              ng-click="displayBubbleGoal(area.description, $event)"
                              href="javascript:void(0)"
                        />
                    </map>
                </div>

                <div class="heatmap-container" style="height:{{heightGoal}}px;" id="ground">
                    <span id="groundTooltip" class="tooltip-span">{{val.ground}}</span>
                    <img class="heatmap-image" src="assets/images/handball/zone_attaque.png"
                         height="{{heightGround}}px;" id="bgGround"
                         sb-load="onImgLoad($event)"/>

                    <div class="heatmap" id="groundHeat"></div>
                    <img class="heatmap-image transparent" src="assets/images/handball/zone_attaque.png"
                         usemap="#groundMap"
                         height="{{heightGround}}px;"/>
                    <map id="groundMap" name="groundMap" class="heatmap-map">
                        <area shape="{{area.shape}}" coords="{{area.coords.join()}}"
                              style="z-index: 99"
                              ng-repeat="area in groundMap"
                              ng-click="displayBubbleGround(area.description, $event)"
                              href="javascript:void(0)"
                        />
                    </map>
                </div>

            </div>
        </div>
        <div class="row" ng-if="isTeam">
            <div class="col s12 center">
                <input name="group1" type="radio" id="myTeam" ng-model="indicator" ng-change="buildAll()"
                       ng-checked="(indicator.impactShoot === 'impactShootAtt')"
                       ng-value="{impactShoot : 'impactShootAtt', stopGK : 'stopGKAtt',originShoot : 'originShootAtt', goalType:'goalScored'}"
                />
                <label for="myTeam" translate="stats.myteam"></label>

                <input name="group1" type="radio" id="adverssary" ng-model="indicator" ng-change="buildAll()"
                       ng-checked="(indicator.impactShoot === 'impactShootDef')"
                       ng-value="{impactShoot : 'impactShootDef', stopGK : 'stopGKDef',originShoot : 'originShootDef', goalType:'goalConceded'}"
                />
                <label for="adverssary" translate="stats.adversary"></label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <input type="checkbox" class="filled-in" id="succeeded" ng-model="succeededGoals"
                       ng-click="buildAll()"/>
                <label for="succeeded" translate="stats.label.goalScored"></label>

                <input type="checkbox" class="filled-in" id="stoped" ng-model="stopedGoals" ng-click="buildAll()"/>
                <label for="stoped" translate="stats.label.stopOk"></label>
            </div>
        </div>
    </div>
</div>