<!-- Entete -->
    <div class="row dark-primary-color center valign-wrapper hide-on-med-and-down">
        <div class="col l1">
            <i class="material-icons md-48 light-text-color ">{{icon}}</i>
        </div>
        <div class="col l9 left-align">
            <h5 translate="{{title}}"></h5>
        </div>

        <div class="col l2">
            <button class="btn accent-color right" ng-click="doTheBack()" ng-if="displayBack === true"
                    translate="commons.buttons.back"></button>
        </div>
    </div>
    
    <div class="row dark-primary-color center hide-on-large-only">
        <div class="col s12">
            <i class="material-icons md-48 light-text-color ">{{icon}}</i>
        </div>
        <div class="col s12">
            <h6 translate="{{title}}"></h6>
        </div>

        <div class="col s12">
            <button class="btn accent-color md-36" ng-click="doTheBack()"
                    translate="commons.buttons.back"></button>
        </div>
        <div class="col s12">&nbsp;</div>
    </div>