<div class="cnil grey darken-4 white-text" ng-if="show">
    <span>En poursuivant votre navigation sur ce site, vous acceptez l'utilisation de cookies à des fins statistiques, publicitaires et de personnalisation.</span>
    <a href="{{link}}" class="cnil-link hide-on-med-and-down">Pour en savoir plus et paramétrer les cookies</a>
    <a href="{{link}}" class="cnil-link hide-on-large-only">En savoir plus</a>
    <div class="cnil-close" ng-click="close()"><span class="cnil-close-text">X</span></div>
</div>