<div class="card white">
    <div class="card-title dark-primary-color center">
        <span class="white-text title"><small translate="stats.resumeTab.sanctions"></small></span>
    </div>
    <div class="card-content white primary-text-color">
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.sanction.yellowCard"></h6></div>
            <div class="col s5 light-primary-color valign"><h5>{{nbYellowCard}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.sanction.excluTempo"></h6></div>
            <div class="col s5 light-primary-color valign"><h5>{{nbExclTmp}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.sanction.redCard"></h6></div>
            <div class="col s5 accent-color valign"><h5>{{nbRedCard}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center" ng-if="!noStat">
            <div class="col s12"><h6 translate="stats.resumeTab.noData"></h6></div>
        </div>
    </div>
</div>        