<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <!-- Entete -->
    <div class="row">
        <div class="col s12">
            <div class="row blue-grey darken-2 white-text center">
                <div class="col m3 s12 center">
                    <avatar person="user" width="'100px'"></avatar>
                    <span class="small">{{'profile.label.avatar' | translate }}</span>
                </div>
                <div class="col m7 s12">
                    <br/>
                    <h4>{{user.firstname}} {{user.name}}</h4>
                    <h5>{{user.account.login}}</h5>
                </div>
                <div class="col m2 s12">
                    <br/>&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 card">
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th translate="profile.label.activity"></th>
                    <th translate="profile.label.product"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="plan in user.account.listPlan track by $index">
                    <td>
                        <div class="valign-wrapper">
                            <img class="valign" ng-src="assets/images/activity/{{plan.activity.code}}.jpg"
                                 height="15px"/>
                            &nbsp;
                            <div class="valign">{{plan.activity.label | translate}}</div>
                        </div>
                    </td>
                    <td ng-bind="plan.levelPlan"></td>

                    <td>
                         <span ng-if="plan.status === 'open' || plan.status === 'notpaid'"><a
                                 href="#/private/profile/pay/{{$index}}" class="btn btn-s"
                                 translate="profile.label.pay"></a></span>
                        <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th translate="profile.label.price"></th>
                                <th translate="profile.label.billingnumber"></th>
                                <th translate="profile.label.billingdate"></th>
                                <th translate="profile.label.cardNumber"></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="s in plan.shippingList | orderBy : '-paidDate'">
                                <td><span ng-bind="s.amountPaid"></span> €</td>
                                <td ng-bind="s.paymentId"></td>
                                <td>
                                    <span><i class="material-icons left" ng-if="plan.status==='pending'">autorenew</i> {{s.paidDate | date}}</span>

                                </td>
                                <td ng-bind="'xxxx xxxx xxxx ' + s.cardInfo.last4"></td>
                                <td>
                                    <button ng-click="getBill($parent.$index, s.id, s.paymentId)"
                                            class="waves-effect waves-teal btn-flat"><i class="material-icons">cloud_download</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>