<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>
    
    <!-- Entete -->
    <div class="row">
        <div class="col s12">
            <div class="row blue-grey darken-2 white-text center">
                <div class="col m3 s12 center">
                    <avatar person="user" width="'100px'"></avatar>
                    <span class="small">{{'effectiveLabels.effectiveAvatar' | translate }}</span>
                </div>
                <div class="col m7 s12">
                    <br/>
                    <h4>{{user.firstname}} {{user.name}}</h4>
                    <h5>{{user.account.login}}</h5>
                </div>
                <div class="col m2 s12">
                    <br/>&nbsp;
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s2"><a href="#profile">{{'profile.tabs.profil' | translate }}</a></li>
                <li class="tab col s2"><a href="#passwordUser">{{'profile.tabs.password' | translate }}</a></li>
                <li class="tab col s2 disabled"><a href="#sharing">{{'profile.tabs.sharing' | translate }}</a></li>
                <li class="tab col s2 disabled"><a href="#notification">{{'profile.tabs.notification' | translate }}</a></li>
                <li class="tab col s2 disabled"><a href="#billing">{{'profile.tabs.billing' | translate }}</a></li>
                <li class="tab col s2"><a href="#settings">{{'profile.tabs.settings' | translate }}</a></li>
            </ul>
        </div>
    
        <div id="profile" class="col s12 card">
            <form name="profileForm" ng-submit="updateProfilUser()">
                
                <!-- Empty row -->
                <div class="row">&nbsp;</div>
                
                <!-- Firstname & Name all size-->
                <div class="row">
                    <div class="col s12 m5 input-field">
                        <label for="userLogin"> {{'profile.label.nick' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        <input type="text" id="userLogin" name="userLogin" class="validate" required ng-model="user.account.login"
                               ng-class="{ 'invalid': profileForm.userLogin.$invalid }"/>

                        <span ng-class="{'has-error': profileForm.userLogin.$dirty && profileForm.userLogin.$error.required}"
                             ng-hide="profileForm.userLogin.$valid" class="small red-text text-lighten-1"
                             translate="profile.message.userLogin.required"></span>
                    </div>
                    
                    <div class="col m2 hide-on-small-only">&nbsp;</div>
                    
                    <div class="col s12 m5 input-field">
                        <label for="email"> {{'profile.label.email' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        <input type="email" id="email" name="email"
                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                               class="validate"
                               required ng-model="user.contact.email"
                               ng-class="{ 'invalid': profileForm.email.$invalid }"/>

                        <span ng-class="{'has-error': profileForm.email.$dirty && profileForm.email.$error.required}"
                             ng-hide="profileForm.email.$valid" class="small red-text text-lighten-1"
                             translate="profile.message.email.required"></span>
                    </div>
                </div>
                
                <!-- Gender for Small device -->
                <div class="row  hide-on-med-and-up">
                    <div class="input-field col s3">
                        <label>{{'civilSection.label.userGender' | translate }} <span class="red-text text-lighten-1">*</span></label>
                    </div>
                    <div class="input-field col s9 center-align">
                        <input name="user.gender" class="with-gap" type="radio" id="userGenderF" value="gender.female" ng-model="user.gender" required/>
                        <label for="userGenderF">{{'civilSection.label.gender.female' | translate }}</label>

                        <input name="user.gender" class="with-gap" type="radio" id="userGenderM" value="gender.male" ng-model="user.gender" required/>
                        <label for="userGenderM">{{'civilSection.label.gender.male' | translate }}</label>
                    </div>
                    <span class="small red-text text-lighten-1"
                        ng-show="profileForm.gender.$invalid && !profileForm.gender.$pristine" translate="civilSection.userErrors.Gender"></span>
                </div>
                
                <!-- Firstname & Name all size-->
                <div class="row">
                    <div class="col s12 m5 input-field">
                        <label for="userFirstname">{{'civilSection.label.userFirstname' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        <input ng-model="user.firstname" id="userFirstname" name="userFirstname" type="text" class="validate" required 
                             ng-class="{ 'has-error' : profileForm.userFirstname.$invalid && !profileForm.userFirstname.$pristine }">
                        <span class="small red-text text-lighten-1"
                            ng-show="profileForm.userFirstname.$invalid && !profileForm.userFirstname.$pristine" translate="civilSection.userErrors.Firstname"></span>
                    </div>

                    <div class="col m2 hide-on-small-only">&nbsp;</div>
                    <div class="col s12 m5 input-field">
                        <label for="userName">{{'civilSection.label.userName' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        <input ng-model="user.name" id="userName" name="userName" type="text" class="validate" required 
                             ng-class="{ 'has-error' : profileForm.userName.$invalid && !profileForm.userName.$pristine }">
                        <span class="small red-text text-lighten-1"
                            ng-show="profileForm.userName.$invalid && !profileForm.userName.$pristine" translate="civilSection.userErrors.Name"></span>
                    </div>
                </div>
                
                <!-- Gender & Address on Med and Up -->
                <div class="row hide-on-small-only">
                    <div class="col m5">
                        <div class="row">
                            <div class="input-field col s3">
                                <label>{{'civilSection.label.userGender' | translate }} <span class="red-text text-lighten-1">*</span></label>
                            </div>
                            <div class="input-field col s9 center-align">
                                <input name="user.gender" class="with-gap" type="radio" id="userGenderF" value="gender.female" ng-model="user.gender" required/>
                                <label for="userGenderF">{{'civilSection.label.gender.female' | translate }}</label>

                                <input name="user.gender" class="with-gap" type="radio" id="userGenderM" value="gender.male" ng-model="user.gender" required/>
                                <label for="userGenderM">{{'civilSection.label.gender.male' | translate }}</label>
                            </div>
                            <span class="small red-text text-lighten-1"
                                ng-show="profileForm.gender.$invalid && !profileForm.gender.$pristine" translate="civilSection.userErrors.Gender"></span>
                        </div>
                    </div>
                    <div class="col m2">&nbsp;</div>
                    <div class="col m5 input-field">
                            <input type="text" id="formatedAddress" name="formatedAddress"
                                   ng-autocomplete
                                   ng-model="user.address.formatedAddress" 
                                   details="detailsAdr" 
                                   options="optionsAdr"
                                   placeholder=""/>
                            <label for="userAddres">{{'civilSection.label.userAddress' | translate }}</label>
                    </div>
                </div>
                
                <!-- BirthDate & Phone Home all size -->
                <div class="row">
                    <div class="col s12 m5 input-field">
                        <label for="profilBirthdate">{{'profile.label.birthdate' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        <input type="text" class="datepicker" id="profilBirthdate" name="profilBirthdate" ng-model="user.birthdate"
                                required ng-class="{'invalid': profileForm.profilBirthdate.$invalid}"/>
                        <span class="small red-text text-lighten-1"
                            ng-show="profileForm.profilBirthdate.$invalid && !profileForm.profilBirthdate.$pristine" translate="civilSection.userErrors.BirthDate">
                        </span>
                    </div>
                    
                    <div class="col m2 hide-on-small-only">&nbsp;</div>
                    
                    <div class="col s12 m5 input-field">
                        <i class="material-icons prefix">phone</i>
                        <label for="userPhoneHome"><span class="red-text text-lighten-1">*</span></label>
                        <input id="userPhoneHome" name="userPhoneHome" type="text" ui-mask="{{'commons.format.phone.pattern' | translate }}" class="validate" min="0" ng-model="signup.contact.home" required>
                        <span class="small red-text text-lighten-1"
                            ng-show="profileForm.userPhoneHome.$invalid && !profileForm.userPhoneHome.$pristine" translate="civilSection.userErrors.phoneNumberMandatory">
                        </span>
                    </div>
                </div>
                
                
                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a class="btn red lighteen-1 white-text waves-effect waves-light center" ng-click="doTheBack()" translate="commons.buttons.cancel"></a>
                        <button class="btn green darken-1 waves-effect waves-light center" type="submit" ng-disabled="profileForm.$invalid" translate="commons.buttons.validate">
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    
        <div id="passwordUser"  class="col s12 card">
            <form name="pwdForm" ng-submit="resetPasswd()">
                
                <!-- Empty row -->
                <div class="row">&nbsp;</div>
                
                <!-- password -->
                <div class="row">
                    <div class="col m2 hide-on-small">&nbsp;</div>
                    <div class="col s12 m4 input-field">
                        <label for="password">{{'profile.label.passwd1' | translate }}</label>
                        <input id="password" type="password" class="validate" ng-model="renew.passwd" required>
                        
                        <div ng-show="renew.passwd">
                            <small translate='profile.message.passwd.strength'></small>
                            <div ng-hide="true" ng-password-strength="renew.passwd" strength="passStrength" inner-class="meter"></div>
                            <div class="progress grey lighten-2">
                                <div class="determinate"
                                     ng-class="{'red' : passStrength < 33, 'orange': passStrength >= 33 && passStrength < 66, 'green' : passStrength >= 66}"
                                     style="width: {{passStrength}}%"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s12 m4 input-field">
                        <label for="passwordConfirm">{{'profile.label.passwd2' | translate }}</label>
                        <input id="passwordConfirm" type="password" class="validate" ng-model="renew.passwdConfirm" required>
                    </div>
                    <div class="col m2 hide-on-small">&nbsp;</div>
                </div>
                
                <div class="row">
                    <div class="col m2 hide-on-small">&nbsp;</div>
                    <div class="input-field col s12 m8">
                        <div re-captcha ng-model="renew.captcha" id="profil_recaptcha_widget" style="display:none">
                            <div class="col s12 m7">
                                <div id="recaptcha_image"></div>
                            </div>
                            <div class="col s6 m1" style="line-height:0.5;">
                                <a href="javascript:Recaptcha.reload()"><img width="25" height="18" src="https://www.google.com/recaptcha/api/img/clean/refresh.png"></a><br class="hide-on-med-and-down">
                                <a class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')" id="icon-audio"><img width="25" height="18" src="https://www.google.com/recaptcha/api/img/clean/audio.png"></a>
                                <a class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')" id="icon-image"><img width="25" height="18" src="https://www.google.com/recaptcha/api/img/clean/text.png"></a><br class="hide-on-med-and-down">
                                <a href="javascript:Recaptcha.showhelp()"><img id="recaptcha_whatsthis" width="25" height="16" src="https://www.google.com/recaptcha/api/img/clean/help.png" alt="Aide"></a>
                            </div>
                            <div class="col s6 m4"><img id="recaptcha_logo" alt="" width="71" height="36" src="https://www.google.com/recaptcha/api/img/clean/logo.png"></div>
                            <div class="col s12 m6">
                                <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
                            </div>
                            <div class="col m6 hide-on-med-and-down">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col m2 hide-on-small">&nbsp;</div>
                </div>
                
                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a ng-click="resetPwdUser()" class="btn red lighteen-1 white-text waves-effect waves-light center" style="max-width:50%"
	                   translate="commons.buttons.cancel"></a>
                        <button class="btn green darken-1 waves-effect waves-light center" type="submit" ng-disabled="pwdForm.$invalid && !pwdForm.$dirty" translate="commons.buttons.validate">
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        <div id="sharing"  class="col s12">
            
        </div>
        
        <div id="notification"  class="col s12">
            
        </div>
        
        <div id="billing"  class="col s12">
            
        </div>
        
        <div id="settings"  class="col s12">
            
        </div>
        
    </div>
</div>