<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>
    
    <!-- Entete -->
    <div class="row">
        <div class="col s12">
            <div class="row colorMain white-text center">
                <div class="col m3 s12 center">
                    <avatar person="user" width="'100px'"></avatar>
                    <span class="small">{{'profile.label.avatar' | translate }}</span>
                </div>
                <div class="col m7 s12">
                    <br/>
                    <h4>{{user.firstname}} {{user.name}}</h4>
                    <h5>{{user.account.login}}</h5>
                </div>
                <div class="col m2 s12">
                    <br/>&nbsp;
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 card">
            <form name="profileForm" ng-submit="updateProfilUser()">

                <!-- Empty row -->
                <div class="row">&nbsp;</div>
                
                <div class="row">
                	<div class="col m1 hide-on-small-only">&nbsp;</div>
                	
                	<!-- Column Left -->
                	<div class="col s12 m4">
                		<!-- Login -->
                		<div class="row">
	                		<div class="col s12 input-field">
	                            <label for="userLogin"> {{'profile.label.nick' | translate }}</label>
	                            <input disabled type="text" id="userLogin" name="userLogin" ng-model="user.account.login"/>
	                        </div>
                        </div>
                        
                        <!-- e-mail on Small -->
                        <div class="row hide-on-med-and-up">
	                        <div class="col s12 input-field">
		                        <label for="email"> {{'profile.label.email' | translate }} <span class="red-text text-lighten-1">*</span></label>
		                        <input type="email" id="email" name="email"
		                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
		                               class="validate"
		                               required ng-model="user.contact.email"
		                               ng-class="{ 'invalid': profileForm.email.$invalid }"/>
		
		                        <span ng-class="{'has-error': profileForm.email.$dirty && profileForm.email.$error.required}"
		                             ng-hide="profileForm.email.$valid" class="small red-text text-lighten-1"
		                             translate="profile.message.email.required"></span>
	                    	</div>
	                    </div>
	                    
	                    <!-- Gender -->
		                <div class="row"  id="rowGender">
		                    <div class="input-field col s3">
		                        <label>{{'civilSection.label.userGender' | translate }} <span class="red-text text-lighten-1">*</span></label>
		                    </div>
		                    <div class="input-field col s9 center-align">
		                        <input name="user.gender" class="with-gap" type="radio" id="userGenderF" value="gender.female" ng-model="user.gender" required/>
		                        <label for="userGenderF">{{'civilSection.label.gender.female' | translate }}</label>
		
		                        <input name="user.gender" class="with-gap" type="radio" id="userGenderM" value="gender.male" ng-model="user.gender" required/>
		                        <label for="userGenderM">{{'civilSection.label.gender.male' | translate }}</label>
		                    </div>
		                    <span class="small red-text text-lighten-1"
		                        ng-show="profileForm.gender.$invalid && !profileForm.gender.$pristine" translate="civilSection.userErrors.Gender"></span>
		                </div>
		                
		                <!-- Firstname -->
		                <div class="row">
		                	<div class="col s12 input-field">
		                        <label for="userFirstname">{{'civilSection.label.userFirstname' | translate }} <span class="red-text text-lighten-1">*</span></label>
		                        <input ng-model="user.firstname" id="userFirstname" name="userFirstname" type="text" class="validate" required 
		                             ng-class="{ 'has-error' : profileForm.userFirstname.$invalid && !profileForm.userFirstname.$pristine }">
		                        <span class="small red-text text-lighten-1"
		                            ng-show="profileForm.userFirstname.$invalid && !profileForm.userFirstname.$pristine" translate="civilSection.userErrors.Firstname"></span>
		                    </div>
		                </div>
		                
		                <!-- Name -->
		                <div class="row">
		                	<div class="col s12 input-field">
		                        <label for="userName">{{'civilSection.label.userName' | translate }} <span class="red-text text-lighten-1">*</span></label>
		                        <input ng-model="user.name" id="userName" name="userName" type="text" class="validate" required 
		                             ng-class="{ 'has-error' : profileForm.userName.$invalid && !profileForm.userName.$pristine }">
		                        <span class="small red-text text-lighten-1"
		                            ng-show="profileForm.userName.$invalid && !profileForm.userName.$pristine" translate="civilSection.userErrors.Name"></span>
		                    </div>
		                </div>
                	</div>
                	
                	<!-- Separator -->
                	<div class="col m2 hide-on-small-only">&nbsp;</div>
                	
                	<!-- Column Right -->
                	<div class="col s12 m4">
                		<!-- e-mail on med and up -->
                        <div class="row hide-on-small-only">
	                        <div class="col s12 input-field">
		                        <label for="email"> {{'profile.label.email' | translate }} <span class="red-text text-lighten-1">*</span></label>
		                        <input type="email" id="email" name="email"
		                               ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
		                               class="validate"
		                               required ng-model="user.contact.email"
		                               ng-class="{ 'invalid': profileForm.email.$invalid }"/>
		
		                        <span ng-class="{'has-error': profileForm.email.$dirty && profileForm.email.$error.required}"
		                             ng-hide="profileForm.email.$valid" class="small red-text text-lighten-1"
		                             translate="profile.message.email.required"></span>
	                    	</div>
	                    </div>
	                    
	                    <!-- Birthdate -->
	                    <div class="row" id="rowBirthdate">
		                    <div class="col s12 input-field">
		                        <label for="profilBirthdate">{{'profile.label.birthdate' | translate }} <span class="red-text text-lighten-1">*</span></label>
                                <input id="profilBirthdate" name="profilBirthdate" type="text" class="datepicker"
                                       ng-model="user.birthdate" required
                                       ng-class="{ 'has-error' : profileForm.profilBirthdate.$invalid && !profileForm.profilBirthdate.$pristine }"/>
		                        
		                        <span class="small red-text text-lighten-1"
		                            ng-show="profileForm.profilBirthdate.$invalid && !profileForm.profilBirthdate.$pristine" translate="civilSection.userErrors.BirthDate">
		                        </span>
		                    </div>
		                </div>
		                
		                <!-- Address -->
		                <div class="row">
		                	<div class="col s12 input-field">
	                            <input type="text" id="formatedAddress" name="formatedAddress" ng-autocomplete ng-model="temp.addr" details="temp.detailsAdr" 
	                                   options="temp.optionsAdr" placeholder=""/>
	                            <label for="userAddres">{{'civilSection.label.userAddress' | translate }}</label>
	                    	</div>
		                </div>
		                
		                <!-- Phone -->
		                <div class="row">
		                	<div class="col s12 input-field">
		                        <i class="material-icons prefix">phone</i>
		                        <label for="userPhoneHome"><span class="red-text text-lighten-1">*</span></label>
		                        <input id="userPhoneHome" name="userPhoneHome" type="text" ui-mask="{{'commons.format.phone.pattern' | translate }}" class="validate" min="0" ng-model="user.contact.home" required>
		                        <span class="small red-text text-lighten-1"
		                            ng-show="profileForm.userPhoneHome.$invalid && !profileForm.userPhoneHome.$pristine" translate="civilSection.userErrors.phoneNumberMandatory">
		                        </span>
		                    </div>
		                </div>
		                
                	</div>
                	<div class="col m1 hide-on-small-only">&nbsp;</div>
                </div>
                

                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <a class="btn red lighteen-1 white-text waves-effect waves-light center" ng-click="doTheBack()" translate="commons.buttons.cancel"></a>
                        <button class="btn green darken-1 waves-effect waves-light center" type="submit" ng-disabled="profileForm.$invalid" translate="commons.buttons.validate">
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
                
                <script type="text/javascript">
                	document.getElementById('rowGender').style.height=$("#rowBirthdate").height() + "px";
                </script>
                
            </form>
        </div>
    </div>
</div>