<div class="container">
<!-- body start-->
    <div class="row"> <div class="col s10"></div></div>   

    <!-- action bar -->
    <div class="row">
        <div class="col s12">
            <div><h5 class="header light-green-text text-lighten-1">{{'updateEffective.title' | translate }}</h5></div>
        </div>
    </div>
    
    <div class="row">
        <form novalidate name="effectiveCaracterSection">
            
            <div class="row">
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                <div class="input-field col m6 s12">
                    <label class="active" >{{'effectiveLabels.effectiveCategoryAge' | translate }} <span class="red-text text-lighten-1">*</span></label>
                    <select class="browser-default" ng-model="effective.categoryAge.code" required id="effectiveCategoryAge"
                            ng-options="p.code as p.label for p in listCategory">
                    </select>
                </div>
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
            </div>
            
            <div class="row">
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                <div class="col s6">
                    <tags-input ng-model="members" display-property="name" key-property="_id" placeholder="{{'effectiveLabels.effectivePlaceHolderMembers' | translate }}" 
                        replace-spaces-with-dashes="false" template="ngTagsInput/tag-template">
                        <auto-complete source="loadPerson($query)" min-length="0" load-on-focus="true" load-on-empty="true"
                            max-results-to-show="32" template="ngTagsInput/autocomplete-template"></auto-complete
                    </tags-input>
                </div>
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
            </div>
            
            <!-- actions buttons -->
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                <div class="col m6 s12 center-align">
                    <a href="#/private/effective" class="btn red lighteen-1 white-text">{{'commons.buttons.cancel' | translate }}</a>&nbsp;
                    <a href="" ng-click="writeEffective()" class="btn green darken-1 white-text">{{'commons.buttons.validate' | translate }}</a>&nbsp;
                </div>
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
            </div>
        </form>
    </div>
    
    
    
    <!-- TEMPLATE FOR TAGS-INPUTS -->
    <script type="text/ng-template" id="ngTagsInput/tag-template">
      <div class="tag-template">
        <simple-avatar person="player" width="'25px'" link="('#/private/viewPlayer/' + player._id)"></simple-avatar>
                &nbsp;
                <small>{{data.name}}</small>
                <a ng-click="$removeTag()" href=""><i class="material-icons circle red ligthen-1 white-text">clear</i></a>
            
      </div>
    </script>
    
    <script type="text/ng-template" id="ngTagsInput/autocomplete-template">
      <div class="autocomplete-template">
        <div class="left-panel">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="right-panel">
          <span ng-bind-html="$highlight($getDisplayText())"></span>
          <span>{{data.name}} {{data.firstname}}</span>
          <span>{{data.positionType}}</span>
        </div>
      </div>
    </script>

   
<!-- body end-->
</div>