<div class="container">
<!-- body start-->
    <div class="row"><div class="col s12"></div></div>   

    <!-- action bar -->
    <div class="row">
        <div class="col s12">
            <div ng-hide="addEffectiveTitle">
                <h5 class="header blue-grey-text text-darken-2 left">
                    <i class="material-icons btn-floating white-text red lighten-1 center">mode_edit</i> {{'updateEffective.title' | translate }}</h5>
            </div>
            <div ng-show="addEffectiveTitle">
                <h5 class="header blue-grey-text text-darken-2 left">
                    <i class="material-icons btn-floating white-text red lighten-1 center">person_add</i> {{'addEffective.title' | translate }}</h5>
            </div>
        </div>
    </div>
    
    <div class="row">
        <form novalidate name="effectiveCaracterSection">
            
            <div class="row">
                <div class="col s12">
                    <!-- input field -->
                    <div class="input-field col m2 s6">
                        <label for="effectiveLabel">{{'effectiveLabels.effectiveLabel' | translate }} <span class="red-text text-lighten-1">*</span></label>
                    </div>
                    <div class="input-field col m4 s6">
                      <input ng-model="effective.label" id="effectiveLabel" type="text" class="validate left-align" required>
                    </div>

                    <div class="input-field col m2 s6">
                        <label for="effectiveCategoryAge">{{'effectiveLabels.effectiveCategoryAge' | translate }} <span class="red-text text-lighten-1">*</span></label>
                    </div>
                    <div class="input-field col m4 s6">
                        <select class="browser-default" ng-model="effective.categoryAge.code" required id="effectiveCategoryAge"
                                ng-options="p.code as p.label for p in listCategory">
                        </select>
                    </div>
                </div>
                <!-- List coachs 
                <div class="col m6 s12">
                    <div class="col s12">    
                        
                        <ul class="collection with-header">
                            <li class="collection-header blue-grey-text text-darken-2 grey lighten-3">
                                <h5 class="task-card-title">{{'effectiveLabels.effectiveCoachs' | translate }}</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12">
                        <div class="input-field">
                            <label for="query">Filter</label>
                            <input type="text" id="query2" ng-model="query2" class="validate form-control">
                        </div>
                    </div>
                </div>
                -->
            </div>
            
            <div class="row">
                <div class="col s12">
                    <!-- List players -->
                    <div class="col s12">
                        <ul class="collection with-header">
                            <li class="collection-header blue-grey-text text-darken-2">
                                <h5 class="task-card-title"> 
                                    {{'effectiveLabels.effectiveMembers' | translate }}
                                </h5>
                                <span class="small right-align">{{selectedPlayers.length}} {{'effectiveLabels.effectiveNbPlayers' | translate }}</span>
                                <div class="input-field grey lighten-5 ">
                                    <label for="query">Filter</label>
                                    <input type="text" id="query" ng-model="query">
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    
                    <div class="col s12">
                        <table class="hoverable bordered">
                            <body>
                                <tr ng-repeat="player in persons | filter:query"
                                    selection-model
                                    selection-model-type="checkbox"
                                    selection-model-mode="multiple-additive"
                                    selection-model-selected-attribute="checked"
                                    selection-model-selected-items="selectedPlayers"
                                    selection-model-on-change="changed(player)"
                                    class="col m4 s12">
                                    <td><simple-avatar person="player" width="'40px'" link="('#/private/viewPlayer/' + player._id)"></simple-avatar></td>
                                    <td>                                    
                                        <input type="checkbox" id="{{$index + 1}}"/> 
                                        <label for="{{$index + 1}}"><span class="red-text text-lighten-1">{{player.name}} {{player.firstname}}</span></label>
                                        <p class="blue-grey-text text-darken-2" style="margin-left:35px">{{player.positionType}}</p>
                                    </td>
                                </tr>
                            </body>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- actions buttons -->
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                <div class="col m6 s12 center-align">
                    <a href="#/private/effective" class="btn red lighteen-1 white-text">{{'commons.buttons.cancel' | translate }}</a>&nbsp;
                    <a href="" ng-click="writeEffective()" class="btn green darken-1 white-text">{{'commons.buttons.validate' | translate }}</a>&nbsp;
                </div>
                <div class="col m3 hide-on-med-and-down">&nbsp;</div>
            </div>
        </form>
    </div>
    
<!-- body end-->
</div>