<div class="row"></div>

<!-- Entete -->
<div class="row dark-primary-color valign-wrapper">
    <div class="col m10 s12 ">
        <h4 ng-bind-html="post.title.rendered"></h4>
    </div>
    <div class="col m2 s12">
        <button class="btn accent-color" ng-click="doTheBack()" translate="commons.buttons.back"></button>
    </div>
</div>
<div class="post-header">
    <featured-image media-id="post.featured_media" size="full" ng-if="post" image="image"></featured-image>
</div>

<div class="row" ng-if="post">
    <div class="col s3 center light-primary-color">
        <post-author author-id="post.author"></post-author>
        <span class="post-date" ng-bind-html="formatDate(post.date)"></span>
    </div>
    <div class="col s9">
        <br/>
        <ul class="share-icons right">
            <li>
                <a href="#/blog/{{post.id}}"
                   socialshare
                   socialshare-provider="twitter"
                   socialshare-text="{{htmlDecode(post.title.rendered)}}"
                   socialshare-url="https://www.qaobee.com/#/blog/{{post.id}}"
                   class="btn-floating btn-large waves-effect waves-light blue darken-1"><i
                        class="fa fa-fw fa-2x fa-twitter"></i>
                </a></li>
            <li><a href="#/blog/{{post.id}}"
                   socialshare
                   socialshare-provider="facebook"
                   socialshare-text="{{post.title.rendered}}"
                   socialshare-mobileiframe="true"
                   socialshare-url="https://www.qaobee.com/#/blog/{{post.id}}"
                   class="btn-floating btn-large waves-effect waves-light blue darken-4"><i
                    class="fa fa-fw fa-2x fa-facebook"></i>
            </a></li>
            <li><a href="#/blog/{{post.id}}"
                   socialshare
                   socialshare-provider="pinterest"
                   socialshare-text="{{post.title.rendered}}"
                   socialshare-url="https://www.qaobee.com/#/blog/{{post.id}}"
                   class="btn-floating btn-large waves-effect waves-light deep-orange accent-4"><i
                    class="fa fa-fw fa-2x fa-pinterest"></i>
            </a></li>
            <li><a href="#/blog/{{post.id}}"
                   socialshare
                   socialshare-provider="google"
                   socialshare-text="{{post.title.rendered}}"
                   socialshare-url="https://www.qaobee.com/#/blog/{{post.id}}"
                   class="btn-floating btn-large waves-effect waves-light red"><i
                    class="fa fa-fw fa-2x fa-google-plus"></i>
            </a></li>
        </ul>
        <br/>
        <div class="post-content" ng-bind-html="post.content.rendered"></div>
    </div>

</div>