<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row s12 hide-on-large-only"></div>
    
    <!-- view for tablet and phone -->
    <!-- Filter Zone start-->
    <div class="row hide-on-large-only">
           
        <!-- Periodicity selector -->
        <div class="col m1 s1 center">&nbsp;</div>
        <div class="col m1 s3 center red lighten-1" style="margin:1px">
            <a ng-click="getCurrentMonth()" class="white-text"><h6 class="small">{{'stats.periodicity.month' | translate }}</h6></a>
        </div>
        
        <div class="col m1 s4 center red lighten-1" style="margin:1px">
            <a ng-click="getCurrentQuarter()" class="white-text"><h6 class="small">{{'stats.periodicity.quarter' | translate }}</h6></a>
        </div>
        <div class="col m1 s3 center red lighten-1" style="margin:1px">
            <a ng-click="getCurrentSeason()" class="white-text"><h6 class="small">{{'stats.periodicity.season' | translate }}</h6></a>
        </div>
        <div class="col m1 s1 center">&nbsp;</div>
    </div>
        
    <!-- Month Navigation-->
    <div class="row hide-on-large-only" ng-if="periodicity=='month'">   
        <div class="col m1 s1 center">&nbsp;</div>
        <div class="col m1 s1 center" ng-if="periodicity=='month'">
            <a href="" ng-click="previousMonth()" class="btn-floating blue-grey darken-2 white-text left">
                <i class="mdi-navigation-chevron-left"></i>
            </a>
        </div>
        <div class="col m2 s8 center">
            <h6 class="blue-grey-text text-lighten-1">{{periodicityActive.label}}</h6>
        </div>
        <div class="col m1 s1 center" ng-if="periodicity=='month'">
            <a href="" ng-click="nextMonth()" class="btn-floating blue-grey darken-2 white-text right">
                <i class="mdi-navigation-chevron-right"></i>
            </a>
        </div>
        <div class="col m1 s1 center">&nbsp;</div>
    </div>
    
    <!-- Quarter Navigation-->
    <div class="row hide-on-large-only" ng-if="periodicity=='quarter'">
        <div class="col m1 s1 center">&nbsp;</div>
        <div class="col m1 s1 center" ng-if="periodicity=='quarter'">
            <a href="" ng-click="previousQuarter()" class="btn-floating blue-grey darken-2 white-text left">
                <i class="mdi-navigation-chevron-left"></i>
            </a>
        </div>
        <div class="col m2 s8 center">
            <h6 class="blue-grey-text text-lighten-1">{{periodicityActive.label}}</h6>
        </div>
        <div class="col m1 s1 center" ng-if="periodicity=='quarter'">
            <a href="" ng-click="nextQuarter()" class="btn-floating blue-grey darken-2 white-text right">
                <i class="mdi-navigation-chevron-right"></i>
            </a>
        </div>
        <div class="col m1 s1 center">&nbsp;</div>
    </div>
    
    <!-- Season Navigation-->
    <div class="row hide-on-large-only" ng-if="periodicity=='season'">
        <div class="col m1 s1 center">&nbsp;</div>
        <div class="col m1 s1 center">
            <a href="" ng-click="previousSeason()" class="btn-floating blue-grey darken-2 white-text left">
                <i class="mdi-navigation-chevron-left"></i>
            </a>
        </div>
        <div class="col m2 s8 center" ng-if="periodicity=='season'">
            <h6 class="blue-grey-text text-lighten-1">{{periodicityActive.label}}</h6>
        </div>
        <div class="col m1 s1 center" ng-if="periodicity=='season'">
            <a href="" ng-click="nextSeason()" class="btn-floating blue-grey darken-2 white-text right">
                <i class="mdi-navigation-chevron-right"></i>
            </a>
        </div>
        <div class="col m1 s1 center">&nbsp;</div>
    </div>
    <!-- Filter Zone end-->
<!-- view for tablet and phone -->

<!-- view desktop -->
    
<!-- view desktop -->
    
    <!-- Resume-->
    <div class="row">
        <div class="col s12">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header white white-text">
                    <div class="row blue-grey darken-2">
                        <div class="col m4 s12 center"><avatar person="player" width="'100px'"></avatar></div>
                        <div class="col m8 s12 center">
                            <h3 class="task-card-title">{{player.firstname}} {{player.name}}</h3>
                            <h5 class="task-card-date">Arrière gauche</h5>
                        </div>
                        
                    </div>
                    <div class="row hide-on-med-and-down white">
                    <!-- Filter Zone start-->
                        <div class="col s12 center">&nbsp;</div>
                        <div class="col s1 center">&nbsp;</div>

                        <!-- Periodicity selector -->
                        <div class="col s1 center red lighten-1" style="margin:1px">
                            <a ng-click="getCurrentMonth()" class="white-text"><h6 class="small">{{'stats.periodicity.month' | translate }}</h6></a>
                        </div>

                        <div class="col s1 center red lighten-1" style="margin:1px">
                            <a ng-click="getCurrentQuarter()" class="white-text"><h6 class="small">{{'stats.periodicity.quarter' | translate }}</h6></a>
                        </div>
                        <div class="col s1 center red lighten-1" style="margin:1px">
                            <a ng-click="getCurrentSeason()" class="white-text"><h6 class="small">{{'stats.periodicity.season' | translate }}</h6></a>
                        </div>


                        <!-- Month Navigation--> 
                        <div class="col s2 center" ng-if="periodicity=='month'">&nbsp;</div>
                        <div class="col s1 center" ng-if="periodicity=='month'">
                            <a href="" ng-click="previousMonth()" class="btn-floating blue-grey darken-2 white-text left">
                                <i class="mdi-navigation-chevron-left"></i>
                            </a>
                        </div>
                        <div class="col s2 center" ng-if="periodicity=='month'">
                            <h6 class="blue-grey-text text-lighten-1">{{periodicityActive.label}}</h6>
                        </div>
                        <div class="col s1 center" ng-if="periodicity=='month'">
                            <a href="" ng-click="nextMonth()" class="btn-floating blue-grey darken-2 white-text right">
                                <i class="mdi-navigation-chevron-right"></i>
                            </a>
                        </div>
                        <div class="col s2 center" ng-if="periodicity=='month'">&nbsp;</div>

                        <!-- Quarter Navigation-->
                        <div class="col s1 center" ng-if="periodicity=='quarter'">&nbsp;</div>
                        <div class="col s1 center" ng-if="periodicity=='quarter'">
                            <a href="" ng-click="previousQuarter()" class="btn-floating blue-grey darken-2 white-text left">
                                <i class="mdi-navigation-chevron-left"></i>
                            </a>
                        </div>
                        <div class="col s4 center" ng-if="periodicity=='quarter'">
                            <h6 class="blue-grey-text text-lighten-1">{{periodicityActive.label}}</h6>
                        </div>
                        <div class="col s1 center" ng-if="periodicity=='quarter'">
                            <a href="" ng-click="nextQuarter()" class="btn-floating blue-grey darken-2 white-text right">
                                <i class="mdi-navigation-chevron-right"></i>
                            </a>
                        </div>
                        <div class="col s1 center" ng-if="periodicity=='quarter'">&nbsp;</div>

                        <!-- Season Navigation-->
                        <div class="col s1 center" ng-if="periodicity=='season'">&nbsp;</div>
                        <div class="col s1 center" ng-if="periodicity=='season'">
                            <a href="" ng-click="previousSeason()" class="btn-floating blue-grey darken-2 white-text left">
                                <i class="mdi-navigation-chevron-left"></i>
                            </a>
                        </div>
                        <div class="col s4 center" ng-if="periodicity=='season'">
                            <h6 class="blue-grey-text text-lighten-1">{{periodicityActive.label}}</h6>
                        </div>
                        <div class="col s1 center" ng-if="periodicity=='season'">
                            <a href="" ng-click="nextSeason()" class="btn-floating blue-grey darken-2 white-text right">
                                <i class="mdi-navigation-chevron-right"></i>
                            </a>
                        </div>
                        <div class="col s1 center" ng-if="periodicity=='season'">&nbsp;</div>
                    </div> 
                    <!-- Filter Zone end-->
                    <div class="row white-text">
                        <div class="col m6 s12">
                            <div class="row white">
                                <div class="col s12 light-green lighten-1 center"><h5>Buts</h5></div>
                                
                                <div class="col s12">&nbsp;</div>
                                <div class="col s4 blue-grey-text text-darken-2 center"><h6>Nombre de Buts</h6></div>
                                <div class="col s4 blue-grey-text text-darken-2 center"><h6>Moyenne/match</h6></div>
                                <div class="col s4 blue-grey-text text-darken-2 center"><h6>Fréquence <br/>1 but toutes les</h6></div>
                                
                                <div class="col s4 light-green lighten-2 center"><h5>{{stats['goalScored'].count}}</h5></div>
                                <div class="col s4 light-green-text text-lighten-2 center"><h5>5,67</h5></div>
                                <div class="col s4 light-green-text text-lighten-2 center"><h5>3 minutes</h5></div>

                                <div class="col s12">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col m6 s12">
                            <div class="row white">
                                <div class="col s12 light-blue lighten-1 center"><h5>Utilisation</h5></div>
                                
                                <div class="col s12">&nbsp;</div>
                                <div class="col s4 blue-grey-text text-darken-2 center"><h6>Matchs joués</h6></div>
                                <div class="col s4 blue-grey-text text-darken-2 center"><h6>Titularisations</h6></div>
                                <div class="col s4 blue-grey-text text-darken-2 center"><h6>Temps de jeu <br/> moyen</h6></div>
                                
                                <div class="col s4 light-blue-text text-lighten-1 center"><h5>3</h5></div>
                                <div class="col s4 light-blue-text text-lighten-1 center"><h5>{{stats['holder'].count}}</h5></div>
                                <div class="col s4 light-blue lighten-1 center"><h5>25 minutes</h5></div>

                                <div class="col s12">&nbsp;</div>
                            </div>
                        </div>
                        
                        <div class="col m5 s12 white center">
                            <div class="col s12 blue-grey-text text-darken-1 center"><h5>{{'stats.efficiently.efficiently' | translate }} {{nbGoalGlobal}}/{{nbShootGlobal}}</h5></div>
                            <div class="col s12">&nbsp;</div>
                            <div class="col s12">
                                <c3chart bindto-id="gaugeEfficientlyGlobal" chart-columns="efficientlyGlobalCol" chart-data="efficientlyGlobalData">
                                    <chart-gauge min="0" max="100" width="40"/>
                                </c3chart>
                            </div>
                        </div>
                        
                        <div class="col m1 s12">&nbsp;</div>
                        
                        <div class="col m6 s12">
                            <div class="row white">
                                <div class="col s12 red lighten-1 center"><h5>{{'stats.labelTab.sanctions' | translate }}</h5></div>
                                
                                <div class="col s12">&nbsp;</div>
                                <div class="col s6 blue-grey-text text-darken-2 center"><h6>{{'stats.sanction.yellowCard' | translate }}</h6></div>
                                <div class="col s6 amber accent-2  center"><h5>{{stats['yellowCard'].count}}</h5></div>
                                
                                <div class="col s6 blue-grey-text text-darken-2 center"><h6>{{'stats.sanction.excluTempo' | translate }}</h6></div>
                                <div class="col s6 red-text text-lighten-1 center"><h5>{{stats['exclTmp'].count}}</h5></div>
                                
                                <div class="col s6 blue-grey-text text-darken-2 center"><h6>{{'stats.sanction.redCard' | translate }}</h6></div>
                                <div class="col s6 red lighten-1  center"><h5>{{stats['redCard'].count}}</h5></div>

                                <div class="col s12">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs" tabs>
                                <li class="tab col s4 blue-grey darken-2"><a href="#shoot" class="white-text">{{'stats.labelTab.shoot' | translate }}</a></li>
                                <li class="tab col s4 blue-grey darken-2"><a href="#actions" class="white-text">{{'stats.labelTab.actions' | translate }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Stats shoot Start -->
                    <div class="row" id="shoot">
                        <!-- Stats shoot efficiently start -->
                        <div class="col m4 s12">
                            <!-- Stats shoot efficiently Start -->
                            <div class="card-panel blue-grey-text text-darken-2">
                                <div class="card-content center">
                                    <span class="card-title"><h5>{{'stats.efficiently.efficiently9m' | translate }} <br/>{{nbGoal9m}}/{{nbShoot9m}}</h5></span>
                                </div>
                                <div class="card-content">
                                    <c3chart bindto-id="gaugeEfficiently9m"
                                             chart-columns="efficiently9mCol"
                                             chart-data="efficiently9mData">

                                        <chart-gauge min="0" max="100" width="30"/>
                                    </c3chart>
                                </div>
                            </div>
                        </div>

                        <div class="col m4 s12">
                             <div class="card-panel blue-grey-text text-darken-2">
                                <div class="card-content center">
                                    <span class="card-title"><h5>{{'stats.efficiently.efficiently6m' | translate }} <br/>{{nbGoal6m}}/{{nbShoot6m}}</h5></span>
                                </div>
                                <div class="card-content">
                                    <c3chart bindto-id="gaugeEfficiently6m"
                                             chart-columns="efficiently6mCol"
                                             chart-data="efficiently6mData">

                                        <chart-gauge min="0" max="100" width="30"/>
                                    </c3chart>
                                </div>
                            </div>
                        </div>

                        <div class="col m4 s12">
                            <div class="card-panel blue-grey-text text-darken-2">
                                <div class="card-content center">
                                    <span class="card-title"><h5>{{'stats.efficiently.efficiently7m' | translate }} <br/>{{nbGoal7m}}/{{nbShoot7m}}</h5></span>
                                </div>
                                <div class="card-content">
                                    <c3chart bindto-id="gaugeEfficiently7m"
                                             chart-columns="efficiently7mCol"
                                             chart-data="efficiently7mData">

                                        <chart-gauge min="0" max="100" width="30"/>
                                    </c3chart>
                                </div>
                            </div>
                        </div>           
                        <!-- Stats shoot efficiently end -->            

                        <!-- Stats shoot origine Start -->
                        <!-- Stats shoot origine end -->

                    </div>
                    <!-- Stats shoot end -->
                    
                    <!-- Stats actions Start -->
                    <div class="row blue-grey-text text-darken-2" id="actions">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">place</i>Attaque</div>
                                <div class="collapsible-body">
                                    <div class="col m6 s12">
                                        <div class="row white">
                                            <div class="col s12 light-green lighten-1 center white-text"><h5>Actions positives</h5></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Matchs joués</h6></div>
                                            <div class="col s6 light-green lighten-1 center"><h6>3</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Titularisations</h6></div>
                                            <div class="col s6 light-green lighten-1 center"><h6>2</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Temps de jeu moyen</h6></div>
                                            <div class="col s6 light-green lighten-1 center"><h6>25 minutes</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="col m6 s12">
                                        <div class="row white">
                                            <div class="col s12 red lighten-1 center white-text"><h5>Actions Négatives</h5></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Avertissements</h6></div>
                                            <div class="col s6 red lighten-1  center"><h6>3</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Exclusions</h6></div>
                                            <div class="col s6 red lighten-1 center"><h6>2</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Disqualification</h6></div>
                                            <div class="col s6 red lighten-1  center"><h6>0</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">place</i>Défense</div>
                                <div class="collapsible-body">
                                    <div class="col m6 s12">
                                        <div class="row white">
                                            <div class="col s12 light-green lighten-1 center white-text"><h5>Actions positives</h5></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Matchs joués</h6></div>
                                            <div class="col s6 light-green lighten-1 center"><h6>3</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Titularisations</h6></div>
                                            <div class="col s6 light-green lighten-1 center"><h6>2</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Temps de jeu moyen</h6></div>
                                            <div class="col s6 light-green lighten-1 center"><h6>25 minutes</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                        </div>
                                    </div>
                                    <div class="col m6 s12">
                                        <div class="row white">
                                            <div class="col s12 red lighten-1 center white-text"><h5>Actions Négatives</h5></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Avertissements</h6></div>
                                            <div class="col s6 red lighten-1  center"><h6>3</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Exclusions</h6></div>
                                            <div class="col s6 red lighten-1 center"><h6>2</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6 blue-grey-text text-darken-2"><h6>Disqualification</h6></div>
                                            <div class="col s6 red lighten-1  center"><h6>0</h6></div>

                                            <div class="col s12">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- Stats actions end -->
                </li>
            </ul>
        </div>
    </div>
</div>