<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row s12"></div>

    <!-- Filter Zone start-->
    <div class="row">
        <div class="card">
            <div class="col s12 center">&nbsp;</div>

            <!-- Periodicity selector -->
            <div class="col m3 s1 center"><h5 class="red-text text-lighten-1">{{player.firstname}} {{player.name}}</h5>
            </div>

            <div class="col m1 s4 center red lighten-1" style="margin:1px">
                <a ng-click="getCurrentMonth()" class="white-text"><h6 class="small">{{'stats.periodicity.month' |
                    translate }}</h6></a>
            </div>
            <div class="col m1 s4 center red lighten-1" style="margin:1px">
                <a ng-click="getCurrentQuarter()" class="white-text"><h6 class="small">{{'stats.periodicity.quarter' |
                    translate }}</h6></a>
            </div>
            <div class="col m1 s4 center red lighten-1" style="margin:1px">
                <a ng-click="getCurrentSeason()" class="white-text"><h6 class="small">{{'stats.periodicity.season' |
                    translate }}</h6></a>
            </div>

            <div class="col m1 s1 center">&nbsp;</div>

            <!-- Month Navigation-->
            <div class="col m1 s1 center" ng-if="periodicity=='month'">
                <a href="" ng-click="previousMonth()" class="btn-floating red lighten-1 left white-text">
                    <i class="mdi-navigation-chevron-left"></i>
                </a>
            </div>
            <div class="col m2 s10 center" ng-if="periodicity=='month'">
                <h6 class="red-text text-lighten-1">{{periodicityActive.label}}</h6>
            </div>
            <div class="col m1 s1 center" ng-if="periodicity=='month'">
                <a href="" ng-click="nextMonth()" class="btn-floating red lighten-1 right white-text">
                    <i class="mdi-navigation-chevron-right"></i>
                </a>
            </div>

            <!-- Quarter Navigation-->
            <div class="col m1 s1 center" ng-if="periodicity=='quarter'">
                <a href="" ng-click="previousQuarter()" class="btn-floating red lighten-1 left white-text">
                    <i class="mdi-navigation-chevron-left"></i>
                </a>
            </div>
            <div class="col m2 s10 center" ng-if="periodicity=='quarter'">
                <h6 class="red-text text-lighten-1">{{periodicityActive.label}}</h6>
            </div>
            <div class="col m1 s1 center" ng-if="periodicity=='quarter'">
                <a href="" ng-click="nextQuarter()" class="btn-floating red lighten-1 right white-text">
                    <i class="mdi-navigation-chevron-right"></i>
                </a>
            </div>

            <!-- Season Navigation-->
            <div class="col m1 s1 center" ng-if="periodicity=='season'">
                <a href="" ng-click="previousSeason()" class="btn-floating red lighten-1 left white-text">
                    <i class="mdi-navigation-chevron-left"></i>
                </a>
            </div>
            <div class="col m2 s10 center" ng-if="periodicity=='season'">
                <h6 class="red-text text-lighten-1">{{periodicityActive.label}}</h6>
            </div>
            <div class="col m1 s1 center" ng-if="periodicity=='season'">
                <a href="" ng-click="nextSeason()" class="btn-floating red lighten-1 right white-text">
                    <i class="mdi-navigation-chevron-right"></i>
                </a>
            </div>

            <div class="col m1 s1 center">&nbsp;</div>

        </div>
    </div>
    <!-- Filter Zone end-->

    <div class="row grey lighten-4">
        <div class="col s12">
            <ul class="tabs" tabs>
                <li class="tab col s4 "><a href="#shoot" class="blue-grey darken-2 white-text">{{'stats.labelTab.shoot'
                    | translate }}</a></li>
                <li class="tab col s4 "><a href="#actions" class="blue-grey darken-2 white-text">{{'stats.labelTab.actions'
                    | translate }}</a></li>
                <li class="tab col s4 "><a href="#sanctions" class="blue-grey darken-2 white-text">{{'stats.labelTab.sanctions'
                    | translate }}</a></li>
            </ul>
        </div>
    </div>
    <!-- Stats shoot Start -->
    <div class="row grey lighten-5" id="shoot">
        <!-- Stats shoot efficiently Start -->
        <div class="col m6 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>{{'stats.efficiently.efficientlyTotal' | translate }} <br/>{{nbGoalGlobal}}/{{nbShootGlobal}}</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="gaugeEfficientlyGlobal"
                             chart-columns="efficientlyGlobalCol"
                             chart-data="efficientlyGlobalData">
                       
                        <chart-gauge min="0" max="100" width="39"/>
                    </c3chart>
                </div>
            </div>
        </div>
        <div class="col m2 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>{{'stats.efficiently.efficiently9m' | translate }} <br/>{{nbGoal9m}}/{{nbShoot9m}}</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="gaugeEfficiently9m"
                             chart-columns="efficiently9mCol"
                             chart-data="efficiently9mData">
                       
                        <chart-gauge min="0" max="100" width="30"/>
                    </c3chart>
                </div>
            </div>
        </div>
        <div class="col m2 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>{{'stats.efficiently.efficiently6m' | translate }} <br/>{{nbGoal6m}}/{{nbShoot6m}}</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="gaugeEfficiently6m"
                             chart-columns="efficiently6mCol"
                             chart-data="efficiently6mData">
                       
                        <chart-gauge min="0" max="100" width="30"/>
                    </c3chart>
                </div>
            </div>
        </div>
        <div class="col m2 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>{{'stats.efficiently.efficiently7m' | translate }} <br/>{{nbGoal7m}}/{{nbShoot7m}}</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="gaugeEfficiently7m"
                             chart-columns="efficiently7mCol"
                             chart-data="efficiently7mData">
                       
                        <chart-gauge min="0" max="100" width="30"/>
                    </c3chart>
                </div>
            </div>
        </div>
        <!-- Stats shoot efficiently end -->

        <!-- Stats shoot origine Start -->
        <div class="col m4 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>{{'stats.typoGoal' | translate }}</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="donut-plot1-chart">
                        <chart-column column-id="9 mètres" column-values="35" column-type="donut"
                                      column-color="#66bb6a"/>
                        <chart-column column-id="6 mètres" column-values="75" column-type="donut"
                                      column-color="#ffb74d"/>
                        <chart-column column-id="7 mètres" column-values="50" column-type="donut"
                                      column-color="#42a5f5"/>

                    </c3chart>
                </div>
            </div>
        </div>

        <div class="col m4 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>Origine des shoots</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="originShoot" show-labels="true" enable-zoom="true">
                        <chart-column column-id="data1" column-name="data1" column-color="#66bb6a"
                                      column-values="30,200,100,400,150,250,45,2" column-type="bar"/>
                    </c3chart>
                </div>
            </div>
        </div>

        <div class="col m4 s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>Impact des shoots</h5></span>
                </div>
                <div class="card-content">
                    <c3chart bindto-id="impactShoot">

                        <chart-column column-id="Haut Gauche" column-values="35" column-type="donut"
                                      column-color="#66bb6a"/>
                        <chart-column column-id="Haut Centre" column-values="75" column-type="donut"
                                      column-color="#ffb74d"/>
                        <chart-column column-id="Haut Droite" column-values="50" column-type="donut"
                                      column-color="#42a5f5"/>
                        <chart-column column-id="Milieu Gauche" column-values="45" column-type="donut"
                                      column-color="#66bb6a"/>
                        <chart-column column-id="Milieu Centre" column-values="100" column-type="donut"
                                      column-color="#ffb74d"/>
                        <chart-column column-id="Milieu Droite" column-values="35" column-type="donut"
                                      column-color="#42a5f5"/>
                        <chart-column column-id="Bas Gauche" column-values="5" column-type="donut"
                                      column-color="#66bb6a"/>
                        <chart-column column-id="Bas Centre" column-values="10" column-type="donut"
                                      column-color="#ffb74d"/>
                        <chart-column column-id="Bas Droite" column-values="25" column-type="donut"
                                      column-color="#42a5f5"/>
                    </c3chart>
                </div>
            </div>
        </div>

        <!-- Stats shoot origine End -->

        <!-- Stats shoot origine Start -->
        <div class="col s12">
            <div class="card-panel blue-grey-text text-darken-2">
                <div class="card-content center">
                    <span class="card-title"><h5>Répartition des buts</h5></span>
                </div>
                <div class="card-content">
                    <div class="card-content">
                        <c3chart bindto-id="time" show-labels="true">
                            <chart-column column-id="data1" column-name="data1" column-color="#42a5f5"
                                          column-values="30,20,10,40,15,25" column-type="bar"/>
                        </c3chart>
                    </div>
                </div>
            </div>
        </div>
        <!-- Stats shoot origine End -->
    </div>
    <!-- Stats shoot end -->

    <!-- Stats actions Start -->
    <div class="row" id="actions">
        <div class="blue-grey-text text-darken-2 center"><h5>Actions offensives</h5></div>
    </div>
    <!-- Stats actions end -->

    <!-- Stats actions Start -->
    <div class="row" id="sanctions">
        <div class="blue-grey-text text-darken-2 center"><h5>Sanctions</h5></div>
    </div>
    <!-- Stats actions end -->
</div>