<div><h5 class="header light-green-text text-lighten-1"><i class="fa fa-calendar left"></i>
    {{'dashboard.event' | translate }}</h5></div>

<div>
    <div class="card small white">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/ACT-HAND-EVENT.jpg">
            <span class="card-title white-text flow-text">CRMHB Rennes - USDK Dunkerque</span>
        </div>
        <div class="card-content">
            <span class="card-title activator blue-grey-text ">Mercredi 15 avril 2015 <i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title blue-grey-text text-darken-1">Card Title <i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        <div class="card-action blue-grey darken-1">
            <a href='#' class="hide-on-med-and-down left waves-effect waves-light white-text"><i class="fa fa-calendar left"></i>{{'headerMenu.calendar' | translate }}</a>
            <a href='#' class="right white-text"><i class="mdi-navigation-chevron-right right"></i>Suivant</a>
            <a href="#" class="right white-text"><i class="mdi-navigation-chevron-left left"></i>Précédent</a>
        </div>
    </div>
</div>