<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <!-- Entete -->
    <div class="row light-primary-color center valign-wrapper hide-on-med-and-down">
        <div class="col m1">
            <i class="material-icons md-48 accent-text-color ">https</i>
        </div>
        <div class="col m9 left-align">
            <h5 translate="profilePwdPage.title"></h5>
        </div>

        <div class="col m2">
            <button class="btn accent-color right" ng-click="doTheBack()"
                    translate="commons.buttons.back"></button>
        </div>
    </div>

    <div class="row">
        <div class="col s12 card">

            <form name="pwdForm" ng-submit="resetPasswd()">

                <!-- Empty row -->
                <div class="row">&nbsp;</div>

                <!-- password -->
                <div class="row">
                    <div class="col m2 hide-on-small">&nbsp;</div>
                    <div class="col s12 m4 input-field">
                        <label for="password" translate="profilePwdPage.form.label.password"></label>
                        <input id="password" type="password" class="validate" ng-model="renew.passwd" required tabindex="1">

                        <div ng-show="renew.passwd">
                            <small translate='profilePwdPage.form.messageControl.passwdStrength'></small>
                            <div ng-hide="true" ng-password-strength="renew.passwd" strength="passStrength"
                                 inner-class="meter"></div>
                            <div class="progress grey lighten-2">
                                <div class="determinate"
                                     ng-class="{'red' : passStrength < 33, 'orange': passStrength >= 33 && passStrength < 66, 'green' : passStrength >= 66}"
                                     style="width: {{passStrength}}%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4 input-field">
                        <label for="passwordConfirm">
                            {{'profilePwdPage.form.label.passwordConfirm' | translate }} 
                            <span class="accent-text-color">*</span>
                        </label>
                        <input id="passwordConfirm" name="passwordConfirm" type="password" class="validate" ng-model="passwdConfirm" required passwd-check="password" tabindex="2">
                        <span ng-show="pwdForm.passwordConfirm.$dirty && pwdForm.passwordConfirm.$error.pwmatch" class="small accent-text-color" translate="profilePwdPage.form.messageControl.password.different"></span>
                        
                    </div>
                    <div class="col m2 hide-on-small">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col m2 hide-on-small">&nbsp;</div>
                    <div class="input-field col s12 m8">
                        <div re-captcha ng-model="renew.captcha" id="profil_recaptcha_widget" style="display:none">
                            <div class="col s12 m7">
                                <div id="recaptcha_image"></div>
                            </div>
                            <div class="col s6 m1" style="line-height:0.5;">
                                <a href="javascript:Recaptcha.reload()"><img width="25" height="18"
                                                                             src="https://www.google.com/recaptcha/api/img/clean/refresh.png"></a><br
                                    class="hide-on-med-and-down">
                                <a class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')"
                                   id="icon-audio"><img width="25" height="18"
                                                        src="https://www.google.com/recaptcha/api/img/clean/audio.png"></a>
                                <a class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')"
                                   id="icon-image"><img width="25" height="18"
                                                        src="https://www.google.com/recaptcha/api/img/clean/text.png"></a><br
                                    class="hide-on-med-and-down">
                                <a href="javascript:Recaptcha.showhelp()"><img id="recaptcha_whatsthis" width="25"
                                                                               height="16"
                                                                               src="https://www.google.com/recaptcha/api/img/clean/help.png"
                                                                               alt="Aide"></a>
                            </div>
                            <div class="col s6 m4"><img id="recaptcha_logo" alt="" width="71" height="36"
                                                        src="https://www.google.com/recaptcha/api/img/clean/logo.png">
                            </div>
                            <div class="col s12 m6">
                                <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" tabindex="3"/>
                            </div>
                            <div class="col m6 hide-on-med-and-down">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col m2 hide-on-small">&nbsp;</div>
                </div>

                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        
                        <button type="submit" ng-disabled="pwdForm.$invalid" translate="commons.buttons.validate"
                                ng-class="{'btn waves-effect waves-white disabled': pwdForm.$invalid, 
                                           'btn waves-effect waves-white accent-color': !pwdForm.$invalid}" tabindex="4">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>