<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <!-- Entete -->
    <title-page-bar icon="https" title="profilePwdPage.title"></title-page-bar>

    <div class="row">
        <div class="col s12 card">

            <form name="pwdForm" ng-submit="resetPasswd()">

                <!-- Empty row -->
                <div class="row">&nbsp;</div>

                <!-- password -->
                <div class="row">
                    <div class="col m2 hide-on-small">&nbsp;</div>
                    <div class="col s12 m4">
                        <label for="password" translate="profilePwdPage.form.label.password"></label>
                        <input id="password" type="password" class="validate" ng-model="renew.passwd" required
                               tabindex="1">

                        <div ng-if="renew.passwd">
                            <small translate='profilePwdPage.form.messageControl.passwdStrength'></small>
                            <div ng-hide="true" ng-password-strength="renew.passwd" strength="passStrength"
                                 inner-class="meter"></div>
                            <div class="progress grey lighten-2">
                                <div class="determinate"
                                     ng-class="{'red' : passStrength < 33, 'orange': passStrength >= 33 && passStrength < 66, 'green' : passStrength >= 66}"
                                     style="width: {{passStrength}}%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <label for="passwordConfirm">
                            {{'profilePwdPage.form.label.passwordConfirm' | translate }}
                            <span class="accent-text-color">*</span>
                        </label>
                        <input id="passwordConfirm" name="passwordConfirm" type="password" class="validate"
                               ng-model="passwdConfirm" required passwd-check="password" tabindex="2">
                        <span ng-if="pwdForm.passwordConfirm.$dirty && pwdForm.passwordConfirm.$error.pwmatch"
                              class="small accent-text-color"
                              translate="profilePwdPage.form.messageControl.password.different"></span>

                    </div>
                    <div class="col m2 hide-on-small">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col m2 hide-on-small">&nbsp;</div>
                    <div class="col s12 m8">
                        <div vc-recaptcha ng-model="renew.captcha"
                             on-create="setWidgetId(widgetId)"
                             on-expire="cbExpiration()"
                        ></div>
                    </div>
                    <div class="col m2 hide-on-small">&nbsp;</div>
                </div>

                <!-- actions buttons -->
                <div class="row">
                    <div class="col s12 center-align">

                        <button type="submit" ng-disabled="pwdForm.$invalid" translate="commons.buttons.validate"
                                ng-class="{'btn waves-effect waves-white disabled': pwdForm.$invalid, 
                                           'btn waves-effect waves-white secondary-color': !pwdForm.$invalid}"
                                tabindex="4">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>