<div class="card primary-text-color" >
    <div class="card-title dark-primary-color center">
        <span class="title" ng-if="bindToId==='goalScored'"><small translate="stats.resumeTab.goalScored"></small></span>
        <span class="title" ng-if="bindToId==='goalConceded'"><small translate="stats.resumeTab.goalConceded"></small></span>
    </div>
    
    <div class="card-content white primary-text-color">
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.resumeTab.goal"></h6></div>
            <div class="col s5 light-primary-color valign"><h5>{{nbGoal}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.resumeTab.frequence"></h6></div>
            <div class="col s5 light-primary-color valign"><h5>{{(totalPlayTime/nbGoal/100 | number : 2)}} '</h5> </div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.resumeTab.goalAvgLight"></h6></div>
            <div class="col s5 secondary-color valign"><h5>{{goalAvg | number : 2}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        
        <div class="row center" ng-if="!noStat">
            <div class="col s12"><h6 translate="stats.resumeTab.noData"></h6></div>
        </div>
    </div>
</div>
