<div class="card primary-text-color">
    <div class="card-title center dark-primary-color">
        <span class="title"><small translate="stats.resumeTab.usePlayer"></small></span>
    </div>
    
    <div class="card-content white primary-text-color">
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.resumeTab.gamePlayed"></h6></div>
            <div class="col s5 light-primary-color valign"><h5>{{nbGame}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.resumeTab.holder"></h6></div>
            <div class="col s5 light-primary-color valign"><h5>{{nbHolder}}</h5></div>
            <div class="col s1 valign">&nbsp;</div>
        </div>
        <div class="row center valign-wrapper" ng-if="noStat">
            <div class="col s1 valign">&nbsp;</div>
            <div class="col s5 left-align light-text-color"><h6 translate="stats.resumeTab.playTime"></h6></div>
            <div class="col s5 dark-primary-color valign"><h5>{{playTimeAvg/60 | number : 0}} '</h5> </div>
            <div class="col s1 valign">&nbsp;</div>
        </div>    
        <div class="row center" ng-if="!noStat">
            <div class="col s12"><h6 translate="stats.resumeTab.noData"></h6></div>
        </div>
    </div>
    
</div>