<div>
    <style>
    .steps-indicator li.current a:before {
      background-color: #ef5350 ;
    }
    .steps-indicator li.done a:before {
      background-color: #9ccc65;
    }
    .steps-indicator li.editing a:before {
      background-color: #ef5350;
    }
    </style>
    <ul class="steps-indicator steps-{{steps.length}}" ng-if="!hideIndicators">
      <li ng-class="{default: !step.completed && !step.selected, current: step.selected && !step.completed, done: step.completed && !step.selected, editing: step.selected && step.completed}" ng-repeat="step in steps">
        <a ng-click="goTo(step)">{{step.title || step.wzTitle}}</a>
      </li>
    </ul>
    <div class="steps" ng-transclude></div>
</div>
