<a ng-click="compare()" class="red-text text-lighten-1" href="" title="{{'mainEffective.buttons.compare' | translate}}">
    <i class="material-icons md-48">recent_actors</i>
</a>

<div id="modalCompare" class="modal">
    <div class="modal-content">
        <div ng-if="!loading">
            <filter-calendar periodicity="periodicity" periodicity-active="periodicityActive"
                             meta="meta"></filter-calendar>
            <table>
                <thead>
                <tr>
                    <th data-field="indicators"></th>
                    <th ng-repeat="p in players track by $index" data-field="{{p._id}}" class="center-align">
                        {{p.firstname + " " + p.name}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>Buts</b></td>
                    <td ng-repeat="p in players track by $index" data-field="{{p._id}}" class="center-align"><h3
                            class="light-blue-text text-darken-1">
                        {{stats.goals[p._id] || 0}}</h3>
                        <p ng-if="(stats.originShoot[p._id]||0)>0">{{ (stats.goals[p._id] || 0) *100 /
                            stats.originShoot[p._id] | number : 2}} %</p>
                        <p ng-if="(stats.originShoot[p._id]||0)==0">na</p>
                    </td>
                </tr>
                <tr>
                    <td><b>Sanctions</b></td>
                    <td ng-repeat="p in players track by $index" data-field="{{p._id}}" class="center-align">
                        <h3 class="red-text text-darken-1">{{stats.sanctions[p._id] || 0}}</h3></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="card col s12 m6">
                    <qaobee-radar-chart title="Actions positives offensives" owners="players" start-date="periodicityActive.startDate" end-date="periodicityActive.endDate" indicators="['penaltyObtained', 'exclTmpObtained', 'shift', 'duelWon', 'passDec']"></qaobee-radar-chart>
                </div>
                <div class="card col s12 m6">
                    <qaobee-radar-chart title="Actions négatives offensives" owners="players" start-date="periodicityActive.startDate" end-date="periodicityActive.endDate" indicators="['forceAtt', 'marcher', 'doubleDribble', 'looseball', 'foot', 'zone', 'stopGKAtt']"></qaobee-radar-chart>
                </div>
                <div class="card col s12 m6">
                    <qaobee-radar-chart title="Actions positives défensives" owners="players" start-date="periodicityActive.startDate" end-date="periodicityActive.endDate" indicators="['neutralization', 'forceDef', 'contre', 'interceptionOk']"></qaobee-radar-chart>
                </div>
                <div class="card col s12 m6">
                    <qaobee-radar-chart title="Actions négatives défensives" owners="players" start-date="periodicityActive.startDate" end-date="periodicityActive.endDate" indicators="['penaltyConceded', 'interceptionKo', 'duelLoose', 'badPosition']"></qaobee-radar-chart>
                </div>
            </div>
        </div>
        <div ng-if="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>