<button class="btn-large btn-floating red modal-trigger"
        title="{{'stats.buttons.timeline' | translate}}"
        ng-click="openDetail(uid)">
    <i class="material-icons">timeline</i>
</button>

<div id="modal-{{uid}}" class="modal graph-modal">
    <div class="modal-header right">
        <button class="waves-effect waves-teal btn-flat fa fa-fw fa-close" ng-click="close(uid)"></button>
    </div>
    <div class="modal-content compare-modale">
        <form name="myForm">
            <div class="row dark-primary-color valign-wrapper">
                <div class="col m6 s12">
                    <h4>{{'stats.label.' + currentIndicator | translate}}</h4>
                </div>
                <div class="col m6 s12"><h4 ng-bind="title" class="center"></h4></div>
            </div>
            <div class="row" ng-if="loading">
                <div class="col s12 center">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="noData">
                <div class="col s12">
                    <h6 class="center-align" translate="stats.resumeTab.noData"></h6>
                </div>
            </div>
            <div class="q-modal-chart">
                <canvas ng-if="!noData" id="bar" class="chart chart-bar" chart-data="data"
                        chart-options="chartOpts"
                        chart-labels="labels" chart-series="series">
                </canvas>
             <!--   <select material-select watch ng-change="buildDatas()"
                        ng-model="currentIndicator"
                        ng-options="i as ('stats.label.' + i | translate) for i in indicators track by $index">
                </select>-->
            </div>
            <table>
                <thead>
                <tr>
                    <th data-field="indicators"></th>
                    <th ng-repeat="p in series track by $index" data-field="{{p}}" class="center-align"
                        ng-bind="p"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="l in indicators track by $index" ng-class="{'red lighten-3' : l === currentIndicator}" ng-click="buildDatas(l);">
                    <td><b translate="stats.label.{{l}}"></b></td>
                    <td ng-repeat="d in tabular track by $index" data-field="{{d[$parent.$index]}}"
                        class="center-align">
                        {{d[$parent.$index]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>