<button class="btn waves-effect waves-light accent-color   modal-trigger" title="{{'stats.buttons.timeline' | translate}}"
        ng-click="openDetail(uid)">
    <i class="material-icons">timeline</i>
</button>

<div id="modal-{{uid}}" class="modal graph-modal">
    <div class="modal-header right">
            <button class="waves-effect waves-teal btn-flat fa fa-fw fa-close" ng-click="close(uid)"></button>
    </div>
    <div class="modal-content compare-modale">
        <form name="myForm">
            <div class="row dark-primary-color valign-wrapper">
                <div class="col m2 s4">
                    <h4 for="currentIndicator" translate="stats.label.indicator"></h4>
                </div>
                <div class="input-field col m4 s8">
                    <select class="browser-default" ng-model="currentIndicator" id="currentIndicator">
                        <option ng-repeat="i in indicators" value="{{i}}" ng-selected="currentIndicator === i">
                            {{'stats.label.' + i | translate}}
                        </option>
                    </select>
                    <br>
                </div>
                <div class="col m6 s12"><h4 ng-bind="title" class="center"></h4></div>
                
            </div>
            <filter-calendar periodicity="periodicity" periodicity-active="periodicityActive" meta="meta"></filter-calendar>
            <div class="row" ng-if="loading">
                <div class="col s12">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="noData">
                <div class="col s12">
                    <h6 class="center-align" translate="stats.resumeTab.noData"></h6>
                </div>
            </div>
            <canvas ng-if="!noData" id="bar" class="chart chart-bar" chart-data="data"
                    height="200" chart-labels="labels" chart-series="series">
            </canvas>
            <ul ng-if="!noData" class="bar-legend">
                <li ng-repeat="p in series track by $index">
                    <span class="bar-legend-icon" style="background-color:{{legendColours[$index]}}"></span>
                    <span class="bar-legend-text" ng-bind="p"></span>
                </li>
            </ul>
            <table>
                <thead>
                <tr>
                    <th data-field="indicators"></th>
                    <th ng-repeat="p in series track by $index" data-field="{{p}}" class="center-align"
                        ng-bind="p"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="l in indicatorLabels track by $index">
                    <td><b ng-bind="l"></b></td>
                    <td ng-repeat="d in tabular track by $index" data-field="{{d[$parent.$index]}}"
                        class="center-align">
                        {{d[$parent.$index]}}
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>