<div class="card white">
    <div class="card-title dark-primary-color activator center">
        <small>{{title}}<i class="small material-icons right" ng-if="noStat">more_vert</i></small>
    </div>
    <div class="card-content center-align">
        <div ng-if="loading">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <p ng-if="!noStat" translate="stats.resumeTab.noData"></p>
        <div class="q-radar-chart">
            <canvas id="radar" class="chart chart-radar" ng-if="noStat"
                    chart-options="radarOpts"
                    chart-legend="series" chart-series="series" chart-data="data" chart-labels="labels"
                    ng-if="!loading">
            </canvas>
        </div>
        <div class="right-align" ng-if="noStat">
            <qaobee-stat-detail-modal indicators="indicators" title="title" meta="meta" series="series" owners="owners" distinct="distinct"
            ></qaobee-stat-detail-modal>
        </div>
    </div>
    <div class="card-reveal">
        <span class="card-title light-primary-color"><small>{{title}}<i
                class="material-icons right">close</i></small></span>
        <table>
            <thead>
            <tr>
                <th data-field="indicators"></th>
                <th ng-repeat="p in series track by $index" data-field="{{p}}" class="center-align" ng-bind="p"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="l in labels track by $index">
                <td><b ng-bind="l"></b></td>
                <td ng-repeat="d in data track by $index" data-field="{{d[$parent.$index]}}" class="center-align">
                    {{d[$parent.$index]}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>