<!-- START PRICING TABLE CONTAINER -->
<div class="light-primary-color">
    <div class="row default-primary-color pricing">
        <div class="col s12  center-align accent-text-color">
            <h3 class="title" translate="pricing.titleTarif" ng-if="public==='true'"></h3>
            <h3 class="title" translate="pricing.titleInvite" ng-if="public==='false'"></h3>
        </div>

        <div class="col s12 dark-text-color"><h5 translate="pricing.descTarif"></h5></div>
        
    </div>
    <div class="row white pricing">
        <div class="col s12 m3 light-primary-color" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <h4 translate="pricing.titleIndividual"></h4>
        </div>
        <div class="col s12 m9 light-primary-color" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <h4 translate="pricing.titleClub"></h4>
        </div>
        
        <div class="col s12 m3 default-primary-color">
            <i class="fa fa-fw fa-user fa-3x white-text" style="padding:2px;"></i>&nbsp;
            <h5 translate="pricing.titleIndividualPlan"></h5>
            
        </div>
        <div class="col s12 m3 dark-primary-color">
            <i class="fa fa-fw fa-user-plus fa-3x white-text" style="padding:2px;"></i>&nbsp;
            <h5 translate="pricing.titleClubSmallPlan"></h5>
        </div>
        <div class="col s12 m3 secondary-color">
            <i class="fa fa-fw fa-user-times fa-3x white-text" style="padding:2px;"></i>&nbsp;
            <h5 translate="pricing.titleClubMediumPlan"></h5>
            
        </div>
        <div class="col s12 m3 accent-color">
            <i class="fa fa-fw fa-users fa-3x white-text" style="padding:2px;"></i>&nbsp;
            <h5 translate="pricing.titleClubLargePlan"></h5>
            
        </div>

        <div class="col s12 m3" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <h3 translate="pricing.priceIndividualPlanM"></h3>
            <h6 class="right" translate="pricing.priceIndividualPlanA"></h6>
            <p>&nbsp;</p>
            <h5 class="light-text-color" translate="pricing.conditionIndividualPlan"></h5>
        </div>
        <div class="col s12 m3" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <h3 translate="pricing.priceClubSmallPlanM"></h3>
            <h6 class="right" translate="pricing.priceClubSmallPlanA"></h6>
            <p>&nbsp;</p>
            <h5 translate="pricing.conditionClubSmallPlan"></h5>
        </div>
        <div class="col s12 m3" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <h3 translate="pricing.priceClubMediumPlanM"></h3>
            <h6 class="right" translate="pricing.priceClubMediumPlanA"></h6>
            <p>&nbsp;</p>
            <h5 class="secondary-text-color" translate="pricing.conditionClubMediumPlan"></h5>
        </div>
        <div class="col s12 m3" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <h3 translate="pricing.priceClubLargePlanM"></h3>
            <h6 class="right" translate="pricing.priceClubLargePlanA"></h6>
            <p>&nbsp;</p>
            <h5 class="accent-text-color" translate="pricing.conditionClubLargePlan"></h5>
        </div>
        
        
        <div class="col s12">&nbsp;</div>
        
        <div class="col s12 m3">
            <a href="javascript:void(0)" ng-click="openSignup()" translate="commons.buttons.validate"
                        class="btn waves-effect waves-white default-primary-color">
                </a>
        </div>
        <div class="col s12 m3">
            <a href="javascript:void(0)" ng-click="openSignup()" translate="commons.buttons.validate"
                        class="btn waves-effect waves-white dark-primary-color">
                </a>

        </div>
        <div class="col s12 m3">
            <a href="javascript:void(0)" ng-click="openSignup()" translate="commons.buttons.validate"
                        class="btn waves-effect waves-white secondary-color">
                </a>
        </div>
        <div class="col s12 m3">
            <a href="javascript:void(0)" ng-click="openSignup()" translate="commons.buttons.validate"
                        class="btn waves-effect waves-white accent-color">
                </a>
        </div>
        
        <div class="col s12">&nbsp;</div>
        
        <div class="col s12 m3 left-align" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.gerer"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collecter"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.analyser"></span></p>
            <p>&nbsp;</p>
        </div>
        <div class="col s12 m3 left-align" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.gerer"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collecter"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.analyser"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collaborer"></span></p>
        </div>
        <div class="col s12 m3 left-align" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.gerer"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collecter"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.analyser"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collaborer"></span></p>
        </div>
        <div class="col s12 m3 left-align" style="border: dotted 1px rgba(0, 0, 0, .3);">
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.gerer"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collecter"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.analyser"></span></p>
            <p><i class="fa fa-fw fa-check-square" style="padding:2px;"></i> <span translate="pricing.features.collaborer"></span></p>
        </div>
    </div>
    
</div>

