<div class="card primary-text-color">
    <div class="card-content dark-primary-color">
        <span class=""><i class="fa fa-futbol-o"></i> {{widgetTitle | translate}}</span>
    </div>
    <div class="card-content" style="height:200px;">
        <div ng-if="loading" class="center-align">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="!loading">
            <div class="center-align" ng-if="noStat">
                <h2 class="">{{efficiency | number : 0}}
                    <small>%</small>
                </h2>
                <h5 class="right-align">{{nbGoal}} buts / {{nbShoot}} tirs</h5>
            </div>
            <div class="center-align" ng-if="!noStat" translate="stats.resumeTab.noData"></div>
        </div>
    </div>
</div>