
    <!-- Filter Zone start-->
    <div class="row valign-wrapper hide-on-small-only light-primary-color">
        <!-- Periodicity selector -->
        <div class="col s4 center" >
            <a href="" ng-click="currentMonth()" class="btn3 waves-effect waves-white accent-color" translate="commons.periodicity.month"></a>
            <a href="" ng-click="currentQuarter()" class="btn3 waves-effect waves-white accent-color" translate="commons.periodicity.quarter"></a>
            <a href="" ng-click="currentSeason()" class="btn3 waves-effect waves-white accent-color" translate="commons.periodicity.season"></a>
        </div>


        <!-- Month Navigation-->
        <div class="col s1 center" ng-if="periodicity=='month'">
            <a href="" ng-click="previousMonth()" class="btn-floating dark-primary-color waves-effect waves-white">
                <i class="material-icons">chevron_left</i>
            </a>
        </div>

        <div class="col s6 center" ng-if="periodicity=='month'">
            <h5 class="primary-color-text" ng-bind="periodicityActive.label"></h5>
        </div>

        <div class="col s1 center" ng-if="periodicity=='month'">
            <a href="" ng-click="nextMonth()" class="btn-floating dark-primary-color waves-effect waves-white">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>


        <!-- Quarter Navigation-->
        <div class="col s1 center" ng-if="periodicity=='quarter'">
            <a href="" ng-click="previousQuarter()" class="btn-floating dark-primary-color waves-effect waves-white">
                <i class="material-icons">chevron_left</i>
            </a>
        </div>

        <div class="col s6 center" ng-if="periodicity=='quarter'">
            <h5 class="primary-color-text" ng-bind="periodicityActive.label"></h5>
        </div>

        <div class="col s1 center" ng-if="periodicity=='quarter'">
            <a href="" ng-click="nextQuarter()" class="btn-floating dark-primary-color waves-effect waves-white">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>


        <!-- Season Navigation-->
        <div class="col s1 center" ng-if="periodicity=='season'">
            <a href="" ng-click="previousSeason()" class="btn-floating dark-primary-color waves-effect waves-white">
                <i class="material-icons">chevron_left</i>
            </a>
        </div>

        <div class="col s6 center" ng-if="periodicity=='season'">
            <h5 class="primary-color-text" ng-bind="periodicityActive.label"></h5>
        </div>

        <div class="col s1 center" ng-if="periodicity=='season'">
            <a href="" ng-click="nextSeason()" class="btn-floating dark-primary-color waves-effect waves-white">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>


<!-- view for tablet and phone -->
<div class="row hide-on-med-and-up light-primary-color">
    
    <div class="col s12 center" >&nbsp;</div>
    
    <!-- Periodicity selector -->
    <div class="col s12 center" >
        <a href="" ng-click="currentMonth()" class="btn3 waves-effect waves-white accent-color" translate="commons.periodicity.month"></a>
        <a href="" ng-click="currentQuarter()" class="btn3 waves-effect waves-white accent-color" translate="commons.periodicity.quarter"></a>
        <a href="" ng-click="currentSeason()" class="btn3 waves-effect waves-white accent-color" translate="commons.periodicity.season"></a>
    </div>


    <!-- Month Navigation-->
    <div class="col s6 center" ng-if="periodicity=='month'">
        <a href="" ng-click="previousMonth()" class="btn-floating dark-primary-color waves-effect waves-white">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
    
    <div class="col s6center" ng-if="periodicity=='month'">
        <a href="" ng-click="nextMonth()" class="btn-floating dark-primary-color waves-effect waves-white">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
    
    <div class="col s12 center" >&nbsp;</div>

    <div class="col s12 center" ng-if="periodicity=='month'">
        <h5 class="primary-color-text" ng-bind="periodicityActive.label"></h5>
    </div>

    


    <!-- Quarter Navigation-->
    <div class="col s6 center" ng-if="periodicity=='quarter'">
        <a href="" ng-click="previousQuarter()" class="btn-floating dark-primary-color waves-effect waves-white">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
    
    <div class="col s6 center" ng-if="periodicity=='quarter'">
        <a href="" ng-click="nextQuarter()" class="btn-floating dark-primary-color waves-effect waves-white">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
    
    <div class="col s12 center" >&nbsp;</div>

    <div class="col s12 center" ng-if="periodicity=='quarter'">
        <h5 class="primary-color-text" ng-bind="periodicityActive.label"></h5>
    </div>

    


    <!-- Season Navigation-->
    <div class="col s6 center" ng-if="periodicity=='season'">
        <a href="" ng-click="previousSeason()" class="btn-floating dark-primary-color waves-effect waves-white">
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
    
    <div class="col s6 center" ng-if="periodicity=='season'">
        <a href="" ng-click="nextSeason()" class="btn-floating dark-primary-color waves-effect waves-white">
            <i class="material-icons">chevron_right</i>
        </a>
    </div>
    
    <div class="col s12 center" >&nbsp;</div>

    <div class="col s12 center" ng-if="periodicity=='season'">
        <h5 class="primary-color-text" ng-bind="periodicityActive.label"></h5>
    </div>

    
</div>
