/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.material-icons.md-9 {
    font-size: 9px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-60 {
    font-size: 60px;
}

/* Theme Color : deep-purple/red */

.dark-primary-color {
    background: #37474F !important;
    color: #FFFFFF;
}

.default-primary-color {
    background: #607d8b;
    color: #FFFFFF;
}

.light-primary-color {
    background: #eceff1 !important;
    color: #37474F !important;
}

.accent-color {
    background: #ea5350 !important;
    color: #FFFFFF;
}

.btn.call-to-action {
    background: rgb(120, 190, 120);
!important;
    color: #FFFFFF;
}

.secondary-color {
    background: #78BE78 !important;
    color: #FFFFFF;
}

.primary-text-color {
    color: #37474F;
}

.secondary-text-color {
    color: #78BE78 !important;
}

.accent-text-color {
    color: #ea5350 !important;
}

.dark-text-color {
    color: #37474F;
}

.light-text-color {
    color: #90a4ae !important;
}

.divider-light {
    color: #eceff1 !important;
}

/* Public site */

.aboutUs .card-content {
    min-height: 170px
}

.aboutUs .card-transluscent {
    background-color: rgba(96, 125, 139, 0.5);
    padding: 20px;
    margin: 3vh 15vw 3vh 15vw;
    text-align: center;
    color: #ffffff;
}

.aboutUs-part-two {
    text-align: left;
    position: relative;
    padding: 3vh 7vw 3vh 7vw;
}

.top-nav-trans {
    position: relative;
    z-index: 30;
    box-shadow: none;
}

.landing {
    max-height: 100%;
    height: 100%;
    width: 100%;
    padding: 5vh 10vw 10vh 10vw;
    text-align: center;
    position: relative;
    background: url("../assets/images/handball/Pricing.jpg") fixed center 40%;
    background-size: cover;
}

.pricing {
    background: url("../assets/images/handball/Pricing.jpg") fixed center 40%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    padding: 5vh 10vw 5vh 10vw;
    text-align: center;
    background-size: cover;
    position: relative;
}

.landing h2, .about-title h2 {
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5),
    1px -1px 1px rgba(0, 0, 0, 0.5),
    -1px 1px 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.price h4 {
    text-shadow: none;
}

.landing-part-two {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    padding: 3vh 7vw 3vh 7vw;
    background-color: #607d8b !important;
}

.landing div {
    margin-bottom: 1vh;
}

.landing-part-two div {
    margin-bottom: 5vh;
}

.aboutUs {
    max-height: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url("../assets/images/handball/Pricing.jpg") fixed;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;

}

/* Override Materializecss */

.card {
    border-radius: 8px;
}

.aboutUs img {
    filter: grayscale(100%);
    border-radius: 12px !important;
}

.card, .card .card-title {
    border-radius: 4px 4px 0 0;
}

.btn, .btn-large, .btn-flat {
    min-width: 45%;
    height: 40px;
    padding: 2px;
    max-width: 200px;
    border-radius: 4px;
}

.btn-floating {
    width: 40px;
    min-width: 0%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
}

.btn3 {
    width: 32%;
    height: 25px;
    padding: 2px;
    max-width: 200px;
    border-radius: 4px;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ef9a9a !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: rgba(120, 190, 120, 0.8);
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: rgba(120, 190, 120, 1);
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ef9a9a;
    box-shadow: 0 1px 0 0 #ef9a9a;
}

input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid,
input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid,
input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #546e7a;
    box-shadow: 0 0 0 0 #546e7a;
}

input {
    padding-left: 5px !important;
    padding-right: -5px !important;
}

input.has-error {
    border-bottom-color: #ea5350 !important;
    color: #ea5350;
}

input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime].invalid,
input[type=datetime]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #ea5350;
    box-shadow: 0 1px 0 0 #ea5350;
}

input.ng-invalid, input.ng-invalid + label {
    content: attr(data-error);
    color: #F44336;
    opacity: 1;
}

input.ng-pristine, input.ng-pristine + label {
    color: #646464;
    opacity: 1;
}

[type="radio"].with-gap:checked + label:after {
    border: 2px solid #546e7a;
    background-color: #546e7a;
}

[type="radio"].with-gap:checked + label:before {
    border-radius: 50%;
    border: 2px solid #546e7a;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 5px 0;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #ef9a9a;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

button, input, optgroup, select, textarea {
    color: #646464;
}

.tabs .tab a {
    color: #646464 !important;
    background-color: #e0e0e0;
}

.tabs .tab a:hover {
    background-color: #ef5350;
    color: #ffffff !important;
}

.tabs .tab .active {
    background: #bdbdbd;
    color: #ffffff !important;
}

.tabs .indicator {
    background-color: #ef5350;
    height: 3px;
}

.tabs .tab.disabled a {
    color: #7cb342;
    cursor: default;
}

span.badge {
    position: relative;
}

.visible-nav {
    z-index: 30 !important;
    position: relative;
}

#sidenav-overlay {
    z-index: 20;
}

.scrollfire-hidden {
    opacity: 0;
}

/* Toast */
.toast-message {
    line-height: normal;
    font-size: 1em;
    font-weight: normal;
    word-break: normal;
}

#toast-container .toast {
    display: block;
    height: auto;
}

/* Custom style for angular-file-uploader */
.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}

.nv-file-drop {
    border: dotted 3px green;
}

.container {
    width: 90%;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 1025px) {
    .brand-logo {
        max-width: 30%;
    }

    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 769px) {
    .brand-logo {
        max-width: 70%;
    }

    .container {
        width: 80%;
    }
}

/** Mobile App Download Banner */
.banner-container {
    background: linear-gradient(to bottom, #f2f5f6 0, #ede3e3 46%, #ddd 100%);
    color: #666;
    text-align: center;
}

.banner-container div.row {
    margin-bottom: 9px;
}

.banner-container div.row div.col {
    margin: 0;
}

.banner-close {
    font-size: 16px;
    font-weight: bold;
}

.banner-img-dl {
    height: 100px;
}

.banner-img-dl img {
    width: 70px;
    height: 70px;
}

.banner-appl {
    line-height: normal;
    text-align: left;
}

.banner-appl-title {
    font-weight: bold;
}

.banner-appl-author {
    font-size: 12px;
}

.banner-btn-dl {
    border: 1px solid #bbb;
    color: #666;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 0 2px 2px #FFFFFF;
}

.picker__header select {
    display: inline-block;
    padding: 5px;
}

/** responsive RECAPTCHA*/
#custom_recaptcha_widget .col {
    padding: 0;
}

#custom_recaptcha_widget img#recaptcha_challenge_image,
#custom_recaptcha_widget #recaptcha_image {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@media screen and (max-width: 400px) {
    #custom_recaptcha_widget img#recaptcha_challenge_image,
    #custom_recaptcha_widget #recaptcha_image {
        width: 100% !important;
        height: auto !important;
    }

    #custom_recaptcha_widget img {
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}

/*** Customisation du bouton de feedback */
.feedback-btn-gray {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: larger;
    background: #78BE78 none;
    left: 60px;
    right: auto;
}

.feedback-buttons {
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

#feedback-highlighter-next {
    float: none;
    border: none;
    border-radius: 0;
}

#feedback-overview-back {
    background: #F44336 none;
}

.feedback-btn-blue {
    color: #fff;
    font-family: "Roboto", sans-serif;
    background: #43A047 none;
    font-weight: normal;
    font-size: larger;
    border: none;
    border-radius: 0;
}

.feedback-wizard-close {
    background: url(../assets/images/icons.png) 0 -34px;
}

#feedback-close {
    background: url(../assets/images/icons.png) -0px -64px;
}

.feedback-logo {
    background: url(../assets/images/icons.png) 0 0 no-repeat;
}

.feedback-sethighlight div {
    background: url(../assets/images/icons.png) 0 -94px;
}

.feedback-setblackout div {
    background: url(../assets/images/icons.png) -16px -94px;
}

#feedback-overview-description-text span {
    background: url(../assets/images/icons.png) -30px -34px no-repeat;
}

.fs-loader {
    margin: 0;
    padding: 0;
    background: url(../assets/images/handball/Back02.jpeg) black no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

.fs-loader h1 {

    position: absolute;
    top: 200px;
    width: 100%;
    color: white;
    text-align: center;
}

/* http://codepen.io/anon/pen/JGQQwX */
.fs-loader ul, .fs-loader li {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.show-area {
    z-index: 999;
    height: 1.2em;
    width: 100%;
    margin: 0 auto;
    line-height: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 400px;
    overflow: hidden;
    font-size: 3em;
}

.board {
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10em;
    -webkit-animation: marqee 5s linear infinite;
    -moz-animation: marqee 5s linear infinite;
}

.board li {
    width: 100%;
    height: 2em;
    padding: .5em 0;
    position: relative;
    left: 0;
    top: 0;
    animation: slide linear 1s;
    animation-iteration-count: infinite;
    -webkit-animation: slide linear 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: slide linear 1s;
    -moz-animation-iteration-count: infinite;
}

@-webkit-keyframes marqee {
    0% {
        top: .5em;
    }
    100% {
        top: -9.5em;
    }
}

@-moz-keyframes marqee {
    0% {
        top: 0.5em;
    }
    100% {
        top: -9.5em;
    }
}

@-webkit-keyframes slide {
    0% {
        left: 0;
        top: 0;
        opacity: 0;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
    50% {
        left: 0;
        top: 0;
        opacity: 0.75;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
    75% {
        left: 0;
        top: .45em;
        opacity: 1;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
    100% {
        left: 0;
        top: 0;
        opacity: 0;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}

@-moz-keyframes slide {
    0% {
        left: 0;
        top: 0;
        opacity: 0;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
    50% {
        left: 0;
        top: 0;
        opacity: 0.75;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
    75% {
        left: 0;
        top: .45em;
        opacity: 1;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
    100% {
        left: 0;
        top: 0;
        opacity: 0;
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}

@-moz-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}

@-ms-keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}

.graph-modal.modal {
    width: 85%;
    max-height: 85%;
}

.compare-modale canvas#line {
    width: 100% !important;
    height: 200px !important;
}

.notification.dropdown-content {
    display: none;
    min-width: 300px; /* Changed this to accomodate content width */
    margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
    opacity: 0;
    will-change: width, height;
    top: 55px !important;
    overflow: visible;
    min-height: 0;
    padding: 0;
}

.notification.dropdown-content div {
    padding: 10px 20px;
    line-height: 1rem;
}

.notification.dropdown-content div.row, .notification.dropdown-content div.col {
    padding: 0;
    margin: 0;
    line-height: 1rem;
}

.notification.dropdown-content a > i.material-icons {
    padding: 5px;
    line-height: 1rem;
    font-size: 1rem;
}

.notification.dropdown-content a {
    padding: 0;
    margin: 0;
}

.notification:after {
    content: '';
    display: block;
    position: absolute;
    top: -19px; /*should be set to -border-width x 2 */
    right: 21px;
    width: 0;
    text-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: 0;
    /*border color should be same as div div background color*/
    border: 10px solid transparent;
    border-bottom-color: white;

}

.widget-content {
    margin: 0;
    padding: 5px;
    width: 100%;
}

.widget-header {
    padding: 10px !important;
}

.card .card-content {
    padding: 10px !important;
}

.card .card-content .card-title {
    line-height: 24px;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.pricing .card-content {
    padding: 0 !important;
    min-height: 330px;
}

.pricing li:before {
    content: "- "; /* on affiche une chaîne de caractère */
}

.pricing ul {
    padding: 10px;
}

.pricing .price .btn {
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    right: 0;
    left: 0;
    height: auto;
    padding: 10px !important;
}

.pricing .card-title {
    padding: 10px;
    margin: 0;
}

.pricing .price span.amount {
    font-size: 50px;
    font-weight: bolder;
}

.pricing .price {
    padding: 10px;
    line-height: 100%;
}

.pricing .price p {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 120%;
}

.pricing .pricing-subscribe {
    padding: 10px;
    height: 100%;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.pricing .btn.subscribe {
    padding: 10px;
    vertical-align: middle;
    height: 100%;
    margin-left: 20px;
    font-weight: bold;
}

.pricing .container {
    padding: 20px 12%;
}

.pricing .price span.period {
    line-height: 5px;
    margin-top: -20px;
}

.pricing .price span.currency {
    line-height: 25px;
    vertical-align: text-top;
    font-weight: bolder;
    font-size: 25px !important;
}

.payplug-frame {
    width: 100%;
    height: calc(100vh + 80px);
    margin-top: -54px;
    overflow-y: hidden;
}

.activeNotif {
    animation: bounce 1s ease infinite;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.trial a {
    color: #fff;
    font-weight: bold;
}

.trial {
    /*  padding-top: 80px; */
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
}

.nav-padding {
    margin-bottom: 65px;
}

.valign-middle {
    display: table;
}

.valign-middle .col {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .col,
.valign-middle [class*="col"] + [class*="col"]:last-child {
    float: none;
}

/** Bandeau CNIL **/
.cnil {
    position: relative;
    width: 100%;
    min-height: 65px;
    text-align: center;
    font-size: 14px;
    padding: 8px 64px 8px 8px;
    z-index: 1000;
    margin-top: -15px;
}

.cnil-link {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.cnil-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 24px;
    cursor: pointer;
}

.cnil-close-text {
    position: relative;
    display: block;
    top: calc(50% - 13px);
    font-size: 20px;
}

.cnil-main p {
    text-align: justify;
}

.default-chip {
    border: 2px solid #607d8b;
    border-radius: 4px;
    background: #ffffff;
    padding: 5px;
}

.legal p {
    text-align: justify;
    text-indent: 10px;
}

.nav-wrapper a.brand-logo {
    font-size: 150%;
}

.trial-banner {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
}

.trial-banner > div {
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.12), Direction=180, Strength=10);
}

.notif-sender {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.notif-sender img {
    max-width: 120px;
    -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    -moz-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    -ms-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    -o-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

.notif-panel {
    margin-top: -60px;
    padding-top: 50px;
}

.notif-panel .notif-close {
    margin-top: -40px;
    float: right;
}

.q-radar-chart {
    height: 300px;
}

.q-modal-chart {
    height: 200px;
}

input[type=checkbox] ~ .card-toggle {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}

input[type=checkbox]:checked ~ .card-toggle {
    max-height: 500px;
    opacity: 1;
}

input[type=checkbox] + .card-title .fa {
    transform-origin: 50% 50%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

input[type=checkbox]:checked + .card-title .fa {
    transform: rotate(-180deg);
}

.mandatory::after {
    padding-left: 5px !important;
    content: "*" !important;
    color: #F44336 !important;
    position: relative !important;
    opacity: 1 !important;
    top: 0 !important;
    display: inline !important;
}

/* Home public zone 1 */

.zone1-title {
    line-height: 1.5em;
}

.zone1 {
    background-size: cover;
    background: #636363 url("../assets/images/handball/zone2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    height: calc(100vh - 64px);
    width: 100%;
    background-blend-mode: overlay;
    margin: 0;
    padding: 0;
}

.zone1 > div {
    width: 100%;
    height: 100%;
}

.zone1 > div > div {
    width: 100%;
}

.zone1 .btn {
    margin-top: 20px;
}

/* Home public zone 3 */
.zone3-title {
    line-height: 1em;
}

.zone3 {
    background-size: cover;
    background: darkslategrey url("../assets/images/handball/zone5.jpg") no-repeat 80%;
    -webkit-background-size: cover;
    height: calc(100vh - 64px);
    width: 100%;
    background-blend-mode: overlay;
    margin: 0;
    padding: 0;
}

.zone3 > div {
    width: 100%;
    height: 100%;
}

.zone3 > div > div {
    width: 100%;
}

.zone3 .btn {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .zone1-text-container, .zone2-text-container {
        width: 100%;
    }
}

.home-concept {
    background: url("../assets/images/handball/Home1.png") center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    height: 400px;
}

div.home-bg1 {
    height: 250px;
    width: auto;
    background: url("../assets/images/home2.jpg") no-repeat right bottom;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

div.home-bg2 {
    height: 250px;
    width: auto;
    background: url("../assets/images/home3.jpg") no-repeat right bottom;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.icon-block {
    counter-reset: step;
}

p {
    text-align: justify;
}

.icon-block + p {
    margin-top: 150px;
}

.icon-block > li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 22px;
    position: relative;
    text-align: center;
}

.icon-block > li > i {
    text-align: center;
    position: absolute;
    top: 25px;
    width: 100%;
    left: 0;
    font-size: 30px;
}

.icon-block > li:before {
    width: 80px;
    height: 80px;
    content: '';
    line-height: 50px;
    border: 2px solid #37474F;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #ffffff;
}

.icon-block > li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #37474F;
    top: 39px;
    left: -50%;
    z-index: -1;
}

.icon-block > li:first-child:after {
    content: none;
}

.icon-block:after {
    display: none !important;
}

.home {
    margin-top: 40px;
}

.btn-sm {
    min-width: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.mailing {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#ngMap {
    height: 100%;
    width: 100%;
    min-height: 300px;
}

.social-icons {
    display: table; /* Allow the centering to work */
    margin: 0 auto;
    height: 4em;
}

.social-icons > li {
    list-style: none;
    float: left;
    position: relative;
    padding: 2em;
}

.social-icons > li > a > i.fa {
    font-size: 3em;
}

.hidden {
    visibility: hidden;
}

/* Real sample */
slide-wrapper {
    position: relative;
    display: block;
    min-height: 300px;
    overflow: hidden;
    width: 100%;
}

slide-wrapper ul {
    list-style: none;
    padding: 0;
    float: left;
}

slide-wrapper ul.slide {
    list-style: none;
    padding: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    margin: inherit;
    float: inherit;
}

slide-wrapper ul.slide.touch {
    -webkit-transition: none;
    transition: none;
}

slide-wrapper ul.slide li {
    float: left;
}

slide-wrapper ul.bullets {
    margin-top: -5px;
}

slide-wrapper ul.bullets li {
    width: 15px;
    height: 15px;
    background: DarkSlateGray;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    float: left;
    margin: 5px;
    cursor: pointer;
    z-index: 999999;
}

slide-wrapper ul.bullets li.active {
    background-color: #78BE78;
}

.device {
    position: relative;
    left: 25%;
    padding: 56px 10px 0;
    border-radius: 30px;
    background: #37474F;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .7);
    width: 200px !important;
}

.device:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .2);
    top: 24px;
    left: calc(50% - 5px);
}

.screenshot .desc {
    position: absolute;
    background-color: rgba(33, 33, 33, 0.7);
    bottom: 3rem;
    width: 70%;
    margin-left: 30%;
    padding: 1rem;
    border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 769px) {
    .screenshot .desc {
        position: relative;
        bottom: 0;
        padding: 1rem;
        background-color: transparent;
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
        border-radius: 0;
    }

    slide-wrapper ul.bullets {
        position: absolute;
        top: 0;
    }

    slide-wrapper {
        margin-top: 1rem;
        height: auto;
    }
}

.device .screenshot > li {
    min-height: 200px;
    background-color: white;
    border-radius: 4px 4px 0 0;
}

.laptop .screenshot {
    width: 200px;
    height: 500px;
    overflow: hidden;
    background-color: white;
    border-radius: 4px 4px 0 0;
}

.laptop {
    width: 100%;
    position: relative;
}

.laptop:before {
    background: #222;
    display: block;
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    top: 0.7rem;
    left: calc(50% - 0.4rem);
    z-index: 1000;
}

.laptop:after {
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    margin-left: 2.5%;
    height: 0.75rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.upper {
    width: 80%;
    height: calc(9 / 16 * 80%);
    margin-bottom: -1rem;
    background: #3d4144;
    border: 2px solid #eaeaea;
    border-bottom: none;
    border-radius: 1.5rem 1.5rem 0 0;
    margin-left: 10%;
    box-shadow: inset 0 0 2px 2px #222;
    position: relative;
}

.lower {
    width: 100%;
    height: 2rem;
    background: #eaeaea;
    border-radius: 2px;
    position: relative;
}

.lower:before {
    display: block;
    content: "";
    position: absolute;
    width: 20%;
    height: 0.8rem;
    background: #a1a1a1;
    left: 40%;
    top: 0;
    border-radius: 0 0 0.25rem 0.25rem;
}

.lower:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.75rem;
    background: #bababa;
    top: 2rem;
    border-bottom-right-radius: 7.5rem 2.5rem;
    border-bottom-left-radius: 7.5rem 2.5rem;
}

.upper slide-wrapper {
    width: 95%;
    height: 100%;
    margin: 1rem 2.5% 0;
    min-height: 0;
}

.upper slide-wrapper ul.bullets {
    margin-top: -30px;
}

.icon-block {
    counter-reset: step;
}

p {
    text-align: justify;
}

.icon-conceptH {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.icon-conceptH .fa {
    height: 5rem;
    width: 5rem;
    font-size: 3rem !important;
    padding-top: 1rem;
    margin: 10px;
    border-radius: 5%;
    background-color: #78BE78;
}

.icon-concept {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.icon-concept .fa {
    height: 5rem;
    width: 5rem;
    font-size: 2rem !important;
    padding-top: 1rem;
    margin: 10px;
    border-radius: 5%;
    background-color: #607d8b;
}

#download {
    border: 1px solid #37474F;
}

.outter-arrow {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    color: white;
    padding-top: 5px;
}

span#top {
    position: absolute;
    top: 0;
}

.toTop {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: #607d8b;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    -moz-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    -ms-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    -o-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}

.fade.ng-enter {
    transition: 0.25s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: 0.25s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}