/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .hero {
        min-height: calc(100vh - 150px) !important;
    }
    #index-banner .section {
        top: 0;
    }
    .hero h1.title {
        font-size: 3em;
    }
    .hero-overlay + .container {
        padding: 0;
    }
    .hero h4.title {
        font-size: 1.5em;
    }
    .hero-overlay {
        min-height: calc(100vh - 150px) !important;
    }
    .hero a.btn {
        margin-bottom: 10px;
    }
    .describe .col {
        min-height: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        min-height: calc(100vh - 50px) !important;
    }
    #index-banner .section {
        top: 0;
    }
    .hero h1.title {
        font-size: 3em;
    }
    .hero-overlay + .container {
        padding: 0;
    }
    .hero h4.title {
        font-size: 1.5em;
    }
    .hero-overlay {
        min-height: calc(100vh - 58px) !important;
    }
    .hero a.btn {
        margin-bottom: 10px;
    }
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}

.hero {
    background: url("../assets/images/background1.jpg") center 40%;
    background-size: cover;
    width: 100%;
    margin-top: -65px;
    padding-top: 10%;
    min-height: calc(100vh - 194px);
    height: 100%;
}
.hero-overlay {
    background-color: #000000;
    width: 100%;
    min-height: calc(100vh - 194px);
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.5;
}
.hero-overlay + .container {
    position: relative;
    padding-top: 5px;
    z-index: 10;
}

.hero h1.title {
    text-transform: uppercase;
    font-weight: bold;
}
.hero h4.title {
     text-transform: uppercase;
     font-weight: bold;
 }
.hero a.btn {
    background-color: rgba(158,158,158, 0.5);
    color: #fff;
}
.top-nav-trans {
    position: relative;
    z-index: 30;
    background-color: transparent !important;
    box-shadow: none;
}
.visible-nav {
    z-index: 30 !important;
    position: relative;
}
#sidenav-overlay {
    z-index: 20;
}

.scrollfire-hidden {
    opacity: 0;
}
.toast-message {
    line-height: normal;
    font-size: 1em;
    font-weight: normal;
}
#toast-container  .toast {
    display: block;
    height: auto;
}

.justify {
    text-align: justify;
}
.small {
    font-size: small;
}
.how {
    background-color: #B4C8BD;
    color: #fff;
    max-width: 100%;
    margin-top: -300px !important;
    padding-top: 300px;
    width: 100%;
}
.how .container {
    width: 90%;
}
.pad-10 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}