/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
    line-height: 2rem;
}
.container {
    width: 85%;
}
.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

footer.page-footer {
    margin: 0;
}
.lost {
    background: url("../assets/images/404-bg.jpg") center 0%;
    background-size: cover;
    width: 100%;
    margin-top: -65px;
    padding-top: 10%;
    min-height: 100vh !important;
    height: 100%;
}
.lost-overlay {
    background-color: #000000;
    width: 100%;
    min-height: 100vh !important;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

.hero {
    background: url("../assets/images/background1.jpg") center 40%;
    background-size: cover;
    width: 100%;
    margin-top: -65px;
    padding-top: 10%;
    min-height: calc(100vh - 194px);
    height: 100%;
}
.hero-overlay {
    background-color: #000000;
    width: 100%;
    min-height: calc(100vh - 194px);
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.5;
}
.hero-overlay + .container, .lost-overlay + .container {
    position: relative;
    padding-top: 5px;
    z-index: 10;
}

.hero h1.title, .lost h1.title {
    text-transform: uppercase;
    font-weight: bold;
}
.hero h4.title, .lost h4.title {
 }

h6.title {
    font-weight: bold;
}
.hero a.btn, .lost a.btn {
    background-color: rgba(158,158,158, 0.5);
    color: #fff;
}
.top-nav-trans {
    position: relative;
    z-index: 30;
    background-color: transparent !important;
    box-shadow: none;
}
.visible-nav {
    z-index: 30 !important;
    position: relative;
}
#sidenav-overlay {
    z-index: 20;
}

.scrollfire-hidden {
    opacity: 0;
}
.toast-message {
    line-height: normal;
    font-size: 1em;
    font-weight: normal;
}
#toast-container  .toast {
    display: block;
    height: auto;
}

.justify {
    text-align: justify;
}
.small {
    font-size: small;
    line-height: 2em;
}
.how {
    background-color: #B4C8BD;
    color: #fff;
    max-width: 100%;
    margin-top: -300px !important;
    padding-top: 300px;
    width: 100%;
    margin-bottom: -30px;
    padding-bottom: 30px;

}
.how .container {
    width: 90%;
}
.how h5 {
    min-height: 50px;
}
.pad-10 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

@media only screen and (max-width: 992px) {
    .hero {
        min-height: calc(100vh - 150px) !important;
    }
    #index-banner .section {
        top: 0;
    }
    .hero h1.title {
        font-size: 3em;
    }
    .hero-overlay + .container {
        padding: 0;
    }
    .hero h4.title {
        font-size: 1.5em;
    }

    .hero-overlay {
        min-height: calc(100vh - 150px);
    }
    .hero a.btn {
        margin-bottom: 10px;
    }
    .describe .col {
        min-height: 200px;
    }
    .container {
        width: 90%;
    }
    .lost {
        min-height: 100vh;
    }
    .lost-overlay {
        min-height: 100vh;
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        min-height: calc(100vh - 50px);
    }
    .lost {
        min-height: 100vh;
    }
    #index-banner .section {
        top: 0;
    }
    .hero h1.title {
        font-size: 3em;
    }
    .hero-overlay + .container {
        padding: 0;
    }
    .hero h4.title {
        font-size: 1.5em;
    }
    .hero-overlay {
        min-height: calc(100vh - 58px);
    }
    .lost-overlay {
        min-height: 100vh;
    }
    .hero a.btn {
        margin-bottom: 10px;
    }
    .container {
        width: 100%;
    }
}

/* Custom style for angular-file-uploader */
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } 
.nv-file-drop { border: dotted 3px green; }

canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}

/* Custom style for angular-selection-model */
/* Selection Model Styles */
ul.fancy {
  padding: 0;
  list-style-type: none;
}

ul.fancy li {
  cursor: pointer;
  padding: 5px 10px;
}

ul.fancy li.selected {
  color: lavenderblush;
  background-color: #428BCA;
}

table.super-fancy td {
  cursor: pointer;
}

table.super-fancy tr.foobar {
  color: white;
  background-image: url('img/29.png'), url('img/53.png'), url('img/79.png');
}
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}