<flip horizontal flipped="flipped">
    <flip-front>
        <div class="stat-panel">
            <!-- Danger background, vertically centered text -->
            <div class="stat-cell bg-success valign-middle"><i class="fa fa-newspaper-o bg-icon"></i>
                <button flip-toggle class="fa fa-cog pull-right"></button>
                <div ng-repeat="b in blogs track by _id">
                    <div class="row">
                        <div class="col-xs-2 col-md-2">
                            <img ng-src="{{b.user_id.avatar && 'file/' + b.user_id.avatar  || 'imgs/user.png' }}" width="120px" class="img-thumbnail img-responsive" />
                        </div>
                        <div class="col-xs-8 col-md-8">
                            <div>
                                <a href="">{{b.title}}</a>
                                <div class="mic-info">
                                    <span translate="content.blog.by"></span> <a href="#">{{b.user_id.forname}} {{b.user_id.name}}</a> <span>{{b.timestamp | date:'longDate'}}</span> <span>{{b.timestamp | date: 'shortTime'}}</span>
                                </div>
                            </div>
                            <div ng-bind-html="b.content" class="comment-text"></div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.stat-cell -->
        </div>
    </flip-front>
    <flip-back>
        <button flip-toggle class="fa fa-reply pull-right"></button>
    </flip-back>
</flip>