<div class="container">

    <!-- space between header menu and body-->
    <div class="row hide-on-med-and-down"></div>

    <!-- Entete -->
    <div class="row colorAccent-text colorBckgModal center valign-wrapper hide-on-med-and-down">
        <div class="col m1">
            <i class="material-icons md-48">group</i>
        </div>
        <div class="col m9 colorMain-text left-align">
            <h5>{{'sbMemberMngtPage.title' | translate }}</h5>
        </div>
        
        <div class="col m2">
            <button class="btn colorAccent white-text" ng-click="doTheBack()">
                {{'commons.buttons.back' | translate }}
            </button>
        </div>
    </div>
    
    
    <!-- Entete -->
    <div class="row colorAccent-text colorBckgModal center hide-on-large-only">
        <div class="col s12">&nbsp;</div>
        
        <div class="col s12 colorMain-text">
            <h5>{{'sbMemberMngtPage.title' | translate }}</h5>
        </div>
        
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
            <button class="btn colorAccent white-text" ng-click="doTheBack()">
                {{'commons.buttons.back' | translate }}
            </button>
        </div>
        <div class="col s12">&nbsp;</div>
    </div>


    <div class="row">
        
        <div class="col s12 colorAccent-text">
            <h6>{{'sbMemberMngtPage.label.listMember' | translate }}</h6>
        </div>
        
        
        <ul>
            <li class="col l3 m6 s12" ng-repeat="member in sandbox.members">
                <div class="card colorBckgModal colorMain-text">
                    <div class="card-content center-align" style="height:48px;">
                        <span class="card-title colorMain-text">
                            {{member.person.firstname}} {{member.person.name}}
                        </span>
                    </div>
                    <div class="card-content center-align" style="height:48px;">
                        <avatar person="member.person" width="'50px'"></avatar>
                    </div>
                    
                    <div class="card-content center-align colorMain" style="height:48px;">
                        <h5><small class="white-text">{{member.role.label}}</small></h5>
                    </div>

                    <div class="card-action">
                        <span class="colorMain-text">{{'sbMemberMngtPage.label.memberActif' | translate }}</span>
                        <div class="right"> 
                            <div class="switch">
                                <label>
                                  {{'sbMemberMngtPage.label.off' | translate }}
                                  <input type="checkbox" ng-click="updateMemberSandbox(member.person._id)"
                                     ng-checked="member.status=='activate'">
                                  <span class="lever"></span>
                                    {{'sbMemberMngtPage.label.on' | translate }}
                                </label>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="col s12">&nbsp;</div>
    </div>
    
</div>