<div class="container">

    <!-- space between header menu and body-->
    <div class="row"><div class="col s12">&nbsp;</div></div>

    <!-- Entete -->
    <title-page-bar icon="people" title="sbMemberMngtPage.title"></title-page-bar>

    <div class="row">
        
        <div class="col s12 primary-text-color">
            <h6>{{'sbMemberMngtPage.label.listMember' | translate }}</h6>
        </div>
        
        
        <ul>
            <li class="col l3 m6 s12" ng-repeat="member in sandbox.members">
                <div class="card">
                    <div class="card-content center-align light-primary-color" style="height:48px;">
                        <span class="card-title primary-text-color">
                            <small>{{member.person.firstname}} {{member.person.name}}</small>
                        </span>
                    </div>
                    <div class="card-content center-align" style="height:48px;">
                        <avatar person="member.person" width="'50px'"></avatar>
                    </div>
                    
                    <div class="card-content center-align accent-color" style="height:48px;">
                        <h5><small>{{member.role.label}}</small></h5>
                    </div>

                    <div class="card-action">
                        <span class="primary-text-color">{{'sbMemberMngtPage.label.memberActif' | translate }}</span>
                        <div class="right" ng-if="user._id !== member.person._id"> 
                            <div class="switch">
                                <label>
                                  {{'sbMemberMngtPage.label.off' | translate }}
                                  <input type="checkbox" ng-click="updateMemberSandbox(member.person._id)"
                                     ng-checked="member.status=='activated'">
                                  <span class="lever"></span>
                                    {{'sbMemberMngtPage.label.on' | translate }}
                                </label>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="col s12">&nbsp;</div>
        <div class="col s12 divider"></div>
        <div class="col s10 primary-text-color">
            <h6>{{'sbMemberMngtPage.label.invitePending' | translate }}</h6>
        </div>
        <div class="col s2 center">
            <a href="#/private/sbSharing" class="btn right accent-color">
                <i class="material-icons">share</i>
            </a>
        </div>
        <ul>
            <li class="col l3 m6 s12" ng-repeat="invite in invitationList">
                <div class="card">
                    <div class="card-content center-align dark-primary-color" style="height:48px;">
                        <span class="card-title">
                            <small>{{invite.userEmail}}</small>
                        </span>
                    </div>
                    <div class="card-content center-align">
                        <br>
                        <i class="material-icons md-36 secondary-text-color">send</i>
                        <br>
                        <br>
                        <span>{{'sbMemberMngtPage.label.invitationDate' | translate }} {{ invite.invitationDate | date : format : timezone}}</span>
                    </div>

                    <div class="card-action center-align light-primary-color">
                        <a href="" class="btn-floating dark-primary-color" ng-click="removeInvitation(invite._id)">
                            <i class="material-icons">delete_forever</i>
                        </a>
                        <a href="" class="btn-floating accent-color" ng-click="reviveInvitation(invite._id)">
                            <i class="material-icons">cached</i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
</div>