<div class="container primary-text-color">

    <!-- space between header menu and body-->
    <div class="row"><div class="col s12">&nbsp;</div></div>

    <!-- Entete -->
    <title-page-bar icon="share" title="sbSharingPage.title"></title-page-bar>

    <div class="row">
        
        <form name="sharingListForm" class="col s12" novalidate>
        
        <div class="row">
            <div class="input-field col s12 valign-wrapper">
                <i class="material-icons left accent-text-color md-36">people</i>
                <h5 translate="sbSharingPage.label.byMail"></h5>
            </div>
        </div>
            <pre>{{h.sharingList | json}}</pre><chips ng-model="sharingList">
            <chip-tmpl>
                <div class="default-chip">
                    {{chip}}
                    <span class="glyphicon glyphicon-remove" remove-chip></span>
                </div>
            </chip-tmpl>
            <input chip-control />
        </chips>
        <div class="row">
            <chips ng-model="h.sharingList" render="render(data)" class="col s12">
                <chip-tmpl >
                    <div class="default-chip valign-wrapper">
                        <i class="material-icons prefix" remove-chip="deleteChip(data)">contact_mail</i>
                        &nbsp;{{chip.email}}&nbsp;
                        <i class="material-icons prefix accent-text-color" remove-chip="deleteChip(data)">backspace</i>
                    </div>
                </chip-tmpl>
                <input chip-control class="light-primary-color" required />
            </chips>
        </div>
            
        <!-- actions buttons -->
        <div class="row">
            <div class="col s12 center-align">

                <button type="submit" translate="commons.buttons.validate"
                        ng-click="sendInvitation()"
                        ng-class="{'btn disabled': sharingList.length === 0, 
                         'btn waves-effect waves-white accent-color': sharingList.length !== 0}">

                </button>
            </div>
        </div>
        </form>  
    </div>
</div>