<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="header center orange-text text-accent-2">We are Qaobee</h1>
            <div class="row center">
                <h5 class="header col s12 white-text light">Qaobee crée des solutions innovantes de collecte et d'analyse de données sportives en temps réel pour accompagner l'amélioration de la performance</h5>
            </div>
            <br/>
      </div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 2"></div>
</div>


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="center icon-block">
                    <a href="mailto:contact@qaobee.com"><h2 class="center red-text text-lighten-1"><i class="fa fa-envelope-square"></i></h2></a>
                    <h5>Contact us</h5>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <a href="https://goo.gl/maps/3Fjoz" target="_blank"><h2 class="center red-text text-lighten-1"><i class="fa fa-map-marker"></i></h2></a>
                    <h5 class="center">Visit us</h5>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text text-lighten-1"><i class="fa fa-bell"></i></h2>
                    <h5 class="center">Stay tuned</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text light">Qaobee crée des solutions innovantes de collecte et d'analyse de données sportives en temps réel pour accompagner l'amélioration de la performance</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                
                <p class="left-align light">
                <b>Qaobee</b> is a software company that develops and publishes digital solutions for the sporting community. We are a band of bretons who value sports, new technologies, innovation, teamwork and building things we can be proud of. During the week we come together to create innovative solutions to simplify and optimize the sports managers activity.</p>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text light">Qaobee crée des solutions innovantes de collecte et d'analyse de données sportives en temps réel pour accompagner l'amélioration de la performance</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 3"></div>
</div>


