<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="header center orange-text text-accent-2">We are Qaobee</h1>
            <div class="row center">
                <h5 class="header col s12 white-text light">Qaobee crée des solutions innovantes de collecte et d'analyse de données sportives en temps réel pour accompagner l'amélioration de la performance</h5>
            </div>
            <br/>
      </div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 2"></div>
</div>


<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="center icon-block">
                    <a href="mailto:contact@qaobee.com"><h2 class="center red-text text-lighten-1"><i class="fa fa-envelope-square"></i></h2></a>
                    <h5>Contact us</h5>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <a href="https://goo.gl/maps/3Fjoz" target="_blank"><h2 class="center red-text text-lighten-1"><i class="fa fa-map-marker"></i></h2></a>
                    <h5 class="center">Visit us</h5>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <a href="#modalSubMailingList" class="modal-trigger"><h2 class="center red-text text-lighten-1"><i class="fa fa-bell"></i></h2></a>
                    <h5 class="center">Stay tuned</h5>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text light">Qaobee crée des solutions innovantes de collecte et d'analyse de données sportives en temps réel pour accompagner l'amélioration de la performance</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                
                <p class="left-align light">
                <b>Qaobee</b> is a software company that develops and publishes digital solutions for the sporting community. We are a band of bretons who value sports, new technologies, innovation, teamwork and building things we can be proud of. During the week we come together to create innovative solutions to simplify and optimize the sports managers activity.</p>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 white-text light">Qaobee crée des solutions innovantes de collecte et d'analyse de données sportives en temps réel pour accompagner l'amélioration de la performance</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 3"></div>
</div>


<!-- Modal -->
<div id="modalSubMailingList" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span> 
            <span translate="content.login.label.title"></span>
        </h5>
    </div>
    
    <form name="subMailingListForm" action="http://www.mailinglist.fr/controller/form_ctrl.php?ID=49" target="_blank" method="post">
        <div class="modal-content grey lighten-3 ">
            <div class="row">
                <input type="hidden" Name="lid" Value="201405251813531029623">
                <div class="input-field col s12">
                    <input id="email" type="email" placeholder="Email" class="validate" required/>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input class="with-gap" name="group1" type="radio" id="test1" checked />
                    <label for="test1">Subscribe</label>
                </div>
                <div class="input-field col s6">
                    <input class="with-gap" name="group1" type="radio" id="test2" />
                    <label for="test2">Unsubscribe</label>
                </div>
            </div>    
        </div>

        <div class="modal-footer">
            <button type="submit" class="waves-effect waves-red btn teal"  translate="popup.buttons.submit"/>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn red">{{'popup.buttons.cancel' | translate}}</a>
        </div>
    </form>
</div>


