<!-- Bannière Download appli mobile -->
<div class="banner-container" ng-if="showBanner">
	<div class="row valign-wrapper">
		<div class="col s1" ng-click="closeBanner()"><span class="banner-close"> <i class="material-icons prefix">close</i></span></div>
		<div class="col s3" ng-click="openDownload()"><a class="banner-img-dl"><img src="assets/images/logo-download.png"/></a></div>
		<div class="col s4">
			<p class="banner-appl">
			<span class="banner-appl-title">QSwarm Hand</span><br>
			<span class="banner-appl-author">Qaobee</span>
			</p>
		</div>
		<div class="col s4"><a href="https://play.google.com/apps/testing/com.qaobee.qswarm.hand" class="banner-btn-dl">Télécharger</a></div>
	</div>
</div>

<!-- Menu Not connected -->
<nav class="top-nav " ng-class="{ 'white top-nav-trans': isActive('/'), 'green darken-1': !isActive('/')}"
     role="navigation" ng-hide="user">
    <div class="container">
        <div class="nav-wrapper">

            <a href="/#/" class="brand-logo"><img src="assets/images/logo-mini.png" height="30px"/></a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="white-text" ng-click="openLogin()">
                        <i class="fa fa-sign-in right"></i>{{'navbar.connect' | translate}}
                    </a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down" ng-show="signupAvailable">
                <li>
                    <a class="white-text" ng-click="openSignup()">
                        <i class="fa fa-sign-in right"></i>{{'navbar.signup' | translate}}
                    </a>
                </li>
            </ul>

            <!-- menu mobile start -->
            <a href="#" data-activates="nav-mobileHC" class="button-collapse grey-text text-lighten-1">
                <i class="mdi-navigation-menu"></i></a>

            <ul id="nav-mobileHC" class="side-nav">
                <li ng-show="signupAvailable">
                    <a class="blue-grey-text text-darken-2" ng-click="openSignup()">
                        {{'navbar.signup' | translate}} 
                    </a>
                </li>
                <li>
                    <a class="blue-grey-text text-darken-2" ng-click="openLogin()">
                        {{'navbar.connect' | translate}}  
                    </a>
                </li>
            </ul>   
            <!-- menu mobile end -->
        </div>
    </div>
</nav>

<!-- Menu Connected First header-->
<div class="navbar-fixed" ng-if="user && !user.account.firstConnexion">
    <nav class="top-nav light-green lighten-1 visible-nav" role="navigation">
        <div class="container">
            <div class="nav-wrapper">

                <!-- Dropdown Structure 
                <ul id="dropdownSearch" class="dropdown-content">
                    <li><a href="#/private/" class="red-text text-lighten-1 tooltipped" data-position="right"
                           data-delay="30" data-tooltip="{{'headerMenu.search-event' | translate }}">
                        <i class="fa fa-calendar center"></i></a>
                    </li>
                    <li class="divider red lighten-1"></li>
                    <li><a href="#/private/" class="red-text text-lighten-1 tooltipped" data-position="right"
                           data-delay="30" data-tooltip="{{'headerMenu.search-player' | translate }}">
                        <i class="mdi-social-person center"></i></a>
                    </li>
                </ul>
                -->
                
                
                
                <a href="#/private/" class="hide-on-med-and-down brand-logo white-text center">
                    <small><i class="fa fa-home left"></i>
                        <span data-ng-bind="structure.label"></span>
                    </small>
                </a>
                <!--
                <ul class="left hide-on-med-and-down red lighten-1">
                    <li><a class="dropdown-button white-text light" href="#/private/" data-activates="dropdownSearch">
                        <i class="mdi-action-search left"></i>{{'headerMenu.search' | translate }}</a></li>
                </ul>
                -->
                <ul class="left hide-on-med-and-down">
                    <li><a href="#/private/effective/{{user.effectiveDefault}}" class="light"><i class="mdi-social-people left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.effective"></span></a>
                    </li>
                    <li><a href="#/private/agenda/{{user.effectiveDefault}}" class="light"><i class="fa fa-calendar left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.calendar"></span></a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down right-align">
                    <li><a href="#/private/profil" class="white-text">{{user.firstname}} {{user.name}}</a></li>
                    <li><a ng-click="logoff()" href="!#"><i class="white-text fa fa-power-off"></i></a></li>
                </ul>

                <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i
                        class="mdi-navigation-menu left"></i></a>

                <!-- Mobile navigation -->
                <ul id="nav-mobile" class="side-nav blue-grey darken-2">
                    <li>
                        <a href="#/private/" class="white-text light">
                            <i class="mdi-action-home left"></i> {{'headerMenu.dashboard' | translate }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <!--
                    <li><a href="#/private/" class="white-text light"><i class="fa fa-envelope left"></i>
                        {{'headerMenu.notification' | translate }}</a></li>
                    
                    <li><a href="#/private/mainStats" class="white-text light"><i class="fa fa-bar-chart left"></i>
                        {{'headerMenu.stats' | translate }}</a></li>
                    -->
                    <li>
                        <a href="#/private/effective/{{user.effectiveDefault}}" class="white-text light">
                            <i class="mdi-social-people left"></i> {{'headerMenu.effective' | translate }}
                        </a>
                    </li>
                    <!--
                    <li><a href="#/private/" class="white-text light"><i class="mdi-image-timer left"></i>
                        {{'headerMenu.training' | translate }}</a></li>
                    
                    <li><a href="#/private/" class="white-text light"><i class="fa fa-trophy left"></i>
                        {{'headerMenu.championship' | translate }}</a></li>
                    -->
                    <li>
                        <a href="#/private/agenda/{{user.effectiveDefault}}" class="white-text light">
                            <i class="mdi-action-view-agenda left"></i> {{'headerMenu.calendar' | translate }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="logoff()" class="white-text">
                            <i class="mdi-action-exit-to-app left"></i> {{'navbar.disconnect' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--
<div ng-if="user && !user.account.firstConnexion">
    <!-- Connected second header
    <nav class="green darken-1 hide-on-med-and-down visible-nav" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <ul class="center">
                    <!--
                    <li><a href="#/private/" class="light"><i class="fa fa-envelope left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.notification"></span>
                    </a></li>
                    
                    <li><a href="#/private/mainStats" class="light"><i class="fa fa-bar-chart left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.stats"></span></a>
                    </li>
                   
                    <li><a href="#/private/effective/{{user.effectiveDefault}}" class="light"><i
                            class="mdi-social-people left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.effective"></span></a>
                    </li>
                    <!--
                    <li><a href="#/private/" class="light"><i class="mdi-image-timer left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.training"></span></a>
                    </li>
                    
                    <li><a href="#/private/" class="light"><i class="fa fa-trophy left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.championship"></span></a>
                    </li>
                    
                    <li><a href="#/private/agenda/{{user.effectiveDefault}}" class="light"><i
                            class="fa fa-calendar left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.calendar"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
-->
<!-- Finalize signup -->
<div class="navbar-fixed" ng-if="user && user.account.firstConnexion">
    <nav class="top-nav light-green lighten-1 visible-nav" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/#/" class="hide-on-med-and-down brand-logo"><img src="assets/images/logo-mini.png"
                                                                           height="30px"/></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="https://twitter.com/Qaobee"
                           target="_blank"
                           class="white-text"><i
                            class="fa fa-twitter-square fa-2x"></i></a></li>
                </ul>
                <a class="brand-logo white-text center">
                    <span class="hide-on-med-and-down fa fa-sign-in"></span>
                    <span translate="headerSignup.label"></span>
                </a>
            </div>
        </div>
    </nav>
</div>

<!-- Modal login -->
<div id="modalLogin" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.login.label.title"></span>
        </h5>
    </div>
    <form class="col s12" ng-submit="login()">
        <div class="modal-content grey lighten-3 ">
            <div class="row">
                <div class="input-field col s12">
                    <input id="modal-login" type="text" class="validate" ng-model="signin.login" required>
                    <label for="modal-login">{{'content.login.label.login' | translate }}</label>
                </div>
                <div class="input-field col s12">
                    <input id="modal-password" type="password" class="validate" ng-model="signin.passwd" required>
                    <label for="modal-password">{{'content.login.label.password' | translate }}</label>
                </div>
            </div>
            <div class="row">
            	<div><a href="" ng-click="openForgotPwd()">{{'content.login.label.forgotpasswd' | translate }}</a></div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12">
                <a href="#/" class="modal-action modal-close waves-effect waves-red btn btn-s red"
                   translate="commons.buttons.cancel"></a>
                <button type="submit" class="btn btn-s waves-effect waves-red  green darken-1"
                        translate="commons.buttons.validate"/>
            </div>
        </div>
    </form>
</div>

<!-- Modal forgot password -->
<div id="modalForgotPwd" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.login.label.forgotpasswd"></span>
        </h5>
    </div>
    <form class="col s12" ng-submit="renewPwd()">
        <div class="modal-content grey lighten-3 ">
            <div class="row">
            	<div class="col s12">
            		<h6><span translate="content.login.label.forgotpasswdmess"></span></h6>
            	</div>
            </div>
            <div class="row">
            	<div class="col m3 hide-on-small">&nbsp;</div>
                <div class="input-field col s12 m6">
                    <input id="modal-login" type="text" class="validate" ng-model="infos.login" required>
                    <label for="modal-login">{{'content.login.label.login' | translate }}</label>
                </div>
                <div class="col m3 hide-on-small">&nbsp;</div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12">
                <a href="#/" class="modal-action modal-close waves-effect waves-red btn btn-s red"
                   translate="commons.buttons.cancel"></a>
                <button type="submit" class="btn btn-s waves-effect waves-red  green darken-1"
                        translate="commons.buttons.validate"/>
            </div>
        </div>
    </form>
</div>

<!-- Modal RenewPwd OK ! -->
<div id="modalForgotPwdOK" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.signup.label.title"></span>
        </h5>
    </div>
    <div class="modal-content grey lighten-3 ">
        <div class="row">
            <div class="col s12">
                {{'modalForgotPwdOk.line1' | translate}}<br>
                {{'modalForgotPwdOk.line2' | translate}}<br>
                {{'modalForgotPwdOk.line3' | translate}}<br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#/" class="modal-action modal-close waves-effect waves-red btn green darken-1" translate="commons.buttons.close"></a>
    </div>
</div>

<!-- Modal SignUp -->
<div id="modalSignup" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.signup.label.title"></span>
        </h5>
    </div>
    <form class="col s12" ng-submit="usernameTest()" name="signup">
        <div class="modal-content grey lighten-3 ">
            <div class="row">
                <div class="input-field col m6 s12">
                    <input id="firstname" type="text" class="validate" ng-model="signup.firstname" required>
                    <label for="firstname">{{'content.signup.label.firstname' | translate }}</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="name" type="text" class="validate" ng-model="signup.name" required>
                    <label for="name">{{'content.signup.label.name' | translate }}</label>
                </div>
                <div class="input-field col s12">
                    <input id="login" type="text" class="validate" ng-model="signup.account.login" required>
                    <label for="login">{{'content.signup.label.login' | translate }}</label>
                </div>
                <div class="input-field col s12">
                    <input type="email" name="email" class="validate" ng-model="signup.contact.email" 
                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-class="{ 'invalid': signup.email.$invalid }">
                    <span ng-class="{'has-error': signup.email.$dirty && signup.email.$error.required}" class="small red-text text-lighten-1"
                        ng-hide="signup.email.$valid" translate="content.signup.emailDirty" required></span>
                    <label for="email">{{'content.signup.label.email' | translate }}</label>
                </div>
                <div class="input-field col m6 s12">
                    <input id="password" type="password" class="validate" ng-model="signup.account.passwd" required>
                    <label for="password">{{'content.signup.label.password' | translate }}</label>
                    <div ng-show="signup.account.passwd">
                        <small translate='modalSignupUp.passwd.strength'></small>
                        <div ng-hide="true" ng-password-strength="signup.account.passwd" strength="passStrength" inner-class="meter"></div>
                        <div class="progress grey lighten-2">
                            <div class="determinate"
                                 ng-class="{'red' : passStrength < 33, 'orange': passStrength >= 33 && passStrength < 66, 'green' : passStrength >= 66}"
                                 style="width: {{passStrength}}%"></div>
                        </div>
                    </div>
                </div>
                
                <div class="input-field col m6 s12">
                    <input id="passwordConfirm" type="password" class="validate" ng-model="passwdConfirm" required>
                    <label for="passwordConfirm">{{'content.signup.label.passwordConfirm' | translate }}</label>
                </div>
                <div class="input-field col s12">
                	<div re-captcha ng-model="signup.captcha" id="custom_recaptcha_widget" style="display:none">
                		<div class="col s12 m7">
					    	<div id="recaptcha_image"></div>
					    </div>
					    <div class="col s6 m1" style="line-height:0.5;">
					    	<a href="javascript:Recaptcha.reload()"><img width="25" height="18" src="https://www.google.com/recaptcha/api/img/clean/refresh.png"></a><br class="hide-on-med-and-down">
			    			<a class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')" id="icon-audio"><img width="25" height="18" src="https://www.google.com/recaptcha/api/img/clean/audio.png"></a>
        					<a class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')" id="icon-image"><img width="25" height="18" src="https://www.google.com/recaptcha/api/img/clean/text.png"></a><br class="hide-on-med-and-down">
        					<a href="javascript:Recaptcha.showhelp()"><img id="recaptcha_whatsthis" width="25" height="16" src="https://www.google.com/recaptcha/api/img/clean/help.png" alt="Aide"></a>
					    </div>
					    <div class="col s6 m4"><img id="recaptcha_logo" alt="" width="71" height="36" src="https://www.google.com/recaptcha/api/img/clean/logo.png"></div>
   						
   						<div class="col s12 m6">
   							<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
   						</div>
   						<div class="col m6 hide-on-med-and-down">&nbsp;</div>
					</div>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12">
                <a href="" ng-click="cancelSignup()" class="modal-action modal-close waves-effect waves-red btn btn-s red" style="max-width:50%"
                   translate="commons.buttons.cancel"></a>
                <button type="submit" class="btn btn-s waves-effect waves-red  green darken-1" style="max-width:50%"
                        translate="commons.buttons.validate"/>
            </div>
        </div>
    </form>
</div>

<!-- Modal SignUp OK ! -->
<div id="modalSignupOK" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.signup.label.title"></span>
        </h5>
    </div>
    <div class="modal-content grey lighten-3 ">
        <div class="row">
            <div class="col s12">
                {{'modalSignupOk.line1' | translate}}<br>
                {{'modalSignupOk.line2' | translate}}<br>
                {{'modalSignupOk.line3' | translate}}<br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="" ng-click="closeSignupOk()" class="modal-action modal-closewaves-effect waves-red btn green darken-1">{{'commons.buttons.close'
            | translate}}</a>
    </div>
</div>