<!-- Bannière Download appli mobile -->
<div class="banner-container" ng-if="showBanner">
    <div class="row valign-wrapper">
        <div class="col s1" ng-click="closeBanner()"><span class="banner-close"> <i
                class="material-icons prefix">close</i></span></div>
        <div class="col s3" ng-click="openDownload()"><a class="banner-img-dl"><img
                src="assets/images/logo-download.png"/></a></div>
        <div class="col s4">
            <p class="banner-appl">
                <span class="banner-appl-title">QSwarm Hand</span><br>
                <span class="banner-appl-author">Qaobee</span>
            </p>
        </div>
        <div class="col s4"><a href="https://play.google.com/apps/testing/com.qaobee.qswarm.hand" class="banner-btn-dl">Télécharger</a>
        </div>
    </div>
</div>

<!-- Menu Not connected -->
<nav class="top-nav " ng-class="{ 'white top-nav-trans': isActive('/'), 'green darken-1': !isActive('/')}"
     role="navigation" ng-hide="user">
    <div class="container">
        <div class="nav-wrapper">

            <a href="/#/" class="brand-logo"><img src="assets/images/logo-mini.png" height="30px"/></a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="white-text" ng-click="openLogin()">
                        <i class="fa fa-sign-in right"></i>{{'navbar.connect' | translate}}
                    </a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down" ng-show="signupAvailable">
                <li>
                    <a class="white-text" ng-click="openSignup()">
                        <i class="fa fa-sign-in right"></i>{{'navbar.signup' | translate}}
                    </a>
                </li>
            </ul>

            <!-- menu mobile start -->
            <a href="#" data-activates="nav-mobileHC" class="button-collapse grey-text text-lighten-1">
                <i class="mdi-navigation-menu"></i></a>

            <ul id="nav-mobileHC" class="side-nav">
                <li ng-show="signupAvailable">
                    <a class="blue-grey-text text-darken-2" ng-click="openSignup()">
                        {{'navbar.signup' | translate}}
                    </a>
                </li>
                <li>
                    <a class="blue-grey-text text-darken-2" ng-click="openLogin()">
                        {{'navbar.connect' | translate}}
                    </a>
                </li>
            </ul>
            <!-- menu mobile end -->
        </div>
    </div>
</nav>

<!-- Menu Connected First header-->
<div class="navbar-fixed" ng-if="user && !user.account.firstConnexion">
    <nav class="top-nav colorSecondary visible-nav" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <!-- Desktop and tablet-->
                <ul class="hide-on-small-only">
                    <li class="left"><a href="#/private/"><i class="fa fa-home left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.dashboard"></span></a>
                    </li>

                    <li class="left"><a href="#/private/players/{{user.effectiveDefault}}"><i
                            class="material-icons left">person</i>
                        <span class="hide-on-med-and-down" translate="headerMenu.players"></span></a>
                    </li>

                    <li class="left"><a href="#/private/teams/{{user.effectiveDefault}}"><i class="material-icons left">group</i>
                        <span class="hide-on-med-and-down" translate="headerMenu.teams"></span></a>
                    </li>

                    <li class="left"><a href="#/private/agenda/{{user.effectiveDefault}}"><i
                            class="fa fa-calendar left"></i>
                        <span class="hide-on-med-and-down" translate="headerMenu.calendar"></span></a>
                    </li>

                    <li class="right"><a ng-click="logoff()" href="javascript:void(0);"><i
                            class="white-text fa fa-power-off"></i></a>
                    </li>

                    <li class="right"><a href="#/private/profile" class="white-text"><i class="material-icons left">portrait</i>
                        <span class="hide-on-med-and-down">{{user.firstname}} {{user.name}}</span></a>
                    </li>
                    <li class="right">
                        <a class='dropdown-button' data-beloworigin="true" dropdown data-alignment="right"
                           href='javascript:void(0);' data-constrainWidth="false" data-activates='notificationDropdown'
                           data-hover="false">
                            <i class="material-icons right"
                               ng-class="{'red-text text-lighten-1' : notifications.length > 0}">email</i>
                            <span class="new badge white-text red lighten-1" ng-show="notifications.length > 0"
                            >{{notifications.length}}</span>
                        </a>
                    </li>

                </ul>

                <!-- Mobile navigation hamburger -->
                <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i
                        class="mdi-navigation-menu left"></i></a>

                <!-- Mobile navigation -->
                <ul id="nav-mobile" class="side-nav blue-grey darken-2">
                    <li>
                        <a href="#/private/" class="white-text light">
                            <i class="mdi-action-home left"></i> {{'headerMenu.dashboard' | translate }}
                        </a>
                    </li>
                    <li class="divider"></li>

                    <li>
                        <a href="#/private/players/{{user.effectiveDefault}}" class="white-text light">
                            <i class="mdi-social-person left"></i> {{'headerMenu.players' | translate }}
                        </a>
                    </li>

                    <li>
                        <a href="#/private/teams/{{user.effectiveDefault}}" class="white-text light">
                            <i class="mdi-social-group left"></i> {{'headerMenu.teams' | translate }}
                        </a>
                    </li>

                    <li>
                        <a href="#/private/agenda/{{user.effectiveDefault}}" class="white-text light">
                            <i class="mdi-action-view-agenda left"></i> {{'headerMenu.calendar' | translate }}
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="#/private/profile" class="white-text"><i class="mdi-social-person-outline left"></i>{{user.firstname}}
                            {{user.name}}</a>
                    </li>

                    <li>
                        <a ng-click="logoff()" href="javascript:void(0);" class="white-text">
                            <i class="mdi-action-exit-to-app left"></i> {{'navbar.disconnect' | translate}}
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>

<!-- Finalize signup -->
<div class="navbar-fixed" ng-if="user && user.account.firstConnexion">
    <nav class="top-nav light-green lighten-1 visible-nav" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/#/" class="hide-on-med-and-down brand-logo"><img src="assets/images/logo-mini.png"
                                                                           height="30px"/></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="https://twitter.com/Qaobee"
                           target="_blank"
                           class="white-text"><i
                            class="fa fa-twitter-square fa-2x"></i></a></li>
                </ul>
                <a class="brand-logo white-text center">
                    <span class="hide-on-med-and-down fa fa-sign-in"></span>
                    <span translate="headerSignup.label"></span>
                </a>
            </div>
        </div>
    </nav>
</div>

<!-- Modal login -->
<div id="modalLogin" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.login.label.title"></span>
        </h5>
    </div>
    <form class="col s12" ng-submit="login()">
        <div class="modal-content grey lighten-3 ">
            <div class="row">
                <div class="input-field col s12">
                    <input id="modal-login" type="text" class="validate" ng-model="signin.login" required>
                    <label for="modal-login">{{'content.login.label.login' | translate }}</label>
                </div>
                <div class="input-field col s12">
                    <input id="modal-password" type="password" class="validate" ng-model="signin.passwd" required>
                    <label for="modal-password">{{'content.login.label.password' | translate }}</label>
                </div>
            </div>
            <div class="row">
                <div><a href="" ng-click="openForgotPwd()">{{'content.login.label.forgotpasswd' | translate }}</a></div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12">
                <a href="#/" class="modal-action modal-close waves-effect waves-red btn btn-s red"
                   translate="commons.buttons.cancel"></a>
                <button type="submit" class="btn btn-s waves-effect waves-red  green darken-1"
                        translate="commons.buttons.validate"/>
            </div>
        </div>
    </form>
</div>

<!-- Modal forgot password -->
<div id="modalForgotPwd" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.login.label.forgotpasswd"></span>
        </h5>
    </div>
    <form class="col s12" ng-submit="renewPwd()">
        <div class="modal-content grey lighten-3 ">
            <div class="row">
                <div class="col s12">
                    <h6><span translate="content.login.label.forgotpasswdmess"></span></h6>
                </div>
            </div>
            <div class="row">
                <div class="col m3 hide-on-small">&nbsp;</div>
                <div class="input-field col s12 m6">
                    <input id="modal-login" type="text" class="validate" ng-model="infos.login" required>
                    <label for="modal-login">{{'content.login.label.login' | translate }}</label>
                </div>
                <div class="col m3 hide-on-small">&nbsp;</div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12">
                <a href="#/" class="modal-action modal-close waves-effect waves-red btn btn-s red"
                   translate="commons.buttons.cancel"></a>
                <button type="submit" class="btn btn-s waves-effect waves-red  green darken-1"
                        translate="commons.buttons.validate"/>
            </div>
        </div>
    </form>
</div>

<!-- Modal RenewPwd OK ! -->
<div id="modalForgotPwdOK" class="modal">
    <div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="content.signup.label.title"></span>
        </h5>
    </div>
    <div class="modal-content grey lighten-3 ">
        <div class="row">
            <div class="col s12">
                {{'modalForgotPwdOk.line1' | translate}}<br>
                {{'modalForgotPwdOk.line2' | translate}}<br>
                {{'modalForgotPwdOk.line3' | translate}}<br>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#/" class="modal-action modal-close waves-effect waves-red btn green darken-1"
           translate="commons.buttons.close"></a>
    </div>
</div>
<div id='notificationDropdown' class='notification dropdown-content' ng-if="notifications.length > 0">
    <div class="row" style="padding-left: 10px">
        <div class="col s12"><a href="#/notifications" class="waves-effect waves-teal btn-flat">
            {{'notifications.more' | translate}} <i class="material-icons right">forward</i></a>
        </div>
    </div>
    <div ng-repeat="n in notifications" class="hoverable grey-text text-darken-2">
        <div class="row">
            <div class="col s2">
                <img ng-src="{{getAvatar(n.from_user_id.avatar)}}" alt="" class="circle" width="30px">
            </div>
            <div class="col s10">
                <b><a href="#/notifications/{{n._id}}" class="grey-text text-darken-2" ng-bind="n.title"></a></b>
                <a href="javascript:void(0);" ng-click="markAsRead(n._id)"
                   class="waves-effect waves-teal btn-flat right">
                    <i class="tiny material-icons" ng-if="n.read"
                       title="{{'headerMenu.notifications.mark-as-unread' | translate}}">visibility_off</i><i
                        class="tiny material-icons" ng-if="!n.read"
                        title="{{'headerMenu.notifications.mark-as-read' | translate}}">visibility</i></a>
                <a href="javascript:void(0);" ng-click="deleteNotification(n._id)"
                   class="waves-effect waves-teal btn-flat right"><i
                        class="tiny material-icons" title="{{'headerMenu.notifications.delete' | translate}}">delete</i></a>
                <br/><span class="truncate" ng-bind="n.content"></span>
                <small> {{n.from_user_id.firstname}} {{n.from_user_id.name}} |
                    {{n.timestamp | date : 'short'}}
                </small>
            </div>
        </div>

    </div>
</div>