<!-- Bannière Download appcollaborate-->
<appdownload-banner></appdownload-banner>
<!-- Menu Not connected -->
<div class="navbar-fixed" ng-if="!user">
    <nav class="top-nav top-nav-trans dark-primary-color" role="navigation">
        <div class="container">
            <a href="/#/" class="brand-logo"><img src="assets/images/logo-mini.png" height="30px" ng-click="menuItem = ''"/></a>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down nav-top-menu" ng-if=" menuItem !== 'signup'">
                    <li ng-class="{'active' : menuItem === 'concept'}">
                        <a href="javascript:void(0)" translate="navbar.concept" ng-click="gotoAnchor('concept')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'download'}">
                        <a href="javascript:void(0)" translate="navbar.download" ng-click="gotoAnchor('download')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'collect'}">
                        <a href="javascript:void(0)" translate="navbar.collect" ng-click="gotoAnchor('collect')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'progress'}">
                        <a href="javascript:void(0)" translate="navbar.progress" ng-click="gotoAnchor('progress')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'collaborate'}">
                        <a href="javascript:void(0)" translate="navbar.collaborate" ng-click="gotoAnchor('collaborate')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'contact'}">
                        <a href="javascript:void(0)" translate="navbar.contact" ng-click="gotoAnchor('contact')"></a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="waves-effect waves-white secondary-color" ng-click="openSignup()"
                           translate="navbar.signup"></a>
                    </li>
                    <li>
                        <a ng-click="openLogin()" translate="navbar.connect"></a>
                    </li>
                </ul>

                <!-- menu mobile start -->
                <a href="#" data-activates="nav-mobileHC" class="button-collapse white-text">
                    <i class="material-icons">menu</i></a>

                <ul id="nav-mobileHC" class="side-nav dark-primary-color">
                    <li ng-class="{'active' : menuItem === 'concept'}">
                        <a href="javascript:void(0)" class="white-text" translate="navbar.concept" ng-click="gotoAnchor('concept')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'download'}">
                        <a href="javascript:void(0)" class="white-text" translate="navbar.download" ng-click="gotoAnchor('download')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'collect'}">
                        <a href="javascript:void(0)" class="white-text" translate="navbar.collect" ng-click="gotoAnchor('collect')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'progress'}">
                        <a href="javascript:void(0)" class="white-text" translate="navbar.progress" ng-click="gotoAnchor('progress')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'collaborate'}">
                        <a href="javascript:void(0)" class="white-text" translate="navbar.collaborate" ng-click="gotoAnchor('collaborate')"></a>
                    </li>
                    <li ng-class="{'active' : menuItem === 'contact'}">
                        <a href="javascript:void(0)" class="white-text" translate="navbar.contact" ng-click="gotoAnchor('contact')"></a>
                    </li>
                    <li>
                        <a class="waves-effect waves-white secondary-color" ng-click="openSignup()"
                           translate="navbar.signup"></a>
                    </li>
                    <li>
                        <a class="white-text" ng-click="openLogin()" translate="navbar.connect"></a>
                    </li>
                </ul>
                <!-- menu mobile end -->
            </div>
        </div>
    </nav>
</div>
<!-- Menu Connected First header-->
<div class="navbar-fixed" ng-if="user && !user.account.firstConnexion && !notpaid">
    <nav class="top-nav dark-primary-color visible-nav" role="navigation">
        <div class="container">
            <a href="/#/private/sbSwitch" class="brand-logo center truncate">{{meta.sandbox.structure.label}}</a>
            <div class="nav-wrapper">
                <ul class="hide-on-med-and-down">
                    <li class="left">
                        <a href="#/private/"><i class="material-icons left"
                                                title="{{'headerMenu.dashboard' | translate}}">home</i></a>
                    </li>

                    <li class="left">
                        <a href="#/private/players/{{meta.sandbox.effectiveDefault}}">
                            <i class="material-icons left" title="{{'headerMenu.players' | translate}}">person</i></a>
                    </li>

                    <li class="left">
                        <a href="#/private/teams/{{meta.sandbox.effectiveDefault}}">
                            <i class="material-icons left" title="{{'headerMenu.teams' | translate}}">group</i></a>
                    </li>

                    <li class="left">
                        <a href="#/private/agenda/{{meta.sandbox.effectiveDefault}}">
                            <i class="material-icons left" title="{{'headerMenu.calendar' | translate}}">event_note</i></a>
                    </li>

                    <li class="right"><a ng-click="logoff()" href="javascript:void(0);"><i class="material-icons">exit_to_app</i></a>
                    </li>

                    <li class="right">
                        <a href="#/private/profile" class="white-text"><i class="material-icons left">portrait</i></a>
                    </li>
                    <li class="right">
                        <header-notifications user="user" meta="meta"></header-notifications>
                    </li>
                </ul>

                <!-- Mobile navigation hamburger -->
                <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="side-nav dark-primary-color">
                    <li><a href="#/private/" class="white-text" translate="headerMenu.dashboard"></a></li>
                    <li class="divider"></li>
                    <li><a href="#/private/players/{{meta.sandbox.effectiveDefault}}" class="white-text"
                           translate="headerMenu.players"></a></li>
                    <li><a href="#/private/teams/{{meta.sandbox.effectiveDefault}}" class="white-text"
                           translate="headerMenu.teams"></a></li>
                    <li><a href="#/private/agenda/{{meta.sandbox.effectiveDefault}}" class="white-text"
                           translate="headerMenu.calendar"></a></li>
                    <li class="divider"></li>
                    <li><a href="#/notifications" class="white-text" translate="headerMenu.notifications.title"></a>
                    </li>
                    <li><a href="#/private/profile" class="white-text" translate="headerMenu.profil"></a></li>
                    <li><a ng-click="logoff()" href="javascript:void(0);" class="white-text"
                           translate="navbar.disconnect"></a></li>
                </ul>

            </div>
        </div>
    </nav>
    <div ng-if="desktop">
        <angular-feedback options="feedbackOptions" meta="meta"></angular-feedback>
    </div>
</div>

<div class="navbar-fixed trial-banner" ng-if="intrial && !hideTrial">
    <div class="row light-primary-color">
        <div class="col s12 center"><h4 translate="headerMenu.trial.title"></h4></div>
        <div class="col s12 secondary-text-color center" translate="headerMenu.trial.content"
             translate-values="trialCountVal" ng-if="trialCountVal.count > 0"></div>
        <div class="col s12 secondary-text-color center" translate="headerMenu.trial-ended.content"
             ng-if="trialCountVal.count <= 0"></div>
        <div class="col s12">&nbsp;</div>
        <div class="col s12 center">
            <a href="javascript:void(0);" ng-click="closeTrial()" class="btn-floating accent-color">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="col s12">&nbsp;</div>
    </div>
</div>

<!-- Finalize signup -->
<nav class="top-nav dark-primary-color" role="navigation" ng-if="user && user.account.firstConnexion">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/#/" class="hide-on-med-and-down brand-logo">
                <img src="assets/images/logo-mini.png" height="30px"/>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://twitter.com/Qaobee"
                       target="_blank"
                       class="white-text"><i
                        class="fa fa-twitter-square fa-2x"></i></a></li>
            </ul>
            <a class="brand-logo white-text center">
                <span class="hide-on-med-and-down fa fa-sign-in"></span>
                <span translate="headerMenu.signup"></span>
            </a>
        </div>
    </div>
</nav>


<!-- Modal login -->
<div id="modalLogin" class="modal dark-primary-color">
    <div class="modal-header center-align">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="modal.login.label.title"></span>
        </h5>
    </div>
    <form name="loginForm" ng-submit="login()">
        <div class="modal-content white">
            <div class="row ">
                <div class="input-field col s12">
                    <input id="modal-login" type="text" class="validate" ng-model="signin.login" required>
                    <label for="modal-login">
                        {{'modal.login.label.login' | translate }}
                        <span class="accent-text-color">*</span>
                    </label>
                </div>
                <div class="input-field col s12">
                    <input id="modal-password" type="password" class="validate" ng-model="signin.passwd" required>
                    <label for="modal-password">
                        {{'modal.login.label.password' | translate }}
                        <span class="accent-text-color">*</span>
                    </label>
                </div>
            </div>
            <div class="row hide-on-small-only">
                <div>
                    <a href="" class="light-text-color left" ng-click="openForgotPwd()"
                       translate="modal.login.label.forgotpasswd"></a>
                    <a href="" class="secondary-text-color right" ng-click="openSignup()" translate="navbar.signup"></a>
                </div>

            </div>
        </div>

        <div class="row center">
            <div class="col s12">&nbsp;</div>
            <div class="col s12">
                <a href="#/" class="modal-action modal-close waves-effect waves-white btn light-primary-color"
                   translate="commons.buttons.cancel"></a>
                <button type="submit"
                        translate="commons.buttons.validate" ng-disabled="loginForm.$invalid" tabindex="8"
                        ng-class="{'btn waves-effect waves-white disabled': loginForm.$invalid, 
                                  'btn waves-effect waves-white accent-color': !loginForm.$invalid}">
                </button>

            </div>
        </div>
    </form>
</div>

<!-- Modal forgot password -->
<div id="modalForgotPwd" class="modal light-primary-color">
    <div class="modal-header center-align">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="modal.login.label.forgotpasswd"></span>
        </h5>
    </div>
    <form name="renewPwdForm" ng-submit="renewPwd()">
        <div class="modal-content white">
            <div class="row center">
                <div class="col s12">
                    <h6><span translate="modal.login.label.forgotpasswdmess"></span></h6>
                </div>
            </div>
            <div class="row">
                <div class="col m3 hide-on-small">&nbsp;</div>
                <div class="input-field col s12 m6">
                    <input id="modal-login" type="text" class="validate" ng-model="infos.login" required>
                    <label for="modal-login">
                        {{'modal.login.label.login' | translate }}
                        <span class="accent-text-color">*</span>
                    </label>
                </div>
                <div class="col m3 hide-on-small">&nbsp;</div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12">&nbsp;</div>
            <div class="col s12">
                <a href="#/" class="modal-action modal-close waves-effect waves-white btn dark-primary-color"
                   translate="commons.buttons.cancel"></a>
                <button type="submit"
                        translate="commons.buttons.validate" ng-disabled="renewPwdForm.$invalid" tabindex="8"
                        ng-class="{'btn waves-effect waves-white disabled': renewPwdForm.$invalid, 
                                  'btn waves-effect waves-white accent-color': !renewPwdForm.$invalid}">
                </button>

            </div>
        </div>
    </form>
</div>

<!-- Modal RenewPwd OK ! -->
<div id="modalForgotPwdOK" class="modal light-primary-color">
    <div class="modal-header center-align">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="modal.login.label.forgotpasswd"></span>
        </h5>
    </div>
    <div class="modal-content white">
        <div class="row">
            <div class="col s12">
                {{'modalForgotPwdOk.line1' | translate}}<br>
                {{'modalForgotPwdOk.line2' | translate}}<br>
                {{'modalForgotPwdOk.line3' | translate}}<br>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col s12">&nbsp;</div>
        <div class="col s12">
            <a href="#/" class="modal-action modal-close waves-effect waves-white btn dark-primary-color"
               translate="commons.buttons.close"></a>
        </div>
    </div>
</div>

<cnil link="/#/cnil"></cnil>