<div id="feedback-welcome">
    <div class="feedback-logo">Feedback</div>
    <p translate="feedback.description.heading"></p>
    <p translate="feedback.description.desc"></p><textarea id="feedback-note-tmp"></textarea>
    <p translate="feedback.description.highlight"></p>
    <button id="feedback-welcome-next" class="feedback-next-btn feedback-btn-gray"
            translate="feedback.common.next"></button>
    <div id="feedback-welcome-error"  translate="feedback.common.error.desc"></div>
    <div class="feedback-wizard-close"></div>
</div>