<div id="feedback-overview">
    <div class="feedback-logo">Feedback</div>
    <div id="feedback-overview-description">
        <div id="feedback-overview-description-text"><h3 translate="feedback.overview.desc"></h3>
            <h3 class="feedback-additional" translate="feedback.overview.additional-info"></h3>
            <div id="feedback-additional-none"><span translate="feedback.overview.none"></span></div>
            <div id="feedback-browser-info"><span translate="feedback.overview.browser-info"></span></div>
            <div id="feedback-page-info"><span translate="feedback.overview.page-info"></span></div>
            <div id="feedback-timestamp"><span translate="feedback.overview.timestamp"></span></div>
            <div id="feedback-page-structure"><span ></span></div>
        </div>
    </div>
    <div id="feedback-overview-screenshot"><h3 translate="feedback.overview.screenshot"></h3></div>
    <div class="feedback-buttons">
        <button id="feedback-submit" class="feedback-submit-btn feedback-btn-blue" translate="feedback.common.submit"></button>
        <button id="feedback-overview-back" class="feedback-back-btn feedback-btn-gray" translate="feedback.common.back"></button>
    </div>
    <div id="feedback-overview-error" translate="feedback.common.error.desc"></div>
    <div class="feedback-wizard-close"></div>
</div>