
<div class="colorMain-text">
    
    
    <!-- Entete -->
    <div class="row">
        <div class="col s12 colorSecondary white-text center">
            <h4 translate="signupEndPage.title"></h4>
        </div>
    </div>
    
    
    <v-tabs class="tabs" horizontal active="activeTabIndex">
        <v-tab class="tab"><a ng-href="" ng-class="{'active': activeTabIndex === 0}">{{'signupEndPage.tabFindClub.tabTitle' | translate }}</a></v-tab>
        <v-tab class="tab"><a ng-href="" ng-class="{'active': activeTabIndex === 1}">{{'signupEndPage.tabCreateClub.tabTitle' | translate }}</a></v-tab>
    </v-tabs>
    
    <v-pages class="vPages--default" active="activeTabIndex">
        <v-page>
            <form ng-submit="validateStructureSection()" name="structureSectionForm">

                <div class="row">
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m3 s12">
                            <label>{{'signupEndPage.tabFindClub.form.label.city' | translate}}</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input type="text" id="userStructureCity" ng-autocomplete ng-model="structureCity" details="signup.detailsStructureCity" options="optionsStructureCity" placeholder="" ng-change="resetStructure()" />
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>

                    <div class="row" ng-if="temp.structureSearch">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m3 s12">
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>

                    <div ng-if="temp.structureVilleOK">

                        <div class="row">
                            <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                            <div class="input-field col m6 s12">
                                <label>{{'signupEndPage.tabFindClub.form.label.selectClub' | translate}}</label>
                           </div>
                            <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        </div>

                        <div class="row">
                            <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                            <div class="input-field col m6 s12">
                                <div class="col s12" ng-repeat="struct in valuesStructures track by $index">
                                    <input class="with-gap" type="radio"
                                        id="structure.{{struct._id}}" value="{{struct._id}}"
                                            ng-model="temp.referencialId" required ng-change="applyChangeStructure()"/>
                                    <label for="structure.{{struct._id}}">
                                        <span class="title red-text text-lighten-1">{{struct.label}}</span><br>
                                        <span>{{struct.address.place}}<br>
                                        {{struct.address.zipcode}} {{struct.address.city}}</span>
                                    </label>
                                </div>
                                <div class="col s12"><span class="title red-text text-lighten-1">{{temp.message}}</span></div>
                            </div>
                            <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        </div>
                    </div>
                </div>

                <div ng-show="temp.structureSelectOK">
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'signupEndPage.tabFindClub.form.label.categoryAge' | translate}} <span class="red-text text-lighten-1">*</span></label></div>
                        <div class="input-field col s3">
                            <select name="categoryAgeSelect" ng-model="signup.categoryAge" id="userCategoryAgeSelect" class="browser-default blue-grey-text text-darken-1"
                                ng-options="cat.label for cat in valuesCategoryAge track by cat._id" required>
                                <option></option>
                            </select>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                </div>

                <!-- actions buttons -->
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    <div class="col m6 s12 center">
                        <a ng-click="openCancelModal()" class="waves-effect waves-white btn btn-s colorAccent">{{'commons.buttons.cancel' | translate }}</a>&nbsp;

                        <button type="submit"  style="max-width:50%" ng-click="validateStructureSection()"
                            translate="commons.buttons.validate" ng-disabled="structureSectionForm.$invalid" tabindex="8"
                            ng-class="{'btn btn-s waves-effect waves-white disabled': structureSectionForm.$invalid, 
                                      'btn btn-s waves-effect waves-white colorSecondary': !structureSectionForm.$invalid}">
                        </button>
                    </div>
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                </div>
            </form>
        </v-page>   
            
        <v-page>
            <form ng-submit="validateStructureSection()" name="structureSectionForm">
                <div class="row">
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    <div class="col input-field m3 s6"><label>{{'signupEndPage.tabFindClub.form.label.clubname' | translate}}  <span class="red-text text-lighten-1">*</span></label></div>
                    <div class="input-field col m3 s6"><input type="text" id="userStructureLabel" class="validate" ng-model="newStructure.label"></div>
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                </div>
                <div class="row">    
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    <div class="col input-field m3 s6"><label>{{'signupEndPage.tabFindClub.form.label.clubAddress' | translate}}  <span class="red-text text-lighten-1">*</span></label></div>
                    <div class="input-field col m3 s6">
                        <input type="text" id="userNewStructureCity" ng-autocomplete ng-model="temp.newStructure" details="signup.detailsNewStructureCity" options="optionsNewStructureCity" placeholder="" />
                    </div>
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                </div>
                
                <div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'signupEndPage.tabFindClub.form.label.categoryAge' | translate}} <span class="red-text text-lighten-1">*</span></label></div>
                        <div class="input-field col s3">
                            <select name="categoryAgeSelect" ng-model="signup.categoryAge" id="userCategoryAgeSelect" class="browser-default blue-grey-text text-darken-1"
                                ng-options="cat.label for cat in valuesCategoryAge track by cat._id" required>
                                <option></option>
                            </select>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                </div>
                
                <!-- actions buttons -->
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    <div class="col m6 s12 center">
                        <a ng-click="openCancelModal()" class="waves-effect waves-white btn btn-s colorAccent">{{'commons.buttons.cancel' | translate }}</a>&nbsp;

                        <button type="submit"  style="max-width:50%" ng-click="validateStructureSection()"
                            translate="commons.buttons.validate" ng-disabled="structureSectionForm.$invalid" tabindex="8"
                            ng-class="{'btn btn-s waves-effect waves-white disabled': structureSectionForm.$invalid, 
                                      'btn btn-s waves-effect waves-white colorSecondary': !structureSectionForm.$invalid}">
                        </button>
                    </div>
                    <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                </div>
            </form>
        </v-page>
    </v-pages>
<!-- body end-->
</div>
    
    
   <!-- Modal Cancel SignUp -->
<div id="modalCancel" class="modal colorBckgModal">
	<div class="modal-header center-align white-text">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="modalSignupCancel.title"></span>
        </h5>
    </div>
    <div class="modal-content white">
		<div class="row">
			<div class="col s12">
			{{'modalSignupCancel.question' | translate}}
			</div>
		</div>
	</div>
	<div class="center">
        <div class="col s12">&nbsp;</div>
		<div class="col s12">
			<a href="" ng-click="closeCancelModal()" class="modal-action modal-close waves-effect waves-red btn btn-s colorAccent" translate="modalSignupCancel.button.no"></a>
			<a href="" ng-click="cancelSignup()" class="modal-action modal-close waves-effect waves-red btn btn-s colorSecondary" translate="modalSignupCancel.button.yes"></a>
		</div>
        <div class="col s12">&nbsp;</div>
	</div>
</div>

   <!-- Modal Creation InProgress -->
<div id="modalCreate" class="modal colorBckgModal">
	<div class="modal-header center-align white-text">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span>{{'modalCreate.title' | translate}}</span>
        </h5>
    </div>
	
	<div class="owl-carousel white" style="height:200px">
       	<div style="padding-top:80px;text-align:center"><h4 class="colorMain-text"><i class="fa fa-home"></i> {{'modalCreate.stepCreateSpace' | translate}}</h4></div>
   		<div style="padding-top:80px;text-align:center"><h4 class="colorAccent-text"><i class="fa fa-user"></i> {{'modalCreate.stepCreatePlayers' | translate}}</h4></div>
   		<div style="padding-top:80px;text-align:center"><h4 class="colorSecondary-text"><i class="fa fa-user"></i> {{'modalCreate.stepCreateTeam' | translate}}</h4></div>
   		<div style="padding-top:80px;text-align:center"><h4 class="colorMain-text"><i class="fa fa-user"></i> {{'modalCreate.stepCreateAdversaryTeam' | translate}}</h4></div>
		<div style="padding-top:80px;text-align:center"><h4 class="colorSecondary-text"><i class="fa fa-check-square-o"></i> {{'modalCreate.stepFinished' | translate}}</h4></div>
	</div>
	<div class="center">
		<div class="col s12">&nbsp;</div>
	</div>
</div>

