<div class="container">
<!-- body start-->
    <div class="row"> <div class="col s10"></div></div>   

    <!-- action bar -->
    <!-- <div class="row">
        <div class="col s12">
        </div>
    </div> -->
    
    <div class="row">
        <wizard on-finish="createSandBox()" template="app/components/directives/wizard/wizard.html"> 
            
            <!-- step infos personnes -->
            <wz-step title="{{'civilSection.label.userSignupCivilSection' | translate }}" template="app/components/directives/wizard/step.html">
                <div class="row"></div>
                <form novalidate class="col s12" name="userCivilSection">
                    
                    <div class="row">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h5>{{'civilSection.line1' | translate}}</h5>
                    		<h6>{{'civilSection.line2' | translate}}</h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <!-- Gender -->
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m6 s12">
                        	<div class="row">
                        		<div class="input-field col s5">
		                            <label>{{'civilSection.label.userGender' | translate }} <span class="red-text text-lighten-1">*</span></label>
		                        </div>
		                        <div class="input-field col s7">
		                           <input name="signup.gender" class="with-gap" type="radio" id="userGenderF" value="gender.female"
		                                      ng-model="signup.gender" required/>
		                           <label for="userGenderF">{{'civilSection.label.gender.female' | translate }}</label>
		
		                           <input name="signup.gender" class="with-gap" type="radio" id="userGenderM" value="gender.male"
		                              ng-model="signup.gender" required/>
		                           <label for="userGenderM">{{'civilSection.label.gender.male' | translate }}</label>
		                       </div>
                        	</div>
                        </div>
                        <div class="col m6 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <!-- Firstname & Name -->
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m3 s6">
                          <input ng-model="signup.firstname" id="userFirstname" type="text" class="validate" required>
                          <label for="userFirstname">{{'civilSection.label.userFirstname' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col m3 s6">
                          <input ng-model="signup.name" id="userName" type="text" class="validate" required>
                          <label for="userName">{{'civilSection.label.userName' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <!-- Nationality & Birthdate -->
					<div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m3 s12">
                        	<div class="row">
                        		<div class="hide-on-med-and-down input-field col m12 s6">&nbsp;</div>
		                        <div class="input-field col m12 s6">
		                            <input type="text" id="userNationality" class="form-control validate" ng-autocomplete ng-model="signup.nationality.label" details="temp.detailsCountry" options="optionsCountry" placeholder=""/>
                            		<label for="userNationality">{{'civilSection.label.userNationality' | translate }}</label>
		                       </div>
                        	</div>
                        </div>
                        <div class="col m3 s12">
                        	<div class="row">
		                        <div class="input-field col m12 s6">
									<label for="userBirthDate">{{'civilSection.label.userBirthDate' | translate }} <span class="red-text text-lighten-1">*</span></label>
								</div>
								<div class="input-field col m12 s6">
									<div class="hide-on-med-and-down"><br/></div>
									<input ng-model="signup.birthdateInput" id="userBirthDate" type="date" class="validate" required>
								</div>
							</div>
						</div>
                        
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <!-- Phone numbers -->
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m6 s12"><h6>{{'civilSection.line3' | translate}}</h6></div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m2 s4">
                            <i class="material-icons prefix">phone</i>
                            <label for="userPhoneHome">{{'civilSection.label.userPhoneHome' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col m2 s8">
                            <input id="userPhoneHome" type="text" ui-mask="{{'commons.format.phone.pattern' | translate }}" class="validate" min="0" ng-model="signup.contact.home" model-view-value="true">
                        </div>
                        <div class="col m5 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m2 s4">
                            <i class="material-icons prefix">location_city</i>
                            <label for="userPhoneOffice">{{'civilSection.label.userPhoneOffice' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col m2 s8">
                            <input id="userPhoneOffice" type="text" ui-mask="{{'commons.format.phone.pattern' | translate }}" class="validate" min="0" ng-model="signup.contact.office">
                        </div>
                        <div class="col m5 hide-on-med-and-down">&nbsp;</div>
                    </div>
                     <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m2 s4">
                            <i class="material-icons prefix">smartphone</i>
                            <label for="userCellPhone">{{'civilSection.label.userCellPhone' | translate }} <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col m2 s8">
                            <input id="userCellPhone" type="text" ui-mask="{{'commons.format.phone.pattern' | translate }}" class="validate" min="0" ng-model="signup.contact.cellphone">
                        </div>
                        <div class="col m5 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    <!-- actions buttons -->
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m6 s12 center">
                            <a ng-click="openCancelModal()" class="btn red lighteen-1 white-text" >{{'commons.buttons.cancel' | translate }}</a>&nbsp;
                            <button class="btn white-text green darken-1" type="submit" ng-click="validateUserCivilSection()" name="next">{{'commons.buttons.next' | translate }}</button>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                </form>
            </wz-step>
            
            
            <!-- step choix du sport -->
            <wz-step title="{{'sportSection.label.userSignupSportSection' | translate }}" template="app/components/directives/wizard/step.html" >
                <div class="row"></div>
                <form novalidate class="col s12" name="userSportSection">
                
                	<div class="row">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h6>{{'sportSection.line1' | translate}}</h6>
                    		<h6><i>{{'sportSection.line2' | translate}}</i></h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m6 s12">
                            <div class="col m3" ng-repeat="activity in activities track by $index">
                                <img ng-src="assets/images/activity/{{activity.code}}.jpg" width="80"/><br/>
                                <input class="with-gap" type="radio"
                                       id="activity.{{activity._id}}" value="{{activity._id}}"
                                       ng-model="signup.account.listPlan[0].activity._id" required ng-disabled="!activity.enable"/>
                                <label for="activity.{{activity._id}}">{{activity.label | translate }}</label>
                                <br>&nbsp;<br>
                            </div>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    
                    <!-- actions buttons -->
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m6 s12 center">
                            <a ng-click="openCancelModal()" class="btn red lighteen-1 white-text">{{'commons.buttons.cancel' | translate }}</a>&nbsp;
                            <button class="btn white-text blue-grey darken-3" wz-previous type="submit" name="previous">{{'commons.buttons.previous' | translate }}</button>&nbsp;
                            <button class="btn white-text green darken-1" type="submit" ng-click="validateSportSection()" name="next">{{'commons.buttons.next' | translate }}</button>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                </form>
            </wz-step>
            
             <!-- step choix du club -->
            <wz-step title="{{'structureSection.label.userSignupStructureSection' | translate }}" template="app/components/directives/wizard/step.html">
                <div class="row"></div>
                <form novalidate class="col s12" name="userStructureSection">
                
                	<div class="row">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h6>{{'structureSection.line1' | translate}}</h6>
                    		<h6>{{'structureSection.line2' | translate}}</h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col m3 s12">
                            <input type="text" id="userStructureCity" ng-autocomplete ng-model="structureCity" details="signup.detailsStructureCity" options="optionsStructureCity" ng-change="changeCityName();" ng-blur="resetStructure();" placeholder="" />
                            <label for="userStructureCity">{{'structureSection.label.userStructureCity' | translate }}  <span class="red-text text-lighten-1">*</span></label>
                        </div>
                        <div class="input-field col m3 s12">
                        	<input type="text" id="userStructureZipCode" ng-model="temp.zipcode" disabled="disabled"/>
                            <label for="userStructureZipCode">{{'structureSection.label.userZipcode' | translate }}</label>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col s3">
                            <label>{{'structureSection.label.userStructureName' | translate }} <span class="red-text text-lighten-1">*</span></label>
                       </div>
                        <div class="input-field col s3">
                            <select name="userStructureSelect" ng-model="structure" id="userStructureSelect" class="browser-default blue-grey-text text-darken-1" ng-focus="loadStructures()"
                            	ng-options="struct.labelAddress as (struct.label + struct.address) for struct in valuesStructures track by struct._id" ng-focus="resetStructure();" ng-change="applyChangeStructure()" ng-blur="applyChangeStructure()">
                            </select>
                            <input type="hidden" ng-model="structure.referencialId" value="-1" />
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    
                    <div class="row" ng-if="!temp.createStructure">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'structureSection.label.userStructureChoiceLabel' | translate}}</label></div>
                        <div class="col m3 s6">{{temp.structure.label}}&nbsp;</div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                   </div>
                   <div class="row" ng-if="!temp.createStructure">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'structureSection.label.userStructureChoiceAddress' | translate}}</label></div>
                        <div class="col m3 s6">{{temp.structure.address.place}}&nbsp;</div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                   </div>
                   <div class="row" ng-if="!temp.createStructure">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'structureSection.label.userStructureChoiceCity' | translate}}</label></div>
                        <div class="col m3 s6">{{temp.structure.address.zipcode}} {{temp.structure.address.city}}&nbsp;</div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    
                    <div class="row" ng-if="temp.createStructure">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'structureSection.label.userStructureChoiceLabel' | translate}}  <span class="red-text text-lighten-1">*</span></label></div>
                        <div class="input-field col m3 s6"><input type="text" id="userStructureLabel" class="validate" ng-model="newStructure.label"></div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    <div class="row" ng-if="temp.createStructure">    
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col input-field m3 s6"><label>{{'structureSection.label.userStructureChoiceAddress' | translate}}  <span class="red-text text-lighten-1">*</span></label></div>
                        <div class="input-field col m3 s6"><input type="text" id="userStructurePlace" class="validate" ng-model="newStructure.address.place"></div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
     
                    <div class="row" ng-show="!(temp.referencialId < 0) || temp.referencialId=='new'">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col input-field m3 s6"><label>{{'structureSection.label.userCategoryAge' | translate}} <span class="red-text text-lighten-1">*</span></label></div>
                    	<div class="input-field col s3">
                            <select name="categoryAgeSelect" ng-model="signup.categoryAge" id="userCategoryAgeSelect" class="browser-default blue-grey-text text-darken-1"
                            	ng-options="cat.label for cat in valuesCategoryAge track by cat._id">
                            </select>
                        </div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <!-- actions buttons -->
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m6 s12 center">
                            <a ng-click="openCancelModal()" class="btn red lighteen-1 white-text">{{'commons.buttons.cancel' | translate }}</a>&nbsp;
                            <button class="btn white-text blue-grey darken-3" wz-previous type="submit" name="previous">{{'commons.buttons.previous' | translate }}</button>&nbsp;
                            <button class="btn white-text green darken-1" type="submit" ng-click="validateStructureSection()" name="next">{{'commons.buttons.next' | translate }}</button>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                </form>
            </wz-step>
            
            
            <!-- step Résumé -->
            <wz-step title="{{'sumupSection.label.userSignupSumup' | translate }}" template="app/components/directives/wizard/step.html">
                <div class="row"></div>
                <form class="col s12" name="userSumup">
                	<div class="row">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h5>{{'sumupSection.line1' | translate}}</h5>
                    		<h6>{{'sumupSection.line2' | translate}}</h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <div class="row" style="margin:0">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h6 style="margin:0"><b><u>{{'civilSection.label.userSignupCivilSection' | translate}}</u></b></h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col s1"></div>
                        <div class="input-field col s5">
                            {{'civilSection.label.' + signup.gender + '' | translate}} {{signup.name | uppercase}} {{signup.firstname}}<br>
                            {{'sumupSection.label.born' | translate}} {{signup.birthdateInput}}<br>
                            {{signup.contact.email}}<br>
                            <span ng-hide="signup.nationality===null || angular.isUndefined(signup.nationality) || angular.isUndefined(signup.nationality.label)">{{'civilSection.label.userNationality' | translate }} : {{signup.nationality.label}}<br></span>
                            <span ng-hide="signup.contact.home===null || angular.isUndefined(signup.contact.home)">{{'civilSection.label.userPhoneHome' | translate}} : {{signup.contact.home}}</span><br></span> 
                            <span ng-hide="signup.contact.office===null || angular.isUndefined(signup.contact.office)">{{'civilSection.label.userPhoneOffice' | translate}} : {{signup.contact.office}}<br></span>
                            <span ng-hide="signup.contact.cellphone===null || angular.isUndefined(signup.contact.cellphone)">{{'civilSection.label.userCellPhone' | translate}} : {{signup.contact.cellphone}}<br></span>
                       </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    <div class="row" style="margin:0">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h6 style="margin:0"><b><u>{{'sumupSection.label.sportSection' | translate }}</u></b></h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col s1">
                            <img ng-src="assets/images/activity/{{signup.account.listPlan[0].activity._id}}.jpg" width="80"/><br/>
                       </div>
                        <div class="input-field col m5 s11">
                        	<div ng-repeat="data in structuresResult" ng-if="data._id==structure.referencialId">
							     {{data.label}}<br>
							     {{data.address.place}}<br>
							     {{data.address.zipcode}} {{data.address.city}}
							</div>
							<div>
								 {{structure.label}}<br>
							     {{structure.address.place}}<br>
							     {{structure.address.zipcode}} {{structure.address.city}}
							</div>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                   <div class="row" style="margin:0">
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    	<div class="col m6 s12">
                    		<h6 style="margin:0"><b><u>{{'structureSection.label.userCategoryAge' | translate }}</u></b></h6>
                    	</div>
                    	<div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="input-field col s1"></div>
                        <div class="input-field col s5">{{signup.categoryAge.label}}</div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                    
                    
                    <!-- actions buttons -->
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                        <div class="col m6 s12 center-align">
                            <a ng-click="openCancelModal()" class="btn red lighteen-1 white-text">{{'commons.buttons.cancel' | translate }}</a>&nbsp;
                            <button class="btn white-text blue-grey darken-3" wz-previous type="submit" name="previous">{{'commons.buttons.previous' | translate }}</button>&nbsp;
                            <a wz-next class="btn white-text green darken-1">{{'commons.buttons.validate' | translate }}</a>
                        </div>
                        <div class="col m3 hide-on-med-and-down">&nbsp;</div>
                    </div>
                </form>
            </wz-step>
         </wizard>
    </div>

   <!-- Modal Cancel SignUp -->
<div id="modalCancel" class="modal">
	<div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span translate="modalSignupCancel.title"></span>
        </h5>
    </div>
    <div class="modal-content grey lighten-3 ">
		<div class="row">
			<div class="col s12">
			{{'modalSignupCancel.question' | translate}}
			</div>
		</div>
	</div>
	<div class="center">
		<div class="col s12">
			<a href="" ng-click="cancelSignup()" class="modal-action modal-close waves-effect waves-red btn green darken-1" translate="modalSignupCancel.button.yes"></a>
			<a href="" ng-click="closeCancelModal()" class="modal-action modal-close waves-effect waves-red btn red" translate="modalSignupCancel.button.no"></a>
		</div>
	</div>
</div>

   <!-- Modal Creation InProgress -->
<div id="modalCreate" class="modal">
	<div class="modal-header center-align ">
        <h5>
            <span class="fa fa-sign-in"></span>
            <span>{{'modalCreate.title' | translate}}</span>
        </h5>
    </div>
	
	<div class="owl-carousel grey lighten-3" style="height:200px">
       	<div style="padding-top:80px;text-align:center"><h4><i class="fa fa-home"></i> {{'modalCreate.stepCreateSpace' | translate}}</h4></div>
   		<div style="padding-top:80px;text-align:center"><h4><i class="fa fa-user"></i> {{'modalCreate.stepCreatePlayers' | translate}}</h4></div>
   		<div style="padding-top:80px;text-align:center"><h4><i class="fa fa-user"></i> {{'modalCreate.stepCreateTeam' | translate}}</h4></div>
   		<div style="padding-top:80px;text-align:center"><h4><i class="fa fa-user"></i> {{'modalCreate.stepCreateAdversaryTeam' | translate}}</h4></div>
		<div style="padding-top:80px;text-align:center"><h4><i class="fa fa-credit-card"></i> {{'modalCreate.stepValidateAccount' | translate}}</h4></div>
		<div style="padding-top:80px;text-align:center"><h4><i class="fa fa-check-square-o"></i> {{'modalCreate.stepFinished' | translate}}</h4></div>
	</div>
	<div class="center">
		<div class="col s12">&nbsp;</div>
	</div>
</div>

<!-- body end-->
</div>