<div class="container">
    <div class="row mt centered">
        <div class="col-lg-8 col-lg-offset-2">
            <h1 translate="effective.dashboard.addPlayer"></h1>
        </div>
    </div>
    <wizard on-finish="upsertPlayer()" template="templates/directives/wizard.html"> <!--  New User registration form -->
        <wz-step title="{{'effective.addPlayer.step1.title' | translate}}"
                 template="templates/directives/step.html">
            <div class="well">
                <form novalidate class="form-horizontal css-form" accept-charset="UTF-8"
                      name="addPlayerCivilStatusForm">
                    <div class="page-header">
                        <h3 translate="effective.addPlayer.step1.title"></h3>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerCivilStatusForm.gender.$invalid}">
                        <label translate="effective.addPlayer.label.gender"
                               class="col-md-4 control-label requiredLabel"></label>

                        <div class="col-md-4">
                            <select class="form-control" name="gender"
                                    ng-model="newPlayer.gender" id="gender"
                                    ng-options="gender.code as gender.label for gender in genders"
                                    required>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': addPlayerCivilStatusForm.name.$invalid}">
                        <label class="col-md-4 control-label requiredLabel"
                               translate='effective.addPlayer.label.name'></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="name"
                                   placeholder="{{'effective.addPlayer.ph.name' | translate }}"
                                   ng-model="newPlayer.name"
                                   required>
                        </div>
                        <div class="col-md-4">
                            <div class="text-success fa fa-check" ng-show="addPlayerCivilStatusForm.name.$valid"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerCivilStatusForm.firstname.$invalid}">
                        <label class="col-md-4 control-label" translate='effective.addPlayer.label.firstname'></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="firstname"
                                   placeholder="{{'effective.addPlayer.ph.firstname' | translate }}" required
                                   ng-model="newPlayer.firstname">
                        </div>
                        <div class="col-md-4">
                            <div class="text-success fa fa-check"
                                 ng-show="addPlayerCivilStatusForm.firstname.$valid"></div>
                        </div>
                    </div>
                    
                    <div class="form-group"
                         ng-class="{'has-error': addPlayerCivilStatusForm.birthdate.$error.required}">
                        <label class="col-md-4 control-label" translate='effective.addPlayer.label.birthdate'></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="birthdate" ui-date ng-model="birthdate"
                                   date-option="dateOption" required/>
                        </div>
                        <div class="col-md-4">
                            <div ng-hide="addPlayerCivilStatusForm.birthdate.$valid" translate="date.label"></div>
                            <div class="text-success fa fa-check"
                                 ng-show="addPlayerCivilStatusForm.birthdate.$valid"></div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': addPlayerCivilStatusForm.nationality.$error.required}">
                        <label translate="effective.addPlayer.label.nationality" class="col-md-4 control-label"></label>

                        <div class="col-md-4">
                            <select class="form-control" ng-model="newPlayer.nationality" required name="nationality"
                                    ng-options="(country.label | translate) for country in countriesList | orderBy: translated">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" translate="effective.addPlayer.label.birthcity"></label>

                        <div class="col-md-4">
                        
                            <input type="text" class="form-control" name="birthcity"
                                   placeholder="{{'effective.addPlayer.ph.birthcity' | translate }}"
                                   ng-model="newPlayer.birthcity"
                                   typeahead="address for address in getLocation($viewValue)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="effective.addPlayer.label.birthcountry"
                               class="col-md-4 control-label"></label>

                        <div class="col-md-4">
                            <select class="form-control" ng-model="newPlayer.birthcountry"
                                    ng-options="(country.label | translate) for country in countriesList | orderBy: translated">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-lg-offset-4">
                            <a href="#/private/effective/dashboard/{{licence.categoryAgeCode || 'none'}}/-1"
                               class="btn btn-danger"
                               translate='popup.buttons.cancel'></a> <a
                                class="btn btn-primary" wz-next="getBirthcity()"
                                ng-disabled="addPlayerCivilStatusForm.$invalid">
                            {{'effective.addPlayer.next' | translate}}
                            <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </wz-step>
        <wz-step title="{{'effective.addPlayer.step2.title' | translate}}" template="templates/directives/step.html">
            <div class="well">
                <form novalidate class="form-horizontal css-form" accept-charset="UTF-8" name="addPlayerContactForm">
                    <div class="page-header">
                        <h3 translate="effective.addPlayer.step2.title"></h3>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerContactForm.address.$error.required}">
                        <label class="col-md-4 control-label" translate="effective.addPlayer.label.address"></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="address"
                                   placeholder="{{'effective.addPlayer.ph.address' | translate }}"
                                   ng-model="newPlayer.address.formatedAddress"
                                   typeahead="address for address in getLocation($viewValue)" required/>
                        </div>
                        <div class="col-md-4">
                            <div class="text-success fa fa-check"
                                 ng-show="addPlayerContactForm.address.$valid"></div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerContactForm.email.$invalid}">
                        <label class="col-md-4 control-label" translate='effective.addPlayer.label.email'></label>

                        <div class="col-md-4">
                            <input type="email" class="form-control" name="email"
                                   placeholder="{{'effective.addPlayer.ph.email' | translate }}" required
                                   ng-model="newPlayer.contact.email"
                                   ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                   ng-class="{ 'has-error': addPlayerCivilStatusForm.email.$invalid }"/>
                        <span class="error"
                              ng-show="addPlayerContactForm.email.$dirty && addPlayerContactForm.email.$error.required"
                              translate='effective.addPlayer.message.email.required'></span>
                        </div>
                        <div class="col-md-4">
                            <div class="text-success fa fa-check" ng-show="addPlayerContactForm.email.$valid"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" translate='effective.addPlayer.label.phonenumber'></label>

                        <div class="col-md-4">
                            <input type="tel" class="form-control" name="home" ng-model="newPlayer.contact.home"
                                   ui-mask="{{'phone.format' | translate}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.mobilephonenumber'></label>

                        <div class="col-md-4">
                            <input type="tel" class="form-control" name="home" ng-model="newPlayer.contact.cellphone"
                                   ui-mask="{{'phone.format' | translate}}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-lg-offset-4">
                            <a href="#/private/effective/dashboard/{{licence.categoryAgeCode || 'none'}}/-1"
                               class="btn btn-danger"
                               translate='popup.buttons.cancel'></a>
                            <a class="btn btn-primary" wz-previous>
                                <i class="fa fa-chevron-left"></i>
                                {{'effective.addPlayer.previous' | translate}}
                            </a>
                            <a class="btn btn-primary" wz-next="getPostalAddress()"
                               ng-disabled="addPlayerContactForm.$invalid">
                                {{'effective.addPlayer.next' | translate}}
                                <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </wz-step>
        <wz-step title="{{'effective.addPlayer.step3.title' | translate}}" template="templates/directives/step.html">
            <div class="well">
                <form novalidate class="form-horizontal css-form" accept-charset="UTF-8"
                      name="addPlayerAffectationForm">
                    <div class="page-header">
                        <h3 translate="effective.addPlayer.step3.title"></h3>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.squadNumber'></label>

                        <div class="col-md-4">
                            <input type="number" class="form-control" ng-model="newPlayer.status.squadnumber" min="0"
                                   max="64" required/>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': addPlayerAffectationForm.positionType.$error.required}">
                        <label class="col-md-4 control-label"
                               translate="effective.addPlayer.label.positionType"></label>

                        <div class="col-md-4">
                            <select class="form-control" ng-model="newPlayer.status.positionType" required
                                    name="positionType"
                                    ng-options="p as ('stat.positionType.value.' + p | translate) for p in positionType">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerAffectationForm.categoryAgeCode.$invalid}">
                        <label class="col-md-4 control-label"
                               translate="effective.addPlayer.label.category"></label>

                        <div class="col-md-4">
                            <select ng-model="licence.categoryAgeCode" class="form-control" name="categoryAgeCode"
                                    ng-options="cat.code as cat.label for cat in categories" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerAffectationForm.typeLicence.$invalid}">
                        <label class="col-md-4 control-label"
                               translate="effective.addPlayer.label.typeLicence"></label>

                        <div class="col-md-4">
                            <select ng-model="licence.typeLicence" class="form-control" name="typeLicence"
                                    ng-options="t.code as t.label for t in typeLicences" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': addPlayerAffectationForm.licencenumber.$invalid}">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.licencenumber'></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="licencenumber" name="licencenumber"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{'has-error': addPlayerAffectationForm.dateInscription.$error.required}">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.dateInscription'></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="dateInscription" ui-date
                                   ng-model="dateInscription"
                                   date-option="dateOption2" required/>
                        </div>
                        <div class="col-md-4">
                            <div ng-hide="addPlayerAffectationForm.dateInscription.$valid" translate="date.label"></div>
                            <div class="text-success fa fa-check"
                                 ng-show="addPlayerAffectationForm.dateInscription.$valid"></div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': addPlayerAffectationForm.dateQualification.$error.required}">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.dateQualification'></label>

                        <div class="col-md-4">
                            <input type="text" class="form-control" name="dateQualification" ui-date
                                   ng-model="dateQualification"
                                   date-option="dateOption3" required/>
                        </div>
                        <div class="col-md-4">
                            <div ng-hide="addPlayerAffectationForm.dateQualification.$valid"
                                 translate="date.label"></div>
                            <div class="text-success fa fa-check"
                                 ng-show="addPlayerAffectationForm.dateQualification.$valid"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-lg-offset-4">
                            <a href="#/private/effective/dashboard/{{licence.categoryAgeCode || 'none'}}/-1"
                               class="btn btn-danger"
                               translate='popup.buttons.cancel'></a>
                            <a class="btn btn-primary" wz-previous>
                                <i class="fa fa-chevron-left"></i>
                                {{'effective.addPlayer.previous' | translate}}
                            </a>
                            <a class="btn btn-primary" wz-next ng-disabled="addPlayerAffectationForm.$invalid">
                                {{'effective.addPlayer.next' | translate}}
                                <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </wz-step>
        <wz-step title="{{'effective.addPlayer.step4.title' | translate}}" template="templates/directives/step.html">
            <div class="well">
                <form novalidate class="form-horizontal css-form" accept-charset="UTF-8"
                      name="addPlayerCriteriasForm">
                    <h1 translate="effective.addPlayer.step4.title"></h1>

                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.weight'></label>

                        <div class="col-md-4">
                            <input type="number" class="form-control" ng-model="newPlayer.status.weight" min="0"/>
                        </div>
                        <div class="col-md-4">
                            kg
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.height'></label>

                        <div class="col-md-4">
                            <input type="number" class="form-control" ng-model="newPlayer.status.height" min="0"/>
                        </div>
                        <div class="col-md-4">
                            cm
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate='effective.addPlayer.label.imc'></label>

                        <div class="col-md-4">
                            <input type="number" class="form-control" ng-model="newPlayer.status.imc" min="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate="effective.addPlayer.label.laterality"></label>

                        <div class="col-md-4">
                            <select class="form-control" ng-model="newPlayer.status.laterality"
                                    ng-options="p as ('stat.laterality.value.' + p | translate) for p in laterality">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"
                               translate="effective.addPlayer.label.stateForm"></label>

                        <div class="col-md-4">
                            <select class="form-control" ng-model="newPlayer.status.stateForm"
                                    ng-options="p as ('stat.stateForm.value.' + p | translate) for p in stateForm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-lg-offset-4">
                            <a href="#/private/effective/dashboard/{{licence.categoryAgeCode || 'none'}}/-1"
                               class="btn btn-danger"
                               translate='popup.buttons.cancel'></a>
                            <a class="btn btn-primary" wz-previous>
                                <i class="fa fa-chevron-left"></i>
                                {{'effective.addPlayer.previous' | translate}}
                            </a>
                            <a class="btn btn-primary" translate='popup.buttons.submit' ng-click="upsertPlayer()"
                               ng-disabled="addPlayerCriteriasForm.$invalid"></a>
                        </div>
                    </div>
                </form>
            </div>
        </wz-step>
    </wizard>
</div>