<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <div class="row white">
        <div class="col s12">

            <!-- Header-->
            <title-page-bar icon="compare_arrows" title=""></title-page-bar>

            <filter-calendar meta="meta"></filter-calendar>
            <div class="row primary-text-color">
                <table>
                    <thead>
                    <tr>
                        <th data-field="indicators"></th>
                        <th ng-repeat="p in players track by $index" data-field="{{p._id}}" class="center-align">
                            {{p.firstname + " " + p.name}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><b>Buts</b></td>
                        <td ng-repeat="p in players track by $index" data-field="{{p._id}}" class="center-align"><h3
                                class="light-blue-text text-darken-1">
                            {{stats.goals[p._id] || 0}}</h3>
                            <p ng-if="(stats.originShoot[p._id]||0)>0">{{ (stats.goals[p._id] || 0) *100 /
                                stats.originShoot[p._id] | number : 2}} %</p>
                            <p ng-if="(stats.originShoot[p._id]||0)==0">na</p>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Sanctions</b></td>
                        <td ng-repeat="p in players track by $index" data-field="{{p._id}}" class="center-align">
                            <h3 class="accent-text-color">{{stats.sanctions[p._id] || 0}}</h3></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row" ng-if="periodicityActive">
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.positive' | translate}}"
                                distinct="true" meta="meta" series="series"
                                indicators="['penaltyObtained', 'exclTmpObtained', 'shift', 'duelWon', 'passDec']"></qaobee-radar-chart>
                    </div>
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.negative' | translate}}"
                                distinct="true" meta="meta" series="series"
                                indicators="['forceAtt', 'marcher', 'doubleDribble', 'looseball', 'foot', 'zone', 'stopGKAtt']"></qaobee-radar-chart>
                    </div>
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.positive' | translate}}"
                                distinct="true" meta="meta" series="series"
                                indicators="['neutralization', 'forceDef', 'contre', 'interceptionOk']"></qaobee-radar-chart>
                    </div>
                    <div class="col s12 m6">
                        <qaobee-radar-chart
                                title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.negative' | translate}}"
                                distinct="true" meta="meta" series="series"
                                indicators="['penaltyConceded', 'interceptionKo', 'duelLoose', 'badPosition']"></qaobee-radar-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
