<div class="container">
    <!-- body start-->
    <div class="row"></div>

    <!-- entete start -->
    <title-page-bar icon="person" title="mainPlayer.title"></title-page-bar>

    <filter-calendar meta="meta"></filter-calendar>

    <v-tabs class="tabs" horizontal active="activeTabIndex">
        <v-tab class="tab" ng-click="changeTabDefault(0)"><a ng-href=""
                                                             ng-class="{'secondary-color': activeTabIndex === 0}"
                                                             translate="tabEffectif.dashboard"></a></v-tab>
        <v-tab class="tab" ng-click="changeTabDefault(1)"><a ng-href=""
                                                             ng-class="{'secondary-color': activeTabIndex === 1}">{{'tabEffectif.Listplayer'
            | translate }} ({{players.length}})</a></v-tab>
    </v-tabs>


    <div class="row">

        <v-pages class="vPages--default" active="activeTabIndex">
            <v-page>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user"></widget-efficiency-player>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user" values="['BACKLEFT9', 'CENTER9', 'BACKRIGHT9']"
                                              widget-title="'stats.efficiency.efficiency9m'"></widget-efficiency-player>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user"
                                              values="['BACKLEFT6', 'CENTER6', 'BACKRIGHT6', 'LWING', 'RWING']"
                                              widget-title="'stats.efficiency.efficiency6m'"></widget-efficiency-player>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user" values="['PENALTY']"
                                              widget-title="'stats.efficiency.efficiency7m'"></widget-efficiency-player>
                </div>


                <div class="col s12 m6 l6" style="margin-top:15px;">
                    <widget-podium meta="meta" user="user" indicator="goalScored" nbitem="10"
                                   stataggregat="COUNT"></widget-podium>
                </div>

                <div class="col s12 m6 l6" style="margin-top:15px;">
                    <widget-podium meta="meta" user="user" indicator="totalPlayTime" nbitem="10"
                                   stataggregat="SUM"></widget-podium>
                </div>

                <div class="col s12 m6 l6" style="margin-top:15px;">
                    <widget-podium meta="meta" user="user" indicator="holder" nbitem="10"
                                   stataggregat="SUM"></widget-podium>
                </div>


                <div class="col s12 m6">
                    <qaobee-radar-chart
                            title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.positive' | translate}}"
                            meta="meta"
                            indicators="['penaltyObtained', 'exclTmpObtained', 'shift', 'duelWon', 'passDec']"></qaobee-radar-chart>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart
                            title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.negative' | translate}}"
                            meta="meta"
                            indicators="['forceAtt', 'marcher', 'doubleDribble', 'looseball', 'foot', 'zone', 'stopGKAtt']"></qaobee-radar-chart>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart
                            title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.positive' | translate}}"
                            meta="meta"
                            indicators="['neutralization', 'forceDef', 'contre', 'interceptionOk']"></qaobee-radar-chart>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart
                            title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.negative' | translate}}"
                            meta="meta"
                            indicators="['penaltyConceded', 'interceptionKo', 'duelLoose', 'badPosition']"></qaobee-radar-chart>
                </div>
            </v-page>
            <v-page>
                <form class="forms forms-inline">
                    <div class="col m8 s12 input-field">
                        <input type="text" id="queryPlayer" class="grey lighten-4" ng-model="queryPlayer">
                        <label for="queryPlayer" translate="commons.buttons.search"></label>
                    </div>
                </form>    

                <div class="col m4 s12 center-align">
                    <br>
                    <a href="#/private/addPlayer/{{meta.sandbox._id}}"
                       class="waves-effect waves-light btn accent-color">
                        <i class="material-icons">add</i>
                    </a>

                    <button ng-click="compare()" title="{{'mainEffective.buttons.compare' | translate}}"
                            class="waves-effect waves-light btn accent-color">
                        <i class="material-icons">recent_actors</i>
                    </button>
                </div>


                <div class="col s12">&nbsp;</div>

                <ul>
                    <li class="col l3 m6 s12" ng-repeat="player in players | filter:queryPlayer">
                        <div class="card white primary-text-color">
                            <div class="card-content center-align" style="height:48px;">
                                <span>#{{player.status.squadnumber}}</span>
                                <br>
                                <span class="card-title"><a href="#/private/viewPlayer/{{player._id}}"
                                                            class="primary-text-color">
                                    {{player.firstname}} {{player.name}}</a>
                                </span>
                            </div>
                            <div class="card-content center-align" style="height:48px;">
                                <a href="#/private/viewPlayer/{{player._id}}">
                                    <avatar person="player" width="'50px'"></avatar>
                                </a>
                            </div>
                            <div class="card-content center-align dark-primary-color" style="height:48px;">
                                <h5>
                                    <small class="white-text">{{player.positionType}}</small>
                                </h5>
                            </div>

                            <div class="card-action">
                                <a href="#/private/viewPlayer/{{player._id}}"
                                   class="waves-effect accent-text-color">
                                    <i class="fa fa-bar-chart"></i>
                                </a>

                                <div class="right">
                                    <input type="checkbox" ng-model="compareList[player._id]" name="compare"
                                           ng-change="updatePlayerToCompare(player._id)"
                                           ng-checked="compareList[player._id]" id="compare-{{player._id}}"/>
                                    <label for="compare-{{player._id}}"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </v-page>
        </v-pages>

    </div>

    <!-- body end-->
</div>