<div class="container" ng-if="player">
    <div class="row"></div>
    <div class="row dark-primary-color valign-wrapper">
        <div class="col m3 s12 center">
            <avatar person="player" width="'75px'"></avatar>
        </div>
        <div class="col m7 s12 center">
            <br/>
            <h4>{{player.firstname}} {{player.name}} #{{player.status.squadnumber}}</h4>
            <h6 ng-bind="player.positionType"></h6>
        </div>
        <div class="col m2 s12">
            <button class="btn accent-color" ng-click="doTheBack()" translate="commons.buttons.back"></button>
        </div>
    </div>
    <div class="row card">
        <!--card-->
        <div class="col m12 s12 animated fadeInUp" style="-webkit-animation-duration:{{$index * 100}}ms">
            <div class="card-content">
                <player-infos player="player"></player-infos>
            </div>
        </div>
    </div>
    <div class="row card">
        <!--card-->
        <div class="col m12 s12 animated fadeInUp" style="-webkit-animation-duration:{{$index * 100}}ms">
            <div class="card-content">
                <player-stats player="player" meta="meta" user="user"></player-stats>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="#/private/updatePlayer/{{player._id}}" class="btn-large btn-floating red">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>
</div>
