<div class="container" ng-if="player">
    <div class="row"></div>
    
    <title-page-bar icon="person" title="{{player.firstname}} {{player.name}}"></title-page-bar>
    
    <div class="row card">
        <!--card-->
        <div class="col m12 s12">
            <input type="checkbox" ng-model="showDetail" />
            <span class="card-title activator accent-text-color" ng-click="showDetail = !showDetail">
                <i class="fa fa-fw fa-chevron-down"></i>
                <span class="primary-text-color" translate="playerLabels.playerCivilSection"></span></span>

            <div class="card-content right-align card-toggle" >
                <player-infos player="player"></player-infos>
                <a href="#/private/updatePlayer/{{player._id}}" class="btn-large btn-floating red">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        </div>
    </div>
    <div class="row card">
        <!--card-->
        <div class="col m12 s12 animated fadeIn">
            <div class="card-content">
                <player-stats player="player" meta="meta" user="user"></player-stats>
            </div>
        </div>
    </div>
</div>
