<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <!-- Entete -->
    <div class="row">
        <div class="col s12">
            <div class="row moduleTitle white-text center">
                <div class="col m3 s12 center">
                    <avatar person="player" width="'100px'"></avatar>
                    <span class="small">{{'effectiveLabels.effectiveAvatar' | translate }}</span>
                </div>
                <div class="col m7 s12">
                    <br/>
                    <h4>{{player.firstname}} {{player.name}}</h4>
                </div>
                <div class="col m2 s12">
                    <br/>&nbsp;
                </div>
            </div>
        </div>
    </div>

    <!-- body-->
    <div class="row">
        <wizard on-finish="checkAndformatPerson()" template="app/components/directives/wizard/wizard.html">

            <!-- step etat civil -->
            <wz-step title="{{'playerLabels.playerCivilSection' | translate }}"
                     template="app/components/directives/wizard/step.html">
                <div class="col s12">
                    <form name="playerCivilSection">
                        <!-- Empty row -->
                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <div class="col s12 m5 input-field">
                                <label class="active">{{'playerLabels.playerFirstname' | translate }} <span
                                        class="red-text text-lighten-1">*</span></label>
                                <input ng-model="player.firstname" name="playerFirstname" type="text" class="validate"
                                       required
                                       ng-class="{ 'has-error' : playerCivilSection.playerFirstname.$invalid && !playerCivilSection.playerFirstname.$pristine }">
                                <span class="small red-text text-lighten-1"
                                      ng-show="playerCivilSection.playerFirstname.$invalid && !playerCivilSection.playerFirstname.$pristine"
                                      translate="playerErrors.Firstname"></span>
                            </div>

                            <div class="col m1 hide-on-small-only">&nbsp;</div>

                            <div class="col s12 m6 input-field">
                                <label class="active">{{'playerLabels.playerName' | translate }} <span
                                        class="red-text text-lighten-1">*</span></label>
                                <input ng-model="player.name" name="playerName" type="text"
                                       class="validate form-control" required
                                       ng-class="{ 'has-error' : playerCivilSection.playerName.$invalid && !playerCivilSection.playerName.$pristine }">
                                <span class="small red-text text-lighten-1"
                                      ng-show="playerCivilSection.playerName.$invalid && !playerCivilSection.playerName.$pristine"
                                      translate="playerErrors.Name"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m5 input-field">
                                <label>{{'playerLabels.playerBirthdate' | translate }} <span
                                        class="red-text text-lighten-1">*</span></label>
                                <input id="playerBirthdate" class="datepicker" name="playerBirthdate" type="text"
                                       ng-model="player.birthdate" required
                                       ng-class="{ 'has-error' : playerCivilSection.playerBirthdate.$invalid && !playerCivilSection.playerBirthdate.$pristine }"/>
                                <span class="small red-text text-lighten-1"
                                      ng-show="playerCivilSection.playerBirthdate.$invalid && !playerCivilSection.playerBirthdate.$pristine"
                                      translate="playerErrors.BirthDate"></span>
                            </div>

                            <div class="col m1 hide-on-small-only">&nbsp;</div>

                            <div class="col m6 input-field hide-on-small-only">
                                <i class="material-icons prefix">mail</i>
                                <label>{{'playerLabels.playerMail' | translate }}</label>
                                <input type="email" name="email" class="validate" ng-model="player.contact.email"
                                       ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                       ng-class="{ 'invalid': playerCivilSection.email.$invalid }">
                                <span ng-class="{'has-error': playerCivilSection.email.$dirty}"
                                      class="small red-text text-lighten-1"
                                      ng-hide="playerCivilSection.email.$valid"
                                      translate="playerErrors.emailDirty"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m5">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <label>{{'playerLabels.playerGender' | translate }} <span
                                                class="red-text text-lighten-1">*</span></label>
                                    </div>
                                    <div class="input-field col s9 center-align">
                                        <input name="gender" class="with-gap" type="radio" id="playerGenderF"
                                               value="{{'playerLabels.playerGenderF' | translate }}"
                                               ng-model="player.gender" required/>
                                        <label for="playerGenderF">{{'playerLabels.playerGenderF' | translate }}</label>

                                        <input name="gender" class="with-gap" type="radio" id="playerGenderM"
                                               value="{{'playerLabels.playerGenderM' | translate }}"
                                               ng-model="player.gender" required/>
                                        <label for="playerGenderM">{{'playerLabels.playerGenderM' | translate }}</label>
                                    </div>
                                    <span class="small red-text text-lighten-1"
                                          ng-show="playerCivilSection.gender.$invalid && !playerCivilSection.gender.$pristine"
                                          translate="playerErrors.Gender"></span>
                                </div>
                            </div>

                            <div class="col m1 hide-on-small-only">&nbsp;</div>

                            <div class="col m6 input-field hide-on-small-only">
                                <i class="material-icons prefix">phone</i>
                                <label>{{'playerLabels.playerTelHome' | translate }}</label>
                                <input type="tel" ui-mask="{{'commons.format.phone.pattern' | translate }}"
                                       class="validate" min="0" ng-model="player.contact.home">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m5 input-field">
                                <label class="active" for="playerNationality">{{'playerLabels.playerNationality' |
                                    translate }}</label>
                                <input type="text" id="playerNationality" class="form-control" ng-autocomplete
                                       ng-model="player.nationality" details="detailsCountry" options="optionsCountry"
                                       placeholder=""/>
                            </div>

                            <div class="col m1 hide-on-small-only">&nbsp;</div>

                            <div class="col s12 m6 input-field hide-on-small-only">
                                <i class="material-icons prefix">smartphone</i>
                                <label for="playerTelMobile">{{'playerLabels.playerTelMobile' | translate }}</label>
                                <input id="playerTelMobile" type="tel"
                                       ui-mask="{{'commons.format.phone.pattern' | translate }}"
                                       class="validate" min="0" ng-model="player.contact.cellphone">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 m5 input-field">
                                <label class="active" for="playerBirthCity">{{'playerLabels.playerBirthCity' | translate
                                    }}</label>
                                <input type="text" id="playerBirthCity" class="form-control" ng-autocomplete
                                       ng-model="player.birthCity" details="detailsCity" options="optionsCity"
                                       placeholder=""/>
                            </div>

                            <div class="col m1 hide-on-small-only">&nbsp;</div>

                            <div class="col m6 input-field hide-on-small-only">
                                <i class="material-icons prefix">home</i>
                                <label for="playerAddress">{{'playerLabels.playerAddress' | translate }}</label>
                                <input type="text" id="Autocomplete" class="form-control" ng-autocomplete
                                       ng-model="player.address.formatedAddress" details="detailsAdr"
                                       options="optionsAdr" placeholder=""/>
                            </div>
                        </div>

                        <div class="row hide-on-med-and-up">
                            <div class="col s12">
                                <div class="input-field col s4">
                                    <i class="material-icons prefix">mail</i>
                                    <label for="playerMail">{{'playerLabels.playerMail' | translate }}</label>
                                </div>
                                <div class="input-field col s8">
                                    <input type="email" name="playerEmail" class="validate"
                                           ng-model="player.contact.email"
                                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                           ng-class="{ 'invalid': playerCivilSection.playerEmail.$invalid }">
                                    <span ng-class="{'has-error': playerCivilSection.playerEmail.$dirty}"
                                          class="small red-text text-lighten-1"
                                          ng-hide="playerCivilSection.playerEmail.$valid"
                                          translate="playerLabels.emailDirty"></span>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field col s4">
                                    <i class="material-icons prefix">phone</i>
                                    <label for="playerTelHome">{{'playerLabels.playerTelHome' | translate }}</label>
                                </div>
                                <div class="input-field col s8">
                                    <input id="playerTelMobile" type="tel"
                                           ui-mask="{{'commons.format.phone.pattern' | translate }}"
                                           class="validate" min="0" ng-model="player.contact.home">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field col s4">
                                    <i class="material-icons prefix">smartphone</i>
                                    <label for="playerTelMobile">{{'playerLabels.playerTelMobile' | translate }}</label>
                                </div>
                                <div class="input-field col s8">
                                    <input id="playerTelMobile" type="tel"
                                           ui-mask="{{'commons.format.phone.pattern' | translate }}"
                                           class="validate" min="0" ng-model="player.contact.cellphone">
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="input-field col s4">
                                    <i class="material-icons prefix">home</i>
                                    <label for="playerAddress">{{'playerLabels.playerAddress' | translate }}</label>
                                </div>
                                <div class="input-field col s8">
                                    <input type="text" id="Autocomplete" class="form-control" ng-autocomplete
                                           ng-model="player.address.formatedAddress" details="detailsAdr"
                                           options="optionsAdr" placeholder=""/>
                                </div>
                            </div>

                        </div>

                        <!-- actions buttons -->
                        <div class="row">
                            <div class="col m3 hide-on-small-only">&nbsp;</div>
                            <div class="col m6 s12 center">
                                <a href="" class="btn red lighteen-1 white-text" ng-click="doTheBack()">{{'commons.buttons.cancel'
                                    | translate }}</a>&nbsp;
                                <button class="btn white-text blue-grey darken-3" wz-next type="submit" name="next"
                                        ng-disabled="playerCivilSection.$invalid">{{'commons.buttons.next' | translate
                                    }}
                                </button>
                            </div>
                            <div class="col m3 hide-on-small-only">&nbsp;</div>
                        </div>
                    </form>
                </div>
            </wz-step>

            <!-- step caracteristiques -->
            <wz-step title="{{'playerLabels.playerCaracterSection' | translate }}"
                     template="app/components/directives/wizard/step.html">
                <div class="row"></div>
                <form novalidate name="playerCaracterSection">
                    <!-- Empty row -->
                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="input-field col m1 s4"><label for="playerPositionType">{{'playerLabels.playerPositionType'
                            | translate }} <span class="red-text text-lighten-1">*</span></label></div>
                        <div class="input-field col m4 s8">
                            <select class="browser-default" ng-model="player.status.positionType" required
                                    ng-class="{ 'has-error' : playerCaracterSection.playerPositionType.$invalid && !playerCaracterSection.playerPositionType.$pristine }"
                                    name="playerPositionType" id="playerPositionType"
                                    ng-options="p.code as p.label for p in positionsType">
                            </select>
                                    <span class="small red-text text-lighten-1"
                                          ng-show="playerCaracterSection.playerPositionType.$invalid && !playerCaracterSection.playerPositionType.$pristine"
                                          translate="playerErrors.PositionType"></span>
                        </div>

                        <div class="col m1 hide-on-small-only">&nbsp;</div>

                        <div class="input-field col m6 s12">
                            <label class="active" for="playerSquadNumber">{{'playerLabels.playerSquadNumber' | translate
                                }}</label>
                            <input id="playerSquadNumber" type="number" class="validate" min="0"
                                   ng-model="player.status.squadnumber">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col m1 s12">
                            <label>{{'playerLabels.playerLaterality' | translate }}</label>
                        </div>

                        <div class="input-field col m5 s12 center-align">
                            <input name="laterality" class="with-gap" type="radio" id="playerLateralityA"
                                   value="{{'playerLabels.playerLateralityA' | translate }}"
                                   ng-model="player.status.laterality"/>
                            <label for="playerLateralityA">{{'playerLabels.playerLateralityA' | translate }}</label>

                            <input name="laterality" class="with-gap" type="radio" id="playerLateralityL"
                                   value="{{'playerLabels.playerLateralityL' | translate }}"
                                   ng-model="player.status.laterality"/>
                            <label for="playerLateralityL">{{'playerLabels.playerLateralityL' | translate }}</label>

                            <input name="laterality" class="with-gap" type="radio" id="playerLateralityR"
                                   value="{{'playerLabels.playerLateralityR' | translate }}"
                                   ng-model="player.status.laterality"/>
                            <label for="playerLateralityR">{{'playerLabels.playerLateralityR' | translate }}</label>
                        </div>

                        <div class="col m1 hide-on-small-only">&nbsp;</div>

                        <div class="input-field col m6 s12">
                            <label class="active" for="playerWeight">{{'playerLabels.playerWeight' | translate
                                }}</label>
                            <input id="playerWeight" type="number" class="validate" min="0"
                                   ng-model="player.status.weight" value="player.status.weight">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m6 hide-on-small-only">&nbsp;</div>

                        <div class="input-field col m6 s12">
                            <label class="active" for="playerHeight">{{'playerLabels.playerHeight' | translate
                                }}</label>
                            <input id="playerHeight" type="number" class="validate" min="0"
                                   ng-model="player.status.height">
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>

                    <!-- actions buttons desktop-->
                    <div class="row hide-on-med-and-down">
                        <div class="col m3">&nbsp;</div>
                        <div class="col m6 center-align">
                            <button class="btn red lighteen-1 white-text" ng-click="doTheBack()">
                                {{'commons.buttons.cancel' | translate }}
                            </button>
                            &nbsp;
                            <button class="btn white-text blue-grey darken-3" wz-previous type="submit" name="previous">
                                {{'commons.buttons.previous' | translate }}
                            </button>
                            &nbsp;
                            <button wz-next class="btn white-text green darken-1"
                                    ng-disabled="playerCaracterSection.$invalid">{{'commons.buttons.validate' |
                                translate }}
                            </button>
                        </div>
                        <div class="col m3">&nbsp;</div>
                    </div>

                    <!-- actions buttons on smartphone and tablet-->
                    <div class="row hide-on-large-only center-align">
                        <div class="col s4">
                            <button class="btn red lighteen-1 white-text col s12" ng-click="doTheBack()">
                                {{'commons.buttons.cancel' | translate }}
                            </button>
                        </div>
                        <div class="col s4">
                            <button class="btn white-text blue-grey darken-3 col s12" wz-previous type="submit"
                                    name="previous">{{'commons.buttons.previous' | translate }}
                            </button>
                        </div>
                        <div class="col s4">
                            <button wz-next class="btn white-text green darken-1 col s12"
                                    ng-disabled="playerCaracterSection.$invalid">{{'commons.buttons.validate' |
                                translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </wz-step>
        </wizard>
    </div>


    <!-- body end-->
</div>
