<div class="primary-text-color">

    <!-- Entete -->
    <div class="row">
        <div class="col s12 accent-text-color center">
            <h4 translate="signupStartPage.form.title"></h4>
        </div>
    </div>

    <form ng-submit="usernameTest()" name="signupStartPageForm">
        <div class="row container">

            <!-- Firstname & Name -->
            <div class="col m1 hide-on-small-only">&nbsp;</div>
            <div class="col s12 m4">
                <input id="firstname" name="firstname" type="text" class="validate" ng-model="signup.firstname" required
                       tabindex="1"
                       ng-pattern="'[a-zA-ZÀÁÂÃÄÅàáâãäåÒÓÔÕÖØòóôõöøÈÉÊËèéêëÇçÌÍÎÏìíîïÙÚÛÜùúûüÿÑñ -]+'">
                <label for="firstname">
                    {{'signupStartPage.form.label.firstname' | translate }}
                    <span class="colorAccent-text">*</span>
                </label>
                <span class="small colorAccent-text invalid"
                      ng-if="signupStartPageForm.firstname.$error.pattern"
                      translate="signupStartPage.form.messageControl.badchars"></span>
            </div>

            <div class="col m2 hide-on-small-only">&nbsp;</div>

            <div class="col s12 m4">
                <input id="name" name="name" type="text" class="validate" ng-model="signup.name" required tabindex="2"
                       ng-pattern="'[a-zA-ZÀÁÂÃÄÅàáâãäåÒÓÔÕÖØòóôõöøÈÉÊËèéêëÇçÌÍÎÏìíîïÙÚÛÜùúûüÿÑñ -]+'">
                <label for="name">
                    {{'signupStartPage.form.label.name' | translate }}
                    <span class="colorAccent-text">*</span>
                </label>
                <span class="small colorAccent-text invalid"
                      ng-if="signupStartPageForm.name.$error.pattern"
                      translate="signupStartPage.form.messageControl.badchars"></span>
            </div>

            <div class="col m1 hide-on-small-only">&nbsp;</div>
        </div>

        <div class="row container">
            <!-- Login & e-Mail -->
            <div class="col m1 hide-on-small-only">&nbsp;</div>
            <div class="col s12 m4">
                <input id="login" name="login" type="text" class="validate" ng-model="signup.account.login" required
                       tabindex="3"
                       ng-pattern="'[a-zA-Z0-9_\-]{3,}'">
                <label for="login">
                    {{'signupStartPage.form.label.login' | translate }}
                    <span class="colorAccent-text">*</span>
                </label>
                <span class="small colorAccent-text invalid"
                      ng-if="signupStartPageForm.login.$error.pattern"
                      translate="signupStartPage.form.messageControl.badchars"></span>
            </div>

            <div class="col m2 hide-on-small-only">&nbsp;</div>

            <div class="col s12 m4">
                <input type="text" name="email" id="email" ng-model="signup.contact.email"
                       ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                       tabindex="4">
                <label for="email">
                    {{'signupStartPage.form.label.email' | translate }}
                    <span class="colorAccent-text">*</span>
                </label>
                <span ng-class="{'has-error': signupStartPageForm.email.$dirty && signupStartPageForm.email.$error.required}"
                      class="small colorAccent-text"
                      ng-if="!signupStartPageForm.email.$valid"
                      translate="signupStartPage.form.messageControl.emailDirty"></span>
            </div>
            <div class="col m1 hide-on-small-only">&nbsp;</div>
        </div>

        <div class="row container">
            <!-- Password & confirm -->
            <div class="col m1 hide-on-small-only">&nbsp;</div>
            <div class="col s12 m4">
                <input id="password" type="password" class="validate" ng-model="signup.account.passwd" required
                       tabindex="5">
                <label for="password">
                    {{'signupStartPage.form.label.password' | translate }}
                    <span class="colorAccent-text">*</span>
                </label>
                <div ng-if="signup.account.passwd">
                    <small translate='signupStartPage.form.messageControl.passwdStrength'></small>
                    <div ng-hide="true" ng-password-strength="signup.account.passwd" strength="passStrength"
                         inner-class="meter"></div>
                    <div class="progress grey lighten-2">
                        <div class="determinate"
                             ng-class="{'red' : passStrength < 33, 'orange': passStrength >= 33 && passStrength < 66, 'green' : passStrength >= 66}"
                             style="width: {{ passStrength }}%">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col m2 hide-on-small-only">&nbsp;</div>

            <div class="col s12 m4">
                <input id="passwordConfirm" name="passwordConfirm" type="password" class="validate"
                       ng-model="passwdConfirm" required tabindex="6" passwd-check="password">
                <label for="passwordConfirm">
                    {{'signupStartPage.form.label.passwordConfirm' | translate }}
                    <span class="colorAccent-text">*</span>
                </label>
                <span ng-if="signupStartPageForm.passwordConfirm.$dirty && signupStartPageForm.passwordConfirm.$error.pwmatch"
                      class="small colorAccent-text"
                      translate="signupStartPage.form.messageControl.password.different"></span>
            </div>
            <div class="col m1 hide-on-small-only">&nbsp;</div>
        </div>

        <!-- Captcha -->
        <div class="row container">
            <div class="col m1 hide-on-small-only">&nbsp;</div>
            <div class="col s12 m10">
                <div vc-recaptcha ng-model="signup.captcha"
                     on-create="setWidgetId(widgetId)"
                     on-expire="cbExpiration()"
                ></div>
            </div>
            <div class="col m1 hide-on-small-only">&nbsp;</div>
        </div>

        <!-- Buttons -->
        <div class="row center container">
            <div class="col s12">
                <a ng-click="cancelSignup()"
                   class="modal-action modal-close waves-effect waves-white btn dark-primary-color"
                   translate="commons.buttons.cancel" tabindex="9">
                </a>
                <button type="submit"
                        translate="commons.buttons.validate" ng-disabled="signupStartPageForm.$invalid" tabindex="8"
                        ng-class="{'btn btn-s waves-effect waves-white disabled': signupStartPageForm.$invalid, 
                                  'btn btn-s waves-effect waves-white accent-color': !signupStartPageForm.$invalid}">
                </button>
            </div>
        </div>
    </form>

    <!-- body end-->
</div>