<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>

    <!-- view desktop -->

    <!-- Resume-->
    <div class="row">
        <div class="col s12">

            <title-page-bar icon="event"
                            title="{{collecte.event.label}} : {{collecte.startDateLabel}}"></title-page-bar>
            
            <div class="row light-primary-color">
                <div class="col s12 center-align" ng-if="teamHome">
                    <h5>
                        <span ng-if="teamHome">
                            <a href="#/private/viewTeam/{{collecte.event.participants.teamHome._id}}/false"
                               class="accent-color btn">{{collecte.event.participants.teamHome.label}}
                            </a>
                        </span>
                        -
                        {{collecte.event.participants.teamVisitor.label}}
                    </h5>
                </div>

                <div class="col s12 center-align" ng-if="teamVisitor">

                    {{collecte.event.participants.teamHome.label}}
                    -
                    <span ng-if="teamVisitor">
                            <a href="#/private/viewTeam/{{collecte.event.participants.teamVisitor._id}}/false"
                               class="accent-color btn">{{collecte.event.participants.teamVisitor.label}}
                            </a>
                        </span>
                </div>
            </div>

            <!-- Stats goals/sanction/use start -->
            <div class="row">

                <div class="col s12 m12 l4">
                    <stats-goals bind-to-id="goalScored"
                                 label="goalScored"
                                 sandbox-id="meta.sandbox._id">
                    </stats-goals>
                </div>
                <div class="col s12 hide-on-large-only"><br/></div>
                <div class="col s12 m12 l4">
                    <stats-goals bind-to-id="goalConceded"
                                 label="goalConceded"
                                 sandbox-id="meta.sandbox._id">
                    </stats-goals>
                </div>
                <div class="col s12 hide-on-large-only"><br/></div>
                <div class="col s12 m12 l4">
                    <stats-sanction></stats-sanction>
                </div>
            </div>
            <!-- Stats goals/sanction/use end -->
            
            <goal-heat-map meta="meta" owners-id="ownersId" datas="assets/heatmap.json"
                           start-date="collecte.startDate" end-date="collecte.endDate" 
                           instance="instance"
                           is-team="true"></goal-heat-map>


            <!-- Stats shoot efficiency Start -->
            <div class="row">
                <div class="col s12 left-align grey-text text-ligthen-2">
                    <h5>
                        <small translate="stats.efficiency.efficiency"></small>
                    </h5>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user"></widget-efficiency-player>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user" values="['BACKLEFT9', 'CENTER9', 'BACKRIGHT9']"
                                              widget-title="'stats.efficiency.efficiency9m'"></widget-efficiency-player>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user"
                                              values="['BACKLEFT6', 'CENTER6', 'BACKRIGHT6', 'LWING', 'RWING']"
                                              widget-title="'stats.efficiency.efficiency6m'"></widget-efficiency-player>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-player meta="meta" user="user" values="['PENALTY']"
                                              widget-title="'stats.efficiency.efficiency7m'"></widget-efficiency-player>
                </div>
            </div>
            
            <div class="row">
                <div class="col s12 left-align grey-text text-ligthen-2">
                    <h5>
                        <small translate="stats.efficiency.efficiencyGoalkeeper"></small>
                        <h6 class ="primary-text-color" translate="stats.efficiency.efficiencyGoalkeeperDesc"></h6>
                    </h5>
                </div>
                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-goalkeeper meta="meta" user="user"></widget-efficiency-goalkeeper>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-goalkeeper meta="meta" user="user" values="['BACKLEFT9', 'CENTER9', 'BACKRIGHT9']"
                                              widget-title="'stats.efficiency.efficiency9m'"></widget-efficiency-goalkeeper>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-goalkeeper meta="meta" user="user"
                                              values="['BACKLEFT6', 'CENTER6', 'BACKRIGHT6', 'LWING', 'RWING']"
                                              widget-title="'stats.efficiency.efficiency6m'"></widget-efficiency-goalkeeper>
                </div>

                <div class="col s12 m6 l3" style="margin-top:15px;">
                    <widget-efficiency-goalkeeper meta="meta" user="user" values="['PENALTY']"
                                              widget-title="'stats.efficiency.efficiency7m'"></widget-efficiency-goalkeeper>
                </div>
            </div>
            <!-- Stats shoot efficiency end -->

            <!-- Stats actions pos/neg Start -->
            <div class="row">
                <div class="col s12 left-align grey-text text-ligthen-2">
                    <h5>
                        <small translate="stats.actionTab.title"></small>
                    </h5>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.positive' | translate}}"
                                        meta="meta"
                                        indicators="['penaltyObtained', 'exclTmpObtained', 'shift', 'duelWon', 'passDec']"></qaobee-radar-chart>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart title="{{'stats.actionTab.attack' | translate}} {{'stats.actionTab.negative' | translate}}"
                                        meta="meta"
                                        indicators="['forceAtt', 'marcher', 'doubleDribble', 'looseball', 'foot', 'zone', 'stopGKAtt']"></qaobee-radar-chart>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.positive' | translate}}"
                                        meta="meta"
                                        indicators="['neutralization', 'forceDef', 'contre', 'interceptionOk']"></qaobee-radar-chart>
                </div>
                <div class="col s12 m6">
                    <qaobee-radar-chart title="{{'stats.actionTab.defense' | translate}} {{'stats.actionTab.negative' | translate}}"
                                        meta="meta"
                                        indicators="['penaltyConceded', 'interceptionKo', 'duelLoose', 'badPosition']"></qaobee-radar-chart>
                </div>
            </div>
            <!-- Stats actions pos/neg End -->

            <!-- Stats participants Start -->
            <div class="row" ng-if="players.length > 0">
                <div class="col s12 dark-primary-color"><h5><i class="fa fa-bar-chart"></i>
                    {{'stats.eventLabels.listPlayers' | translate }}</h5></div>
                <div class=" card col s12">
                    <!-- player -->
                    <table class="bordered responsive-table highlight">
                        <thead>
                        <tr class="light-primary-color">
                            <th data-field="player" translate="stats.eventLabels.player"></th>
                            <th class="center-align" data-field="holder" translate="stats.eventLabels.holder"></th>
                            <th class="center-align" data-field="playTime" translate="stats.eventLabels.playTime"></th>
                            <th class="center-align" data-field="efficiency" translate="stats.eventLabels.efficiency"></th>
                            <th class="center-align" data-field="sanction" translate="stats.eventLabels.sanction"></th>
                            <th class="center-align" data-field="attack" translate="stats.eventLabels.attack"></th>
                            <th class="center-align" data-field="defense" translate="stats.eventLabels.defense"></th>
                            <th class="center-align" data-field="note" translate="stats.eventLabels.note"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in players | filter:{$:'!goalkeeper'}">
                            <td><a href="#/private/viewPlayer/{{player._id}}" class="accent-text-color">{{player.name}} {{player.firstname}}</a></td>
                            <td class="center-align"><span ng-if="player.stats.holder>0"><i class="fa fa-star-o"></i></span></td>
                            <td class="center-align"><span ng-if="player.stats.totalPlayTime>0">{{player.stats.totalPlayTime/60 | number : 0}} '</span></td>
                            <td class="center-align">
                                <span ng-if="player.stats.originShootAtt > 0">{{player.stats.goalScored}} / {{player.stats.originShootAtt}} <span class="light-text-color">({{(player.stats.goalScored/player.stats.originShootAtt)*100 | number : 0}} %)</span></span>
                            </td>
                            
                            <td class="right-align">
                                <span ng-if="player.stats.yellowCard>0"><i class="material-icons yellow-text text-darken-2">sim_card_alert</i></span>
                                <span class="badge" ng-if="player.stats.exclTmp>0"><i class="fa fa-hand-peace-o"></i> &nbsp; {{player.stats.exclTmp}}</span>
                                <span ng-if="player.stats.redCard>0"><i class="material-icons red-text text-lighten-2">sim_card_alert</i></span>
                            </td>
                            
                            <td class="center-align"><span ng-if="player.stats.actAttPos+player.stats.actAttNeg>0">{{player.stats.actAttPos}} / {{player.stats.actAttNeg}}</span></td>
                            <td class="center-align"><span ng-if="player.stats.actDefPos+player.stats.actDefNeg>0">{{player.stats.actDefPos}} / {{player.stats.actDefNeg}}</span></td>
                            <td class="center-align" ng-class="{'secondary-color':getNotePlayer(player)>5, 'accent-color':getNotePlayer(player)<0, 'default-primary-color':getNotePlayer(player)>=0 && getNotePlayer(player)<=4}"><span ng-if="player.stats.totalPlayTime>0">{{getNotePlayer(player)}}</span></td>
                            
                        </tr>
                        </tbody>
                    </table>

                    <!-- goalkeeper -->
                    <table class="bordered responsive-table highlight">
                        <thead>
                        <tr class="light-primary-color">
                            <th data-field="player" translate="stats.eventLabels.goalkeeper"></th>
                            <th class="center-align" data-field="holder" translate="stats.eventLabels.holder"></th>
                            <th class="center-align" data-field="playTime" translate="stats.eventLabels.playTime"></th>
                            <th class="center-align" data-field="efficiency" translate="stats.eventLabels.efficiencyGoal"></th>
                            <th class="center-align" data-field="sanction" translate="stats.eventLabels.sanction"></th>
                            <th class="center-align" data-field="attack" translate="stats.eventLabels.attack"></th>
                            <th class="center-align" data-field="defense" translate="stats.eventLabels.defense"></th>
                            <th class="center-align" data-field="note" translate="stats.eventLabels.note"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="player in players | filter:{$:'goalkeeper'}">
                            <td><a href="#/private/viewPlayer/{{player._id}}" class="accent-text-color">{{player.name}} {{player.firstname}}</a></td>
                            <td class="center-align"><span ng-if="player.stats.holder>0"><i class="fa fa-star-o"></i></span></td>
                            <td class="center-align"><span ng-if="player.stats.totalPlayTime>0">{{player.stats.totalPlayTime/60 | number : 0}} '</span></td>
                            
                            <td class="center-align">
                                <span ng-if="player.stats.originShootDef > 0">{{player.stats.originShootDef-player.stats.goalConceded}} / {{player.stats.originShootDef}} <span class="light-text-color">
                                    ({{((player.stats.originShootDef-player.stats.goalConceded)/player.stats.originShootDef)*100 | number : 0}} %)</span></span>
                            </td>
                           <td class="right-align">
                                <span ng-if="player.stats.yellowCard>0"><i class="material-icons yellow-text text-darken-2">sim_card_alert</i></span>
                                <span class="badge" ng-if="player.stats.exclTmp>0"><i class="fa fa-hand-peace-o"></i> &nbsp; {{player.stats.exclTmp}}</span>
                                <span ng-if="player.stats.redCard>0"><i class="material-icons red-text text-lighten-2">sim_card_alert</i></span>
                            </td>
                            <td class="center-align"><span ng-if="player.stats.actAttNeg">{{player.stats.actAttPos}} / {{player.stats.actAttNeg}}</span></td>
                            <td class="center-align"><span ng-if="player.stats.actDefNeg">{{player.stats.actDefPos}} / {{player.stats.actDefNeg}}</span></td>
                            <td class="center-align secondary-color"><span ng-if="player.stats.totalPlayTime>0">{{getNoteGoalKeeper(player)}}</span></td>
                            
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Stats participants Start -->
        </div>
    </div>
</div>
