<div class="container" ng-cloack>

    <!-- space between header menu and body-->
    <div class="row"></div>
    
<!-- view desktop -->
    
    <!-- Resume-->
    <div class="row">
        <div class="col s12">
            
            <div class="row blue-grey darken-2">
                <div class="col l2 m1 s12 white-text center hide-on-small-only">
                    &nbsp;
                </div>
                <div class="col l8 m10 s12 white-text center-align" ng-if="teamHome">
                    <h5> 
                        <span ng-if="teamHome">
                            <a href="#/private/teamStats/{{collecte.event.participants.teamHome.id}}"
                                class="red lighten-1 white-text">{{collecte.event.participants.teamHome.label}}
                            </a>
                        </span>
                        <br class="hide-on-med-and-up">
                        - 
                        <br class="hide-on-med-and-up">
                        {{collecte.event.participants.teamVisitor.label}}                   
                    </h5>
                </div>
                
                <div class="col l8 m10 s12 white-text center-align" ng-if="teamVisitor">
                    <h5>
                        {{collecte.event.participants.teamHome.label}} 
                        <br class="hide-on-med-and-up">
                        - 
                        <br class="hide-on-med-and-up">
                        <span ng-if="teamVisitor">
                            <a href="#/private/teamStats/{{collecte.event.participants.teamVisitor.id}}"
                                class="red lighten-1 white-text">{{collecte.event.participants.teamVisitor.label}}
                            </a>
                        </span>
                    </h5>
                </div>
                <div class="col l2 m1 s12 white-text center-align">
                    <h5>
                    <a href="" class="blue-grey darken-2 white-text waves-effect waves-light" ng-click="doTheBack()">
                        <i class="fa fa-arrow-left"></i>   
                    </a>
                    </h5>
                </div>
                <div class="col s12 blue-grey-text text-darken-2 grey lighten-2 center">
                    <h6>{{collecte.event.label}} : {{collecte.startDateLabel}}</h6>
                </div>
            </div>
 
            <!-- Stats goals/sanction/use start -->
            <div class="row">
                
                <div class="col s12 m12 l4">
                    <stats-goals bind-to-id="goalScored" 
                                 label="goalScored" 
                                 sandbox-id="meta.sandbox._id">
                    </stats-goals>
                </div>
                <div class="col s12 hide-on-large-only"><br/></div>
                <div class="col s12 m12 l4">
                    <stats-goals bind-to-id="goalConceded" 
                                 label="goalConceded" 
                                 sandbox-id="meta.sandbox._id">
                    </stats-goals>
                </div>
                <div class="col s12 hide-on-large-only"><br/></div>
                <div class="col s12 m12 l4">
                    <stats-sanction></stats-sanction> 
                </div>
            </div>
            <!-- Stats goals/sanction/use end -->
           
            <div class="row"></div>
            
            <!-- Stats shoot efficiency Start -->
            <div class="row grey lighten-2">
                <div class="col s12 center blue-grey-text text-darken-2">
                    <br/>
                    <h5 style="padding-left:10px">{{'stats.efficiency.efficiency' | translate }}</h5>
                </div>
                
                <div class="col l3 m6 s12">
                    <stats-efficiency bind-to-id="gaugeEfficiencyGlobal" 
                        label="efficiencyTotal" padding="25">
                    </stats-efficiency>
                </div>
                
                <div class="col l3 m6 s12">
                    <stats-efficiency bind-to-id="gaugeEfficiency9m" 
                        label="efficiency9m" values="'values9m'" padding="25">
                    </stats-efficiency>
                </div>
                
                <div class="col l3 m6 s12">
                    <stats-efficiency bind-to-id="gaugeEfficiency6m" 
                        label="efficiency6m" values="'values6m'" padding="25">
                    </stats-efficiency>
                </div>
                
                <div class="col l3 m6 s12">
                    <stats-efficiency bind-to-id="gaugeEfficiency7m" 
                        label="efficiency7m" values="'values7m'" padding="25">
                    </stats-efficiency>
                </div>
            </div>
            <!-- Stats shoot efficiency end -->
            
            <!-- Stats actions pos/neg Start -->
            <div class="row">
                <div class="col s12 center white red-text text-lighten-2">
                    <h5>{{'stats.actionTab.title' | translate }}</h5>
                </div>
                <stats-actions-pos-neg></stats-actions-pos-neg>
            </div>
            <!-- Stats actions pos/neg End -->
            
            <!-- Stats participants Start -->
            <div class="row" ng-if="players.length > 0">
                <div>
                    <div class="col s12 white-text blue-grey darken-1"><h5><i class="fa fa-bar-chart"></i> {{'stats.eventLabels.listPlayers' | translate }}</h5></div>
                    <div class="col s12">
                        <table class="bordered responsive-table highlight">
                            <thead>
                                <tr class="grey lighten-2">
                                    <th data-field="player">Joueur</th>
                                    <th data-field="positionType">Poste</th>
                                    <th data-field="efficiency">Efficatité (B/T)</th>
                                    <th data-field="attack">Attaque (+/-)</th>
                                    <th data-field="defense">Défense (+/-)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in players">
                                    <td>{{player.name}} - {{player.firstname}}</td>
                                    <td>{{player.positionType}}</td>
                                    <td>50 % (2/4)</td>
                                    <td>3/4</td>
                                    <td>2/6</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Stats participants Start -->
        </div>
    </div>
</div>