<div class="container">
    <!-- entete start -->
    <div class="row colorMain white-text">
        <div class="col s2 left-align">
            <h5><i class="material-icons md-36">group</i></h5>
        </div>

        <div class="col s8 center-align">
            <h5>{{'mainTeam.title' | translate }} {{currentEffective.label}}</h5>
        </div>
        
        <div class="col s2">&nbsp;</div>
        
        <v-tabs class="tabs" horizontal active="activeTabIndex">
            <v-tab class="tab" ng-click="changeTabDefault(0)"><a ng-href="" ng-class="{'active': activeTabIndex === 0}" translate="tabTeam.dashboard"></a></v-tab>
            <v-tab class="tab" ng-click="changeTabDefault(1)"><a ng-href="" ng-class="{'active': activeTabIndex === 1}">{{'tabTeam.ListTeam' | translate }} ({{listTeamHome.length}})</a></v-tab>
        </v-tabs>
        
    </div>

    <div class="row">

        <v-pages class="vPages--default" active="activeTabIndex">
            <v-page>
                
                <div class="col s12 m6 l6" style="margin-top:15px;">
                    <widget-podium meta="meta" user="user" indicator="goalScored" nbitem="3" stataggregat="COUNT"></widget-podium>
                </div>

                <div class="col s12 m6 l6" style="margin-top:15px;">
                    <widget-podium meta="meta" user="user" indicator="playTime" nbitem="3" stataggregat="SUM"></widget-podium>
                </div>
            </v-page>
            
            
            <v-page>
                <div class="col s8">
                    <form class="forms forms-inline input-field">
                        <input type="text" id="queryTeam" class="grey lighten-4" ng-model="queryTeam">
                        <label for="queryTeam" translate="commons.buttons.filter"></label>
                    </form>
                </div>

                <div class="col s4 center-align">
                    <br>
                    <a href="#/private/addTeam/{{false}}" class="waves-effect waves-light btn colorAccent">
                        <i class="material-icons">add</i>
                    </a>

                    <button ng-click="compare()" title="{{'mainEffective.buttons.compare' | translate}}" class="waves-effect waves-light btn colorAccent">
                        <i class="material-icons">recent_actors</i>
                    </button>
                </div>

                <div class="col s12">&nbsp;</div>
                <!-- List team -->
                <ul>
                    <li class="col l3 m6 s12" ng-repeat="team in listTeamHome | filter:queryTeam">
                        <!-- enable -->
                        <div class="card white blue-grey-text text-darken-2" ng-show="team.enable===true">
                            <div class="card-content colorMain white-text center">
                                <span class="card-title">
                                    <a href="#/private/updateTeam/{{team._id}}/false" class="white-text"><small>{{team.label}}</small></a>
                                </span>
                            </div>
                            <div class="card-action">
                                <a href="#/private/teamStats/{{team._id}}" class="btn waves-effect colorAccent white-text"><i
                                        class="fa fa-bar-chart"></i></a>
                                <div class="right">
                                    <input type="checkbox" ng-model="compareList[team._id]" name="compare"
                                           ng-change="updateTeamToCompare(team._id)"
                                           ng-checked="compareList[team._id]" id="compare1-{{team._id}}"/>
                                    <label for="compare1-{{team._id}}"></label>
                                </div>
                            </div>
                        </div>
                        <!-- disable -->
                        <div class="card white blue-grey-text text-darken-2" ng-show="team.enable===false">
                            <div class="card-content grey lighten-2 grey-text text-darken-2 center">
                                <span class="card-title">
                                    <a href="#/private/updateTeam/{{team._id}}/false" class="blue-grey-text text-darken-2"><small>{{team.label}}</small></a>
                                </span>
                            </div>
                            <div class="card-action">
                                <a href="#/private/teamStats/{{team._id}}" class="btn waves-effect colorAccent white-text"><i
                                        class="fa fa-bar-chart"></i></a>
                                
                                <div class="right">
                                    <input type="checkbox" ng-model="compareList[team._id]" name="compare"
                                           ng-change="updateTeamToCompare(team._id)"
                                           ng-checked="compareList[team._id]" id="compare1-{{team._id}}"/>
                                    <label for="compare1-{{team._id}}"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </v-page>
        </v-pages>
    </div>
    <!-- body end-->
</div>