<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row"></div>
    <title-page-bar icon="group" title="{{team.label}}"></title-page-bar>
    
    <!-- 
        *****************************************************************************
        Pour l'instant ne pas permettre de modifier une équipe sur l'application web.
        *****************************************************************************
    <div class="row card">
        <div class="col m12 s12">
            <input type="checkbox" ng-model="showDetail" />
            <span class="card-title activator accent-text-color" ng-click="showDetail = !showDetail">
                <i class="fa fa-fw fa-chevron-down"></i>
                <span class="primary-text-color" translate="teamLabels.teamSheet"></span></span>

            <div class="card-content right-align card-toggle" >
                <team-infos team="team"></team-infos>
                <a href="#/private/updateTeam/{{team._id}}/false" class="btn-large btn-floating red">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        </div>
    </div>
    -->
    <div class="row card">
        <!--card-->
        <div class="col m12 s12 animated fadeIn">
            <div class="card-content">
                <team-stats team="team" meta="meta" user="user"></team-stats>
            </div>
        </div>
    </div>
</div>
